@media screen and (max-width:1440px) {

    /*delete*/
    #delete .deleteWrap .deleteContents{
        width: 65% !important;
    }



    /*pwdReset*/
    #pwdReset .pwdResetWrap .pwdResetContents{
        width: 65% !important;
    }


    /*pwdResetComplete*/
    #pwdResetComplete .pwdResetCompleteWrap .pwdResetCompleteContents {
        width: 55% !important;
        padding: 7% 3% !important;
    }
}



/*노트북*/
@media screen and (max-width:1024px) {


}

/*아이패드 (768px)*/
@media screen and (max-width:991px) {

    /*delete*/
    #delete .deleteWrap .deleteContents {
        width: 85% !important;
    }

    /*pwdReset*/
    #pwdReset .pwdResetWrap .pwdResetContents{
        width: 85% !important;
    }
}



/*모바일*/

@media screen and (max-width:767px) {


    /*delete*/
    #delete .deleteWrap .deleteContents {
        width: 100% !important;
    }

    /*pwdReset*/
    #pwdReset .pwdResetWrap .pwdResetContents{
        width: 100% !important;
    }


    /*pwdResetComplete*/
    #pwdResetComplete .pwdResetCompleteWrap .pwdResetCompleteContents {
        width: 100% !important;
        padding: 7% 5% !important;
    }
}


/*모바일2*/


@media screen and (max-width:576px) {


}



/*모바일3 갤럭시*/

@media screen and (max-width:425px) {

    /*delet*/
    #delete .deleteWrap .deleteContents {
        padding: 8% 5% !important;
    }

    /*pwdReset*/
    #pwdReset .pwdResetWrap .pwdResetContents{
        padding: 8% 5% !important;
    }

    /*pwdResetComplete*/
    #pwdResetComplete .pwdResetCompleteWrap .pwdResetCompleteContents h5.pwdResetCompleteMessage {
        font-size: 1.1em !important;
    }
}



/*모바일4 아이폰*/
@media screen and (max-width:375px) {

    /*delet*/
    #delete .deleteWrap .deleteContents .deletPwdConfirm p {
        font-size: 0.8em;
    }

    /*pwdReset*/
    #pwdReset .pwdResetWrap .pwdResetContents .pwdResetForm p {
        font-size: 0.8em;
    }
}