input:focus{
    outline: none !important;
}

#pwdResetComplete{
    width: 100%;
    padding: 230px 0;
}

#pwdResetComplete .pwdResetCompleteWrap{
    width: 100%;
}

#pwdResetComplete .pwdResetCompleteWrap .pwdResetCompleteContents{ 
    width: 45%;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    padding: 3% 5%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#pwdResetComplete .pwdResetCompleteWrap .pwdResetCompleteContents h5.pwdResetCompleteTitle{
    width: 100%;
    position: absolute;
    left: 0;
    top: -30px;
    text-align: left;
}


#pwdResetComplete .pwdResetCompleteWrap .pwdResetCompleteContents h5.pwdResetCompleteMessage{
    font-weight: 600;
    font-size: 1.3em;
}



#pwdResetComplete .pwdResetCompleteWrap .pwdResetCompleteContents .pwdResetCompleteForm p{
    font-weight: 300;
    font-size: 0.9em;
}

#pwdResetComplete .pwdResetCompleteWrap .pwdResetCompleteContents .pwdResetCompleteForm .pwdResetCompleteGotoMain{
    background-color: #9DC4E7;
    color: #fff;
    border:none;
    padding: 3% 2%;
    width: 100%;
    margin-top: 6%;
}

#pwdResetComplete .pwdResetCompleteWrap .pwdResetCompleteContents .pwdResetCompleteForm .pwdResetCompleteGotoMain a{
    width: 100%;
    display: block;
    text-decoration: none;
    color: #fff;
}

