<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <title>게시판</title>

  <!--meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="le=edge">

  <!--bootstrap-->
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

  <!--css-->
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link rel="stylesheet" th:href="@{/css/mobile.css}">
  <link rel="stylesheet" th:href="@{/css/sanitize.css}">
  <link rel="stylesheet" th:href="@{/css/board.css}">

  <link rel="stylesheet" th:href="@{https://unpkg.com/aos@2.3.1/dist/aos.css}">
  <link rel="stylesheet" th:href="@{http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css}">
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css}"/>

  <!--js-->
  <script th:src="@{http://code.jquery.com/jquery-latest.min.js}"></script>
  <script th:src="@{https://unpkg.com/aos@2.3.1/dist/aos.js}"></script>
  <script th:src="@{https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js}"></script>

  <!--favicon--->
  <link th:href="@{../favicon.ico}" rel="icon">
  <link th:href="@{../favicon.ico}" rel="apple-touch-icon">

  <script type="text/javascript">
    $(document).ready( function() {
      $('#headers').css("position", "fixed");
      $('#headers').css("width", "100%");
      $('#headers').css("z-index", "5");
      $('#menu').css("margin-top", "-16px");
    });
  </script>

</head>

<div id="headers">
  <th:block th:include="Component/header.html"></th:block>
</div>

<div layout:fragment="content"></div>

<script>
  $(document).ready(function() {
    // 페이지 로드 시 요소 숨기기
    $('.board-button-hover-text, .board-button-arrow-image').hide();

    // 각 버튼을 호버할 때 이미지와 텍스트를 서서히 나타나게 함
    $('.board-button-button').hover(
            function() {
              // 호버 인 시
              $(this).find('.board-button-hover-text, .board-button-arrow-image').fadeIn(300); // 200ms 동안 서서히 나타나도록 설정
            },
            function() {
              // 호버 아웃 시
              $(this).find('.board-button-hover-text, .board-button-arrow-image').fadeOut(250); // 200ms 동안 서서히 사라지도록 설정
            }
    );
  });
</script>

<script src="/js/board.js" type="text/javascript"></script>

<div>
  <th:block th:include="Component/footer.html"></th:block>
</div>
</html>