<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">
    <title>여행지 상세</title>


    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">


    <!--bootstrap-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />


    <div class=""></div>
    <!--css-->
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/mobile.css}" rel="stylesheet" />
    <link th:href="@{/css/sanitize.css}" rel="stylesheet" />
    <link th:href="@{/css/tourDetail.css}" rel="stylesheet" />


    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" rel="stylesheet" />

    <!--js-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/header.js}"></script>
    <script type="text/javascript" th:src="@{/js/tourDetail.js}"></script>

    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
</head>
<body>
<div id="headers">
    <th:block th:include="component/header.html"></th:block>
</div>
<div class="tourBg">
    <h3>다알개 여행지</h3>
</div>
<!--<div class="tourDetailtitle"><p class="DetailTitleText">관광지</p></div>-->
<div class="tourDetailWhiteSpace"></div>
<div class="tourDetailContent">
    <input type="hidden" th:value="${findDetail.tourPhoto}" class="tourPhotoVal">
    <img class="tourPhoto" height="500px" alt="관광지 이미지"/>
    <div class="tourDescBox">
        <div class="tourDescText">
            <button onclick="likeClick();"><img class="likeListImageLeft" src="/images/likeList.png" /></button>
            <span class="descTitle" th:text="${findDetail.tourTitle}"></span><br><br>
            <span class="descAttrName">주소
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span><div class="addr" th:text="${findDetail.addr}" th:title="${findDetail.addr}"></div>
            <span class="descAttrName">문의처
                    &#09;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span><div class="tel" th:text="${findDetail.tel}"></div>
            <span class="descAttrName">이용시간
                    &#09;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span><div class="useTime" th:text="${findDetail.time.replaceAll('none', '')}"></div>
            <span class="descAttrName">홈페이지
                    &#09;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span><input type="hidden" th:value="${findDetail.page.replaceAll('none', '')}" class="findPage">
        </div>
        <input type="hidden" th:value="${findDetail.supplies}" class="supplies">
        <input type="hidden" th:value="${findDetail.facilities}" class="facilities">
        <div class="tourImageBox">
        </div>
    </div>
</div>


<input type="hidden" th:value="${findDetail.tourCategory}" class="isHospital">
<div class="hideHospital">
    <div class="tourDetailWhiteSpace"></div>
    <p class="imageAndText"><img class="tourPawImage" th:src="@{/images/dogPaw.png}" />애견 정책</p>
    <div class="px300">
        <p class="introDesc" th:utext="${findDetail.policy}">
        </p>
    </div>
    <div class="tourDetailWhiteSpace"></div>
    <p class="imageAndText"><img class="tourPawImage" th:src="@{/images/dogPaw.png}" />유의 사항</p>
    <div class="px300">
        <p class="introDesc" th:utext="${findDetail.notice}">
        </p>
    </div>
    <div class="tourDetailWhiteSpace"></div>
    <p class="imageAndText"><img class="tourPawImage" th:src="@{/images/dogPaw.png}" />비품 제공</p>
    <div class="px300">
        <p class="introDesc" th:utext="${findDetail.supplies}">
        </p>
    </div>
    <div class="tourDetailWhiteSpace"></div>
    <p class="imageAndText"><img class="tourPawImage" th:src="@{/images/dogPaw.png}" />주변 환경</p>
    <div class="px300">
        <p class="introDesc" th:utext="${findDetail.facilities}">
        </p>
    </div>
    <div class="tourDetailWhiteSpace"></div>
    <p class="imageAndText"><img class="tourPawImage" th:src="@{/images/dogPaw.png}" />소개</p>
    <div class="px300">
        <p class="introDesc" th:utext="${findDetail.intro}">
        </p>
    </div>
</div>

<div class="tourDetailWhiteSpace"></div>
<p class="imageAndText"><img class="tourPawImage" th:src="@{/images/dogPaw.png}" />지도 보기</p>
<p class="introDesc" th:text="${findDetail.addr}">전라남도 장흥군 관산읍 칠관로 842-1150 </p><br>
<input type="hidden" class="mapx" th:value="${findDetail.mapx}">
<input type="hidden" class="tourCode" th:value="${findDetail.tourCode}">
<input type="hidden" class="mapy" th:value="${findDetail.mapy}">
<input type="hidden" class="title" th:value="${findDetail.tourTitle}">
    <div id="map" class="tourLocMap"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cee456796362f003412371bb71c7faa0"></script>
<div class="tourDetailWhiteSpace"></div>
<p id="nearTourInfo" class="imageAndText"><img class="tourPawImage" th:src="@{/images/dogPaw.png}" />주변 여행지</p><br><br>
<div class="nearTourImageBox">
    <!--<a href="#"><div class="nearImageAndText">
        <img class="nearTourImage" height="325px" th:src="@{/images/dogPhoto1.png}" />
        <p class="nearImageText">오크카운티펜션</p>
    </div></a>
    <div class="shortWhiteSpace"></div>
    <a href="#"><div class="nearImageAndText">
        <img class="nearTourImage" height="325px" th:src="@{/images/dogPhoto1.png}" />
        <p class="nearImageText">아기사자</p>
    </div></a>
    <div class="shortWhiteSpace"></div>
    <a href="#"><div class="nearImageAndText">
        <img class="nearTourImage" height="325px" th:src="@{/images/dogPhoto1.png}" />
        <p class="nearImageText">지니의캠프펜션</p>
    </div></a>
    <div class="shortWhiteSpace"></div>-->
</div>
<div class="whiteSpaceEncycle">
    <div class="logoInPage"></div>
</div>
<div class="toListSpace">
    <div class="toListSpaceMiddle">
        <button class="middleButtonList" onclick="location.href='/tour/tourList?no=1&keyword=&country=지역&category=분류'"><div class="toList">목록</div></button>
    </div>
</div>
<div>
    <th:block th:include="component/footer.html"></th:block>
</div>
</body>