<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>여행지 찾기</title>


    <!--meta-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="le=edge">

      
      <!--bootstrap-->
      <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
      
      
      <div class=""></div>
      <!--css-->
      <link rel="stylesheet" href="../css/index.css">
      <link rel="stylesheet" href="../css/mobile.css">
      <link rel="stylesheet" href="../css/sanitize.css">
      <link rel="stylesheet" href="../tour/css/tour.css">

      
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

      <!--js-->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
      
    <!--favicon--->
      <link href="favicon.ico" rel="icon">
      <link href="favicon.ico" rel="apple-touch-icon">
      <script type="text/javascript">
          $(document).ready( function() {
              $("#headers").load("../Component/header.html");
              $('#headers').css("position", "fixed");
              $('#headers').css("width", "100%");
              $('#headers').css("z-index", "5");
              $("#footers").load("../Component/footer.html");
              $('#footers').css("z-index", "5");
              let selectNum = $('input[name=selectNum]').val();
              if(selectNum == 1) {
                  $('#tourCheck input').prop('checked', 'true');
              }
              if(selectNum == 2) {
                  $('#accomoCheck input').prop('checked', 'true');
              }
              if(selectNum == 3) {
                  $('#foodCheck input').prop('checked', 'true');
              }
              if(selectNum == 4) {
                  $('#activityCheck input').prop('checked', 'true');
              }
              if(selectNum == 5) {
                  $('#hospitalCheck input').prop('checked', 'true');
              }
              $('.listTour1').click(function(){
                  if($('#tourCheck input').prop('checked') == true) {
                      $('#tourCheck input').prop('checked', false);
                  } else {
                      $('#tourCheck input').prop('checked', true);
                  }
              });
              $('.listTour2').click(function(){
                  if( $('#accomoCheck input').prop('checked')  == true) {
                      $('#accomoCheck input').prop('checked', false);
                  } else {
                      $('#accomoCheck input').prop('checked', true);
                  }
              });
              $('.listTour3').click(function(){
                  if( $('#foodCheck input').prop('checked')  == true) {
                      $('#foodCheck input').prop('checked', false);
                  } else {
                      $('#foodCheck input').prop('checked', true);
                  }
              });
              $('.listTour4').click(function(){
                  if( $('#activityCheck input').prop('checked')  == true) {
                      $('#activityCheck input').prop('checked', false);
                  } else {
                      $('#activityCheck input').prop('checked', true);
                  }
              });
              $('.listTour5').click(function(){
                  if( $('#hospitalCheck input').prop('checked')  == true) {
                      $('#hospitalCheck input').prop('checked', false);
                  } else {
                      $('#hospitalCheck input').prop('checked', true);
                  }
              });
          });
      </script>
  </head>
  <body>
  <input type="hidden" name="selectNum" th:value="${select}">
  <div id="headers"></div>
    <section id="tour">

        <div class="tourBg">
            <h3>다알개 여행지</h3>
        </div>
        <div class="tourWrap">
            <div class="tourContents">
                <div class="mapApi">
                    <h4>전체</h4>
                    <img src="../tour/images/tourMap.png" alt="tourMap">
                </div>

                <div class="mapSearch">
                    <div class="mapSearchWrap">
                        <div class="mapSearchUp">

                            <form class="mapSearchForm" action="" method="post">
                                <h5>다알개지도검색</h5>

                                <div class="searchBox">
                                <input type="search" name="mapSearchBox" id="mapSearchBox"/>
                                 </div>

                                <div class="searchList">
                                    <div class="listTour listTour1">
                                        <div class="listTourImag"><img src="../tour/images/tour.png" alt="tour"></div>
                                        <p>관광</p>
                                    </div>

                                    <div class="listTour listTour2">
                                        <div class="listTourImag"><img src="../tour/images/accomo.png" alt="accomo"></div>
                                        <p>숙박</p>
                                    </div>

                                    <div class="listTour listTour3">
                                        <div class="listTourImag"><img src="../tour/images/food.png" alt="food"></div>
                                        <p>식음료</p>
                                    </div>

                                    <div class="listTour listTour4">
                                        <div class="listTourImag"><img src="../tour/images/activity.png" alt="activity"></div>
                                        <p>체험</p>
                                    </div>

                                    <div class="listTour listTour5">
                                        <div class="listTourImag"><img src="../tour/images/hospital.png" alt="hospital"></div>
                                        <p>동물병원</p>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="mapSearchDown">
                            <div class="searchAroundTitle">
                                <p>주변 탐색</p>
                                <div class="searchLine">
                                    <img src="../tour/images/tourLine.png" alt="tourLine">
                                </div>
                            </div>

                            <div class="searchAroundContents">
                                <form action="" method="post" class="searcharoundForm">
                                    <label id="tourCheck">
                                        <input type="checkbox" name="tourCheck" id="tourCheck"/>
                                        <span>관광지</span>
                                    </label>
                                    <label id="accomoCheck">
                                        <input type="checkbox" name="accomoCheck" id="accomoCheck"/>
                                        <span>숙박</span>
                                    </label>
                                    <label id="foodCheck">
                                        <input type="checkbox" name="foodCheck" id="foodCheck"/>
                                        <span>식음료</span>
                                    </label>
                                    <label id="activityCheck">
                                        <input type="checkbox" name="activityCheck" id="activityCheck"/>
                                        <span>체험</span>
                                    </label>
                                    <label id="hospitalCheck">
                                        <input type="checkbox" name="hospitalCheck" id="hospitalCheck"/>
                                        <span>동물병원</span>
                                    </label>
                                </form>
                            </div>

                            <div class="tourArrow">
                                <img src="../tour/images/arrow.png" alt="arrow">
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
        <div class="whiteSpaceEncycle">
            <div class="logoInPage"></div>
        </div>
    </section>

    <script type="text/javascript">
        const arrow = document.querySelector(".tourArrow");
        const map = document.querySelector(".mapSearch");

        arrow.addEventListener('click', function(){
            if($('.mapSearch').css("left") == "-370px" ) {
                $('.mapSearch').css("left", "0px");
            } else {
                $('.mapSearch').css("left", "-370px");
            }
        })
    </script>
  <div id="footers"></div>
  </body>


 