#MatchingTestMain{
    width: 100%;
    padding: 130px 0 100px;
    text-align: center;
}

#MatchingTestMain .MatchingTestMainWrap{
    width: 100%;
}

#MatchingTestMain .MatchingTestMainWrap h3{
    width: 100%;
    color: #639DD7;
}

#MatchingTestMain .MatchingTestMainWrap .testMainImg{
    width: 100%;
    margin: 3% 0;
}

#MatchingTestMain .MatchingTestMainWrap .testMainImg img{
    max-width: 40%;
}

#MatchingTestMain .MatchingTestMainWrap .start{
    width: 20%;
    margin: 0 auto;
    background-color: #A6CEF7;
    border-radius: 10px;
    transition: all .5s;
}

#MatchingTestMain .MatchingTestMainWrap .start a{
    display: block;
    width: 100%;
    color: #fff;
    padding: 5%;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 1.2em;

}

#MatchingTestMain .MatchingTestMainWrap .start:hover{
    background-color: #639DD7;
}