#MatchingTestResult{
    width: 100%;
    padding: 130px 0 100px;
    text-align: center;
}

#MatchingTestResult .MatchingTestResultWrap{
    width: 100%;
}

#MatchingTestResult .MatchingTestResultWrap h4{
    width: 100%;
    color: #222;
    margin-bottom: 4%;

}

#MatchingTestResult .MatchingTestResultWrap .MatchingTestResultContent{
    width: 80%;
    margin: 0 auto;
    border: 5px solid #639DD7;
    border-radius: 10px;
    padding: 3% 0 3%;
    position: relative;
}

#MatchingTestResult .MatchingTestResultWrap .MatchingTestResultContent::after{
    content: "결과";
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    background-color: #639DD7;
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
    border-radius: 50%;
    padding-top: 10px;
}

#MatchingTestResult .MatchingTestResultWrap .MatchingTestResultContent .testResultDog{
    color: #639DD7;
}

#MatchingTestResult .MatchingTestResultWrap .MatchingTestResultContent .resultImg {
    width: 100%;
    margin: 5% 0;
}

#MatchingTestResult .MatchingTestResultWrap .MatchingTestResultContent .resultImg img{
    max-width: 25%;
}

#MatchingTestResult .MatchingTestResultWrap .MatchingTestResultContent .resultText{
    background-color: #A6CEF7;
    color: #fff;
    padding: 5%;
}

#MatchingTestResult .MatchingTestResultWrap .MatchingTestResultContent .resultText > span{
    font-size: 2em;
}

#MatchingTestResult .MatchingTestResultWrap .retry{
    width: 15%;
    background-color: #639DD7;
    border-radius: 40px;
    border: none;
    text-align: center;
    margin: 2% auto 0;
    transition: all .5s;
}

#MatchingTestResult .MatchingTestResultWrap .retry:hover{
    background-color: #A6CEF7;
}

#MatchingTestResult .MatchingTestResultWrap .retry a{
    display: block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 4% 0;
}

#MatchingTestResult .MatchingTestResultWrap .retry a .retryImg{
    display: inline-block;
    width: 18%;
}

#MatchingTestResult .MatchingTestResultWrap .retry a .retryImg img{
    max-width: 80%;
}