input:focus{
    outline: none !important;
}

#authFailPwd{
    width: 100%;
    padding: 230px 0;
}

#authFailPwd .authFailPwdWrap{
    width: 100%;
}

#authFailPwd .authFailPwdWrap .authFailPwdContents{ 
    width: 45%;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    padding: 3% 5%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm{
    width: 100%;
}

#authFailPwd .authFailPwdWrap .authFailPwdContents h5.authFailPwdTitle{
    width: 100%;
    position: absolute;
    left: 0;
    top: -30px;
    text-align: left;
}


#authFailPwd .authFailPwdWrap .authFailPwdContents h5.identiTitle{
    font-weight: 400;
    font-size: 1.2em;
}

#authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm input#putId{
    background: url(../images/id.png) no-repeat 13px center;
    text-indent: 30px;
    padding: 3% 2%;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background-color: #DAECFF;
}


#authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm input#putEmailAddress{
    background: url(../images/email.png) no-repeat 13px center;
    text-indent: 30px;
    padding: 3% 2%;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background-color: #DAECFF;
    margin: .5% 0;
}

#authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm .putAuthNumWrap{
    width: 100%;
    position: relative;
}

#authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm input#putAuthNum{
    background: url(../images/key.png) no-repeat 13px center;
    text-indent: 30px;
    padding: 3% 2%;
    width: 100%;
    border: 1px solid #FF0000;
    border-radius: 2px;
    background-color: #DAECFF;
}

#authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm input#putId::placeholder{
    color: #929292;
}

#authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm input#putEmailAddress::placeholder{
    color: #929292;
}

#authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm input#putAuthNum::placeholder{
    color: #929292;
}

#authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm p{
    font-weight: 300;
}

#authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm input#reSendAutNum{
    background-color: #9DC4E7;
    color: #fff;
    border:none;
    padding: 2%;
    width: 30%;
    margin-top: 1%;
    text-align: center;
    float: right;
    font-size: 0.9em;
    border-radius: 2px; 
}

#authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm input#AuthComplete{
    background-color: #9DC4E7;
    color: #fff;
    border:none;
    padding: 2%;
    width: 100%;
    margin-top: 6%;
    border-radius: 2px;
}

#authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm .authTime{
    width: 18%;
    position: absolute;
    right: -5%;
    top: 30px;
    transform: translate(-50%, -50%);
    font-size: 0.8em;
    color: #acacac;
}

#authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm .authFailAlert{
    width: 100%;
    color: #FF0000;
    font-size: 0.8em;
    text-align: right;
}

.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    clear: both;
}