input:focus{
    outline: none !important;
}

#FindPwdFail{
    width: 100%;
    padding: 230px 0;
}

#FindPwdFail .FindPwdFailWrap{
    width: 100%;
}

#FindPwdFail .FindPwdFailWrap .FindPwdFailContents{ 
    width: 45%;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    padding: 3% 5%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#FindPwdFail .FindPwdFailWrap .FindPwdFailContents h5.FindPwdFailTitle{
    width: 100%;
    position: absolute;
    left: 0;
    top: -30px;
    text-align: left;
}


#FindPwdFail .FindPwdFailWrap .FindPwdFailContents h5.identiTitle{
    font-weight: 400;
    font-size: 1.2em;
}

#FindPwdFail .FindPwdFailWrap .FindPwdFailContents .FindPwdFailForm input#putId{

    background: url(../images/id.png) no-repeat 13px center;
    text-indent: 30px;
    padding: 3% 2%;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background-color: #DAECFF;
    margin: .5% 0;
}

#FindPwdFail .FindPwdFailWrap .FindPwdFailContents .FindPwdFailForm input#putEmailAddress{

    background: url(../images/email.png) no-repeat 13px center;
    text-indent: 30px;
    padding: 3% 2%;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background-color: #DAECFF;
}

#FindPwdFail .FindPwdFailWrap .FindPwdFailContents .FindPwdFailForm .idNotFound{
    width: 100%;
    color: #FF0000;
    font-size: 0.8em;
    text-align: right;
}

#FindPwdFail .FindPwdFailWrap .FindPwdFailContents .FindPwdFailForm input#putId::placeholder{
    color: #929292;
}

#FindPwdFail .FindPwdFailWrap .FindPwdFailContents .FindPwdFailForm input#putEmailAddress::placeholder{
    color: #929292;
}

#FindPwdFail .FindPwdFailWrap .FindPwdFailContents .FindPwdFailForm p{
    font-weight: 300;
}

#FindPwdFail .FindPwdFailWrap .FindPwdFailContents .FindPwdFailForm input#AuthBtn{
    background-color: #9DC4E7;
    color: #fff;
    border:none;
    padding: 2%;
    width: 30%;
    margin-top: 6%;
    text-align: center;
    float: right;
    font-size: 0.9em;
    border-radius: 2px;
}


.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    clear: both;
}