input:focus{
    outline: none !important;
}

#putAuthNumber{
    width: 100%;
    padding: 230px 0;
}

#putAuthNumber .putAuthNumberWrap{
    width: 100%;
}

#putAuthNumber .putAuthNumberWrap .putAuthNumberContents{ 
    width: 45%;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    padding: 3% 5%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm{
    width: 100%;
}

#putAuthNumber .putAuthNumberWrap .putAuthNumberContents h5.putAuthNumberTitle{
    width: 100%;
    position: absolute;
    left: 0;
    top: -30px;
    text-align: left;
}


#putAuthNumber .putAuthNumberWrap .putAuthNumberContents h5.identiTitle{
    font-weight: 400;
    font-size: 1.2em;
}


#putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm input#putEmailAddress{

    background: url(../images/email.png) no-repeat 13px center;
    text-indent: 30px;
    padding: 3% 2%;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background-color: #DAECFF;
    margin: 3% 0;
}

#putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm .putAuthNumWrap{
    width: 100%;
    position: relative;

}

#putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm input#putAuthNum{

    background: url(../images/key.png) no-repeat 13px center;
    text-indent: 30px;
    padding: 3% 2%;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background-color: #DAECFF;
}

#putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm input#putEmailAddress::placeholder{
    color: #929292;
}

#putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm input#putAuthNum::placeholder{
    color: #929292;
}

#putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm p{
    font-weight: 300;
}

#putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm input#reSendAutNum{
    background-color: #9DC4E7;
    color: #fff;
    border:none;
    padding: 2%;
    width: 30%;
    margin-top: 3%;
    text-align: center;
    float: right;
    font-size: 0.9em;
    border-radius: 2px; 
}

#putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm input#AuthComplete{
    background-color: #9DC4E7;
    color: #fff;
    border:none;
    padding: 2%;
    width: 100%;
    margin-top: 6%;
    border-radius: 2px;
}

#putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm .authTime{
    width: 18%;
    position: absolute;
    right: -5%;
    top: 30px;
    transform: translate(-50%, -50%);
    font-size: 0.8em;
    color: #acacac;
}


.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    clear: both;
}