#login{
    width: 100%;
}

input{
    border: none;
}

input:focus{
    outline: none;
}

#login .logintWrap{
    width: 100%;
    padding: 200px 0;
}



#login .logintWrap .loginTitle{
    color: #222222;
    text-align: center;
}

#login .logintWrap .loginContents{
    width: 45%;
    background-color: #C8E3FF;
    margin: 0 auto;
    padding: 2% 3%;
    margin-top: 2%;
}


#login .logintWrap .loginContents .loginForm{
    width: 100%;
}

#login .logintWrap .loginContents .loginForm .loginFormWrap{
    width: 100%;
}

#login .logintWrap .loginContents .loginForm .loginFormWrap input{
    display: block;
    width: 100%;
    padding: 3% 2%;
}

#login .logintWrap .loginContents .loginForm .loginFormWrap input.username::placeholder, 
#login .logintWrap .loginContents .loginForm .loginFormWrap input.password::placeholder{
    color: #929292;
}

#login .logintWrap .loginContents .loginForm .loginFormWrap input.username{

    background: #fff url("../images/id.png") no-repeat 13px center;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    margin-bottom: 0.3%;
    text-indent: 28px;

}

#login .logintWrap .loginContents .loginForm .loginFormWrap input.password{ 

    background: #fff url("../images/lock.png") no-repeat 13px center;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    margin-bottom: 0.3%;
    text-indent: 28px;

}


#login .logintWrap .loginContents .loginForm .loginFormWrap input#loginBtn{
    margin-top: 5%;
    background-color: #9DC4E7;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    color: #fff;
}


#login .logintWrap .loginFormOther{
    width: 45%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

#login .logintWrap .loginFormOther input{
    width: 100%;
    display:inline-block;
    background-color: transparent;
    color: #7D7D7D;
    border-right: 1px solid #7D7D7D;
    font-size: 0.9em;
}

#login .logintWrap .loginFormOther input:last-child{
    border-right: none !important;
}


#login .logintWrap .loginBottomInfo{
    width: 100%;
    margin-top: 13%;
}

#login .logintWrap .loginBottomInfo .loginBottomInfoWrap{
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8em;
    color: #7D7D7D;
}

#login .logintWrap .loginBottomInfo .copyRight{
    width: 100%;
    margin: 0 auto;
    font-size: 0.7em;
    color: #7D7D7D;
    text-align: center;
    margin-top: 1%;
}
