@media screen and (max-width:1440px) {

    /*authFailId*/
    #authFail .authFailWrap .authFailContents {
        width: 80% !important;
    }

    /*authFailPwd*/
    #authFailPwd .authFailPwdWrap .authFailPwdContents{
        width: 80% !important;
    }


    /*FindIdComplete*/
    #findIdComplete .findIdCompleteWrap .findIdCompleteContents {
        width: 65% !important;
    }


    /*login*/
    #login .logintWrap .loginContents {
        width: 65% !important;
    }


    /*loginFindId*/
    #FindId .FindIdWrap .FindIdContents {
        width: 55% !important;
    }


    /*loginFindPwd*/
    #FindPwd .FindPwdWrap .FindPwdContents {
        width: 55% !important;
    }

    /*loginFindPwdFail*/
    #FindPwdFail .FindPwdFailWrap .FindPwdFailContents{
        width: 55% !important;
    }


    /*loginPutAuthNumforId*/
    #putAuthNumber .putAuthNumberWrap .putAuthNumberContents{
        width: 65% !important;
    }


    /*loginPutAuthNumforPwd*/
    #putAuthNumberPwd .putAuthNumberPwdWrap .putAuthNumberPwdContents{
        width: 65% !important;
    }
}

/*노트북*/
@media screen and (max-width:1024px) {
    /*loginFindId*/
    #FindId .FindIdWrap .FindIdContents {
        width: 65% !important;
    }

    /*loginFindPwd*/
    #FindPwd .FindPwdWrap .FindPwdContents{
        width: 65% !important;
    }

    /*loginFindPwdFail*/
    #FindPwdFail .FindPwdFailWrap .FindPwdFailContents{
        width: 65% !important;
    }

}

/*아이패드 (768px)*/
@media screen and (max-width:991px) {
    /*authFailId*/
    #authFail .authFailWrap .authFailContents {
        width: 100% !important;
    }

    /*authFailPwd*/
    #authFailPwd .authFailPwdWrap .authFailPwdContents {
        width: 100% !important;
    }

    /*FindIdComplete*/
    #findIdComplete .findIdCompleteWrap .findIdCompleteContents {
        width: 95%;
        padding: 8% 5%;
    }


    /*login*/
    #login .logintWrap .loginContents {
        width: 85% !important;
    }

    /*loginFindId*/
    #FindId .FindIdWrap .FindIdContents {
        width: 75% !important;
    }


    /*loginFindPwd*/
    #FindPwd .FindPwdWrap .FindPwdContents{
        width: 75% !important;
    }

    /*loginFindPwdFail*/
    #FindPwdFail .FindPwdFailWrap .FindPwdFailContents{
        width: 75% !important;
    }

    /*loginPutAuthNumforId*/
    #putAuthNumber .putAuthNumberWrap .putAuthNumberContents {
        width: 85% !important;
    }

    /*loginPutAuthNumforPwd*/
    #putAuthNumberPwd .putAuthNumberPwdWrap .putAuthNumberPwdContents{
        width: 85% !important;
    }
}



/*모바일*/

@media screen and (max-width:767px) {
    /*authFailId*/
    #authFail .authFailWrap .authFailContents .authFailForm .authTime {
        width: 22% !important;
    }

    /*authFailPwd*/
    #authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm .authTime{
        width: 22% !important;
    }

    /*FindIdComplete*/
    #findIdComplete .findIdCompleteWrap .findIdCompleteContents{
        width: 100% !important;
    }


    /*login*/
    #login .logintWrap .loginContents {
        width: 100% !important;
    }

    #login .logintWrap .loginFormOther {
        width: 65% !important;
    }


    /*loginFindId*/
    #FindId .FindIdWrap .FindIdContents {
        width: 85% !important;
    }

    /*loginFindPwd*/
    #FindPwd .FindPwdWrap .FindPwdContents{
        width: 85% !important;
    }

    /*loginFindPwdFail*/
    #FindPwdFail .FindPwdFailWrap .FindPwdFailContents{
        width: 85% !important;
    }

    /*loginPutAuthNumforId*/
    #putAuthNumber .putAuthNumberWrap .putAuthNumberContents {
        width: 100% !important;
    }

    #putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm .authTime {
        width: 22% !important;
    }

    /*loginPutAuthNumforPwd*/
    #putAuthNumberPwd .putAuthNumberPwdWrap .putAuthNumberPwdContents{
        width: 100% !important;
    }

    #putAuthNumberPwd .putAuthNumberPwdWrap .putAuthNumberPwdContents .putAuthNumberPwdForm .authTime{
        width: 22% !important;
    }
}


/*모바일2*/


@media screen and (max-width:576px) {

    /*authFailId*/
    #authFail .authFailWrap .authFailContents .authFailForm input#putEmailAddress::placeholder{
        font-size: 0.8em !important;
    }

    #authFail .authFailWrap .authFailContents .authFailForm input#putAuthNum::placeholder{
        font-size: 0.8em !important;
    }

    #authFail .authFailWrap .authFailContents .authFailForm .authTime{
        font-size: 0.7em !important;
    }



    /*authFailPwd*/
    #authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm input#putEmailAddress::placeholder{
        font-size: 0.8em !important;
    }

    #authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm input#putAuthNum::placeholder{
        font-size: 0.8em !important;
    }

    #authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm .authTime{
        font-size: 0.7em !important;
    }


    /*FindIdComplete*/
    #findIdComplete .findIdCompleteWrap .findIdCompleteContents h5.findIdCompleteMessage {
        font-size: 1.1em !important;
    }

    /*login*/
    #login .logintWrap .loginContents {
        width: 90% !important;
    }

    #login .logintWrap .loginFormOther input{
        font-size: 0.7em !important;
    }

    #login .logintWrap .loginBottomInfo .loginBottomInfoWrap{
        font-size: 0.7em !important;
    }

    #login .logintWrap .loginBottomInfo .copyRight{
        font-size: 0.6em !important;
    }


    /*loginPutAuthNumforId*/
    #putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm .authTime {
        width: 26% !important;
        margin-top: -5px !important;
    }

    #putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm input#putEmailAddress::placeholder{
        font-size: 0.8em !important;
    }

    #putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm input#putAuthNum::placeholder{
        font-size: 0.8em !important;
    }


    /*loginPutAuthNumforPwd*/
    #putAuthNumberPwd .putAuthNumberPwdWrap .putAuthNumberPwdContents .putAuthNumberPwdForm input#putId::placeholder{
        font-size: 0.8em !important;
    }

    #putAuthNumberPwd .putAuthNumberPwdWrap .putAuthNumberPwdContents .putAuthNumberPwdForm input#putEmailAddress::placeholder{
        font-size: 0.8em !important;
    }

    #putAuthNumberPwd .putAuthNumberPwdWrap .putAuthNumberPwdContents .putAuthNumberPwdForm input#putAuthNum::placeholder{
        font-size: 0.8em !important;
    }

    #putAuthNumberPwd .putAuthNumberPwdWrap .putAuthNumberPwdContents .putAuthNumberPwdForm .authTime{
        width: 26% !important;
        margin-top: -5px !important;
        font-size: 0.7em !important;
    }
}



/*모바일3 갤럭시*/

@media screen and (max-width:425px) {


    /*authFailId*/
    #authFail .authFailWrap .authFailContents .authFailForm input#reSendAutNum{
        width: 36% !important;
    }

    #authFail .authFailWrap .authFailContents .authFailForm .authTime {
        margin-top: -7px;
        width: 24% !important;
    }

    /*authFailPwd*/
    #authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm input#reSendAutNum{
        width: 36% !important;
    }

    #authFailPwd .authFailPwdWrap .authFailPwdContents .authFailPwdForm .authTime{
        margin-top: -7px;
        width: 24% !important;
    }

    /*login*/
    #login .logintWrap .loginBottomInfo .loginBottomInfoWrap{
        font-size: 0.55em !important;
    }

    #login .logintWrap .loginBottomInfo .copyRight{
        font-size: 0.55em !important;
    }


    /*loginFindId*/
    #FindId .FindIdWrap .FindIdContents {
        width: 100% !important;
    }

    /*loginFindPwd*/
    #FindPwd .FindPwdWrap .FindPwdContents{
        width: 100% !important;
    }

    /*loginFindPwdFail*/
    #FindPwdFail .FindPwdFailWrap .FindPwdFailContents{
        width: 100% !important;
    }


    /*loginPutAuthNumforId*/
    #putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm .authTime{
        font-size: 0.7em !important;
        margin-top: -6px !important;
    }

    #putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm input#reSendAutNum{
        font-size: 0.8em !important;
    }


    /*loginPutAuthNumforPwd*/
    #putAuthNumberPwd .putAuthNumberPwdWrap .putAuthNumberPwdContents .putAuthNumberPwdForm input#reSendAutNum{
        font-size: 0.8em !important;
    }
}



/*모바일4 아이폰*/
@media screen and (max-width:375px) {
    /*loginFindId*/
    #FindId .FindIdWrap .FindIdContents .PutemailAdressForm input#AuthBtn{
        width: 40% !important;
    }

    /*loginFindPwd*/
    #FindPwd .FindPwdWrap .FindPwdContents .PutInfoFormforPwdForm input#AuthBtn{
        width: 40% !important;
    }

    /*loginFindPwdFail*/
    #FindPwdFail .FindPwdFailWrap .FindPwdFailContents .FindPwdFailForm input#AuthBtn{
        width: 40% !important;
    }

    #FindPwdFail .FindPwdFailWrap .FindPwdFailContents .FindPwdFailForm .idNotFound{
        font-size: 0.7em !important;
    }

    /*loginPutAuthNumforId*/
    #putAuthNumber .putAuthNumberWrap .putAuthNumberContents .putAuthNumberForm input#reSendAutNum {
        font-size: 0.6em !important;
    }

    /*loginPutAuthNumforPwd*/
    #putAuthNumberPwd .putAuthNumberPwdWrap .putAuthNumberPwdContents .putAuthNumberPwdForm .authTime{
        font-size: 0.6em !important;
        margin-top: -9px !important;
    }

    #putAuthNumberPwd .putAuthNumberPwdWrap .putAuthNumberPwdContents .putAuthNumberPwdForm input#reSendAutNum{
        font-size: 0.6em !important;
    }
}