<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>


    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">


    <!--bootstrap-->
    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <div class=""></div>
    <!--css-->
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/mobile.css">
    <link rel="stylesheet" href="../../static/css/sanitize.css">
    <link rel="stylesheet" href="css/encyclopediaMain.css">


    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
    <script type="text/javascript">
        $(document).ready( function() {
            $("#headers").load("../Component/header.html");
            $('#headers').css("position", "fixed");
            $('#headers').css("width", "100%");
            $('#headers').css("z-index", "5");
            $("#footers").load("../Component/footer.html");
            $('#footers').css("z-index", "5");
        });
    </script>
</head>
<body>
<div id="headers"></div>
<div class="tourBg">
    <h3>다알개 여행지</h3>
</div>
<div id="footers"></div>
</body>


