<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/myPageLayout}">
  <head>
    <meta charset="utf-8">
    <title>비밀번호재설정</title>
  </head>

  <th:block layout:fragment="content">

        <section id="pwdReset">
          <div class="pwdResetWrap container">

            <div class="pwdResetContents">

              <h5 class="pwdResetTitle">뭐든 다알개</h5>

              <form class="pwdResetForm" action="" method="post">
                <h5 class="pwdResetConfirmTitle">비밀번호 재설정</h5>
                <input type="password" name="passwordNow" id="pwdNow" class="pwdInputs" placeholder="현재 비밀번호"/>
                <input type="password" name="passwordNew" id="pwdNew" class="pwdInputs" placeholder="새 비밀번호"/>
                <input type="password" name="passwordNewConfirm" id="passwordNewConfirm" class="pwdInputs" placeholder="새 비밀번호 확인"/>
                <p>탈퇴 시 동일한 이메일로 재가입이 불가능 합니다.😥</p>
                <input type="submit" name="pwdResetBtn" id="pwdResetBtn" value="비밀번호 재설정"/>
              </form>
            </div>
          </div>
        </section>

  </th:block>>


 