<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>비밀번호재설정</title>


    <!--meta-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="le=edge">

      
      <!--bootstrap-->
      <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
      

      <!--css-->
      <link rel="stylesheet" th:href="@{/css/index.css}">
      <link rel="stylesheet" th:href="@{/css/sanitize.css}">
      <link rel="stylesheet" th:href="@{/myPageDetails/css/pwdResetComplete.css}">
      
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

      <!--js-->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

      
    <!--favicon--->
      <link th:href="@{favicon.ico}" rel="icon">
      <link th:href="@{favicon.ico}" rel="apple-touch-icon">
  </head>
  <body>
  <div th:insert="/component/header"></div>
        <section id="pwdResetComplete">
          <div class="pwdResetCompleteWrap container">

            <div class="pwdResetCompleteContents">

              <h5 class="pwdResetCompleteTitle">뭐든 다알개</h5>

              <form class="pwdResetCompleteForm" action="" method="post">
                <h5 class="pwdResetCompleteMessage">비밀번호 변경이 완료되었습니다.</h5>
                <p>다시 로그인 해주세요!</p>
                <div class="pwdResetCompleteGotoMain"><a href="">메인 페이지로 이동</a></div>
              </form>
            </div>
          </div>
        </section>
  <div th:insert="/component/footer"></div>
  </body>


 