<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>비밀번호재설정</title>


    <!--meta-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="le=edge">

      
      <!--bootstrap-->
      <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
      

      <!--css-->
      <link rel="stylesheet" th:href="@{/css/index.css}">
      <link rel="stylesheet" th:href="@{/css/sanitize.css}">
      <link rel="stylesheet" th:href="@{/myPageDetails/css/pwdReset.css}">
      
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

      <!--js-->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

      
    <!--favicon--->
      <link th:href="@{favicon.ico}" rel="icon">
      <link th:href="@{favicon.ico}" rel="apple-touch-icon">
  </head>
  <body>
  <div th:insert="/component/header"></div>
        <section id="pwdReset">
          <div class="pwdResetWrap container">

            <div class="pwdResetContents">

              <h5 class="pwdResetTitle">뭐든 다알개</h5>

              <form class="pwdResetForm" action="" method="post">
                <h5 class="pwdResetConfirmTitle">비밀번호 재설정</h5>
                <input type="password" name="passwordNow" id="pwdNow" class="pwdInputs" placeholder="현재 비밀번호"/>
                <input type="password" name="passwordNew" id="pwdNew" class="pwdInputs" placeholder="새 비밀번호"/>
                <input type="password" name="passwordNewConfirm" id="passwordNewConfirm" class="pwdInputs" placeholder="새 비밀번호 확인"/>
                <p>탈퇴 시 동일한 이메일로 재가입이 불가능 합니다.😥</p>
                <input type="submit" name="pwdResetBtn" id="pwdResetBtn" value="비밀번호 재설정"/>
              </form>
            </div>
          </div>
        </section>
  <div th:insert="/component/footer"></div>
  </body>


 