<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">
    <title>함께 실천하는 펫티켓</title>


    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">
    
    
    <!--bootstrap-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    
    
    <div class=""></div>
    <!--css-->
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/mobile.css}" rel="stylesheet" />
    <link th:href="@{/css/sanitize.css}" rel="stylesheet" />
    <link th:href="@{/css/knowAfterAdopt.css}" rel="stylesheet" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" rel="stylesheet" />

    <!--js-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/header.js}"></script>
    <script type="text/javascript" th:src="@{/js/encyclopedia.js}"></script>

    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
</head>
<body>
<div id="headers">
    <th:block th:include="component/header.html"></th:block>
</div>
<div class="tourBg">
    <h3 id="mark9">우리 아이와 함께 <br>펫티켓을 만들어 나가요</h3>
</div>
<input type="hidden" name="getUrl" th:value="${getUrl}">
<div class="knowAfterAdopt"></div>
    <!-- 1페이지-->
    <div class="AfterAdopt1">
        <img height="260px" th:src="@{/images/petiket1.png}" />
        <button onclick="likeClick(9);"><img class="likeListImageLeft likeBtn" src="/images/likeList.png" /></button>
    </div>
    <div class="SubHeading1">반려인</div>
    <div class="Afterdesc1">📌안전하개 행복하개</div>
    
    <!--<div class="AfterText1">
        <img th:src="@{/images/petiket2.png}" />
        <div class="AfterTextContent1">
            💬외출시 산책줄을 반드시 사용합니다.<br><br>

            💬공공장소에서는 2M이내 산책줄을 사용해주세요.<br><br>

            💬외출시 배변봉투를 반드시 챙깁니다.<br><br>

            💬다른 개나 사람과 접촉할 시 상대방(견주)의 동의를 먼저 구합니다.<br>
            <br>
            <br>
            <br>
            몸이 아프거나 교육을 받고 있는 반려견의 경우 노란리본(옐로우독 캠페인)을 달아 “만지지 말아주세요!” 라는 메세지를 전하는 것도 좋아요!<br>
        </div>
    </div>-->
    <div class="gapBox" id="mark10"></div>

    <!-- 2페이지 -->
    <div class="AfterAdopt2">
        <img height="260px" th:src="@{/images/petiket3.png}" />
        <button onclick="likeClick(10);"><img class="likeListImageRight likeBtn" src="/images/likeList.png" /></button>
    </div>

    <div class="gapBox2"></div>

    <div class="SubHeading2">반려견</div>
    <div class="gapBox3"></div>
    <div class="Afterdesc1">📌매너있는 강아지가 될거다, 멍!</div>
    </div>

    <!--<div class="AfterText1">
        <img th:src="@{/images/petiket4.png}" />
        <div class="AfterTextContent1">
            💬동물등록과 인식표는 필수입니다.<br><br>
            
            💬반려견이 물었던 경험이나 가능성이 있다면 입마개는 필수입니다.<br><br>
            
            💬사람을 향해 뛰어오르지 않도록 교육해주세요.<br><br>
            
            💬개들도 적절한 사회화와 매너교육이 필요합니다.<br><br>
            
            💬무분별한 마킹은 그만! 상가나 집앞에는 마킹하지 않도록 해주세요.<br>
            <br>
            <br>
            <br>
            반려견 인사법<br>
            무작정 다가가지 않고 먼저 손바닥을 보여줍니다.<br>
            손을 내민 채 강아지가 올 때까지 기다립니다.<br>
            강아지가 다가오면 천천히 쓰다듬어 줍니다.<br>
            단, 보호자가 없을 때는 다가가지 않아야 합니다.<br>
        </div>
    </div>-->

    <!-- 3페이지-->
    <div class="gapBox" id="mark11"></div>
    <div class="AfterAdopt1">
        <img height="260px" th:src="@{/images/petiket5.png}" />
        <button onclick="likeClick(11);"><img class="likeListImageLeft likeBtn" src="/images/likeList.png" /></button>
    </div>
    <div class="SubHeading1">시민</div>
    <div class="Afterdesc1">
        📌강아지가 너무 예쁘지만, 조금만 참아주세요!
    </div>
    </div>
    <!--<div class="AfterText1">
        <img th:src="@{/images/petiket6.png}" />
        <div class="AfterTextSubstring1"></div>
        <div class="AfterTextContent1">
            💬타인의 반려견을 함부로 만지지 말아야합니다.<br>
            💬양해를 구했다면 천천히 다가가야 합니다.<br>
            💬큰소리를 내지 말아야 합니다.<br>
            💬눈을 너무 빤히 바라보지 않아야합니다, 개들에게 눈 마주침은 도전적인 의미가 될 수 있습니다.<br>
            💬노란리본은 개에게 자신만의 공간이 필요하다는 의미입니다.<br>
            💬아이가 갑자기 다가오면 놀랄 수 있어요. 아이들에게도 강아지에게 인사하는 방법을 천천히 알려주세요..<br>
        </div>
    </div>-->
    <div class="whiteSpaceEncycle">
        <div class="logoInPage"></div>
    </div>
    <div>
        <th:block th:include="component/footer.html"></th:block>
    </div>
</body>


