input:focus{
    outline: none !important;
}

#delete{
    width: 100%;
    padding: 230px 0;
}

#delete .deleteWrap{
    width: 100%;
}

#delete .deleteWrap .deleteContents{ 
    width: 45%;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    padding: 3% 5%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#delete .deleteWrap .deleteContents h5.deleteTitle{
    width: 100%;
    position: absolute;
    left: 0;
    top: -30px;
    text-align: left;
}


#delete .deleteWrap .deleteContents h5.deletePwdConfirmTitle{
    font-weight: 400;
    font-size: 1.2em;
}


#delete .deleteWrap .deleteContents .deletPwdConfirm input#pwd{
    background: url(../images/lock.png) no-repeat 13px center;
    text-indent: 30px;
    padding: 3% 2%;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background-color: #DAECFF;
    margin: 3% 0;
}

#delete .deleteWrap .deleteContents .deletPwdConfirm input#pwd::placeholder{
    color: #929292;
}

#delete .deleteWrap .deleteContents .deletPwdConfirm p{
    font-weight: 300;
}

#delete .deleteWrap .deleteContents .deletPwdConfirm input#deleteBtn{
    background-color: #9DC4E7;
    color: #fff;
    border:none;
    padding: 3% 2%;
    width: 100%;
    margin-top: 6%;
}
