<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>boardAbandonedCenter</title>

    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">
    
    <!--bootstrap-->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!--css-->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <link rel="stylesheet" href="../css/sanitize.css">
    <link rel="stylesheet" href="/board/css/boardAbandonedCenter.css">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    
    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
</head>
<body>
    <div class="board-abandoned-banner">
        <h3>동물보호센터</h3>
        <div>
            <a href="/board/mainBoard.html" alt="back-arrow-to-main">
                <img src="/board/images/board-back-button.png" class="board-button-back-image" alt="back-arrow-to-board-main">
            </a>
        </div>
        <div>
            <img src="/board/images/board-banner-image.png" class="board-banner-image" alt="walking-with-a-dog-image">
        </div>
    </div>
    <div class="board-abandoned-header-menu">
        <div class="abandoned-protection">
            <a href="/board/abandonedBoard.html">보호중인 강아지</a>
        </div>
        <div class="abandoned-center">
            <a href="/board/abandonedBoardCenter.html">동물보호센터</a>
        </div>
        <div class="abandoned-adoptInfo">
            <a href="/board/abandonedBoardAdoptInfo.html">입양안내</a>
        </div>
        <div class="abandoned-pickupInfo" id="abandoned-pickupInfo">
            <a href="/board/abandonedBoardPickupInfo.html">습득시 안내</a>
        </div>
    </div>
    <div class="board-container">
        <div class="board-abandoned-searchBar">
            <div class="search-buttons">
                <div class="abandoned-search-category">
                    <select name="abandoned-search-category" id="abandoned-search-category">
                        <option value="지역">지역</option>
                        <option value="수도권">수도권</option>
                        <option value="경상도">경상도</option>
                        <option value="전라도">전라도</option>
                        <option value="강원도">강원도</option>
                        <option value="충청도">충청도</option>
                        <option value="제주도">제주도</option>
                    </select>
                </div>
                <div class="search-by-text">
                    <img src="/board/images/reading-glasses.png" alt="readingGlasses" id="readingGlassesImage">
                    <input type="text" name="textSearching" id="textSearching">
                </div>
                <div class="submit-button">
                    <button type="submit" id="searchButton">검색</button>
                </div>
            </div>
        </div>
        <div class="board-abandoned-center-content-container">
            <div class="center-table">
                <div class="jurisdiction-area">
                    <div class="ja-table-header">
                        <div class="ja-table-content-header">관할구역</div>
                        <div class="ja-table-content">부산광역시 강서구</div>
                        <div class="ja-table-content">서울특별시 용산구</div>
                        <div class="ja-table-content">전라북도 전주시</div>
                    </div>
                </div>
                <div class="shelter-name">
                    <div class="sn-table-header">
                        <div class="sn-table-content-header">보호센터명</div>
                        <div class="sn-table-content">(사)하얀비둘기</div>
                        <div class="sn-table-content">21세기동물병원</div>
                        <div class="sn-table-content">21세기동물병원</div>
                    </div>
                </div>
                <div class="phone-number">
                    <div class="pn-table-header">
                        <div class="pn-table-content-header">전화번호</div>
                        <div class="pn-table-content">051-293-9779</div>
                        <div class="pn-table-content">02-749-6740</div>
                        <div class="pn-table-content">063-251-1015</div>
                    </div>
                </div>
                <div class="shelter-address">
                    <div class="sa-table-header">
                        <div class="sa-table-content-header">보호센터주소</div>
                        <div class="sa-table-content">부산광역시 강서구 제도로 726(강동동)</div>
                        <div class="sa-table-content">서울특별시 용산구 보광동 259-1</div>
                        <div class="sa-table-content">전라북도 전주시 덕진구 송천동1가 626-42</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-paging-button">
            <button type="button" id="previousPageButton">
                <img src="/board/images/previousPageButton.png" alt="">
            </button>
            <button class="pageNumber">
                <div id="postPage1">
                    <div></div>
                    <h4>1</h4>
                </div>
            </button>
            <button type="button" id="nextPageButton">
                <img src="/board/images/nextPageButton.png" alt="">
            </button>
        </div>
    </div>

    <script>

    </script>
</body>
</html>