<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>boardAbandoned</title>

    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">
    
    <!--bootstrap-->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!--css-->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <link rel="stylesheet" href="../css/sanitize.css">
    <link rel="stylesheet" href="/board/css/boardAbandonedSelect.css">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    
    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
</head>
<body>
    <div class="board-abandoned-banner">
        <h3>당신이 필요한 아이들</h3>
        <div>
            <a href="/board/mainBoard.html" alt="back-arrow-to-main">
                <img src="/board/images/board-back-button.png" class="board-button-back-image" alt="back-arrow-to-board-main">
            </a>
        </div>
        <div>
            <img src="/board/images/board-banner-image.png" class="board-banner-image" alt="walking-with-a-dog-image">
        </div>
    </div>
    <div class="board-abandoned-header-menu">
        <div class="abandoned-protection">
            <a href="/board/abandonedBoardProtection.html">보호중인 강아지</a>
        </div>
        <div class="abandoned-center">
            <a href="/board/abandonedBoardCenter.html">동물보호센터</a>
        </div>
        <div class="abandoned-adoptInfo">
            <a href="/board/abandonedBoardAdoptInfo.html">입양안내</a>
        </div>
        <div class="abandoned-pickupInfo" id="abandoned-pickupInfo">
            <a href="/board/abandonedBoardPickupInfo.html">습득시 안내</a>
        </div>
    </div>
    <div class="board-container">
        <div class="board-abandoned-searchBar">
            <div class="search-buttons">
                <div class="search-by-text">
                    <img src="/board/images/reading-glasses.png" alt="readingGlasses" id="readingGlassesImage">
                    <input type="text" name="textSearching" id="textSearching">
                </div>
                <div class="submit-button">
                    <button type="submit" id="searchButton">검색</button>
                </div>
            </div>
        </div>
        <div class="board-abandoned-content-select-container">
            <div class="board-abandoned-content-title">
                    <h2>보호중인 동물</h2>
            </div>
            <div class="board-select-content">
                <div class="abandoned-dog-img">
                    <img src="/board/images/board-announcement-button.png" alt="">
                </div>
                <div class="abandoned-dog-detail">
                    <div class="a-c-title">
                        <div class="nameTag">
                            <h4>공고번호</h4>
                        </div>
                        <div>
                            <h4>광주-북구-2023-00650</h4>
                        </div>
                    </div>
                    <div class="a-c-date">
                        <div class="nameTag">
                            <h4>접수일시</h4>
                        </div>
                        <div>
                            <h4>2023-09-01</h4>
                        </div>
                    </div>
                    <div class="a-c-breed">
                        <div class="nameTag">
                            <h4>품종</h4>
                        </div>
                        <div>
                            <h4>믹스견</h4>
                        </div>
                    </div>
                    <div class="a-c-color">
                        <div class="nameTag">
                            <h4>색상</h4>
                        </div>
                        <div>
                            <h4>흰색</h4>
                        </div>
                    </div>
                    <div class="a-c-gender">
                        <div class="nameTag">
                            <h4>성별</h4>
                        </div>
                        <div>
                            <h4>수컷</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="abandoned-dog-detail-detail">
                <div class="detail-title">
                    <img src="/board/images/detail-icon.png" alt="">
                    <h2>상세정보</h2>
                </div>
                <div class="detail-detail">
                    <div class="detail-detail-group-1">
                        <div class="a-c-RegistNumber">
                            <h4>등록번호 : </h4>
                            <h4> - </h4>
                        </div>
                        <div class="a-c-Neutered">
                            <h4>중성화여부 : </h4>
                            <h4>아니오</h4>
                        </div>
                        <div class="a-c-AgeWeight">
                            <h4>나이/체중 : </h4>
                            <h4>2023(60일미만)(년생) / 3kg</h4>
                        </div>
                        <div class="a-c-Character">
                            <h4>특징 : </h4>
                            <h4>개농장 구조</h4>
                        </div>
                        <div class="a-c-PlaceOfDiscovery">
                            <h4>발견장소 : </h4>
                            <h4>군익로 655-22</h4>
                        </div>
                    </div>
                    <div class="detail-detail-group-2">
                        <div class="a-c-Agency">
                            <h4>관할기간 : </h4>
                            <h4>전라북도 군산시</h4>
                        </div>
                        <div class="a-c-Condition">
                            <h4>상태 : </h4>
                            <h4>보호중</h4>
                        </div>
                        <div class="a-c-Shelter">
                            <h4>보호센터 : </h4>
                            <h4>군산유기동물보호센터</h4>
                        </div>
                        <div class="a-c-PhoneNumber">
                            <h4>전화번호 : </h4>
                            <h4>062-571-2808</h4>
                        </div>
                        <div class="a-c-PlaceOfProtection">
                            <h4>보호장소 : </h4>
                            <h4>전라북도 군산시 대야면 보덕안정길 108-20</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-select-footer">
            <div class="back-to-abandoned-list">
                <a href="/board/abandonedBoard.html">목록</a>
            </div>
        </div>
    </div>

    <script>

    </script>
</body>
</html>