<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{board/layouts/boardLayout}">
<head>
    <title>유기견 게시판</title>
</head>

<th:block layout:fragment="content">
    <div class="board-banner">
        <h3>당신이 필요한 아이들</h3>
        <div>
            <img th:src="@{/images/board-banner-image.png}" class="board-banner-image" alt="walking-with-a-dog-image">
        </div>
    </div>

    <div class="board-header-menu">
        <div class="protection">
            <a th:href="@{/board/abandonedBoard}">보호중인 강아지</a>
        </div>
        <div class="center">
            <a th:href="@{/board/abandonedBoardCenter}">동물보호센터</a>
        </div>
        <div class="adoptInfo">
            <a th:href="@{/board/abandonedBoardAdoptInfo}">입양안내</a>
        </div>
        <div class="pickupInfo" id="pickupInfo">
            <a th:href="@{/board/abandonedBoardPickupInfo}">습득시 안내</a>
        </div>
    </div>

    <div class="board-container container">
        <div class="board-searchBar">
            <div class="search-buttons">
                <div class="search-category">
                    <select name="search-category" id="search-category">
                        <option value="지역">지역</option>
                        <option value="수도권">수도권</option>
                        <option value="경상도">경상도</option>
                        <option value="전라도">전라도</option>
                        <option value="강원도">강원도</option>
                        <option value="충청도">충청도</option>
                        <option value="제주도">제주도</option>
                    </select>
                </div>
                <div class="search-by-text">
                    <img th:src="@{/images/reading-glasses.png}" alt="readingGlasses" id="readingGlassesImage">
                    <input type="text" name="textSearching" id="textSearching">
                </div>
                <div class="submit-button">
                    <button type="submit" id="searchButton">검색</button>
                </div>
            </div>
        </div>
        <div class="board-content-container">
            <a th:href="@{/board/abandonedBoardSelect}">
                <div class="content">
                    <div class="content-img">
                        <img th:src="@{/images/petiket3.png}" alt="DOG" style="width: 100%">
                    </div>
                    <div class="content-detail">
                        <div class="a-c-title">
                            <h6>공고번호 : 광주-북구-2023-00650</h6>
                        </div>
                        <div class="a-c-location">
                            <img th:src="@{/images/location.png}" alt="writer">
                            <h6>발견장소 : </h6>
                            <h6>북구 본촌동</h6>
                        </div>
                        <div class="a-c-gender">
                            <img th:src="@{/images/gender.png}" alt="date">
                            <h6>성별 : </h6>
                            <h6>수컷</h6>
                        </div>
                        <div class="a-c-breed">
                            <img th:src="@{/images/breed.png}" alt="date">
                            <h6>품종 : </h6>
                            <h6>믹스견</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="board-paging-button">
            <button type="button" id="previousPageButton">
                <img th:src="@{/images/previousPageButton.png}" alt="">
            </button>
            <button class="pageNumber">
                <div id="postPage1">
                    <div>1</div>
                    <!--<h6>1</h6>-->
                </div>
            </button>
            <button type="button" id="nextPageButton">
                <img th:src="@{/images/nextPageButton.png}" alt="">
            </button>
        </div>
    </div>
</th:block>
</html>