<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/boardLayout}">
<head>
    <title>습득시 안내</title>
</head>

<th:block layout:fragment="content">
    <div class="board-banner">
        <h3>습득시안내</h3>
        <div>
            <img th:src="@{/images/board-banner-image.png}" class="board-banner-image" alt="walking-with-a-dog-image">
        </div>
    </div>

    <div class="board-header-menu">
        <div class="protection">
            <button onclick="navigateToAbanPage0()" class="category-button" id="btn0">보호중인 강아지</button>
        </div>
        <div class="center">
            <button onclick="navigateToAbanPage1()" class="category-button" id="btn1">동물보호센터</button>
        </div>
        <div class="adoptInfo">
            <button onclick="navigateToAbanPage2()" class="category-button" id="btn2">입양안내</button>
        </div>
        <div class="pickupInfo" id="pickupInfo">
            <button onclick="navigateToAbanPage3()" class="category-button" id="btn3">습득시 안내</button>
        </div>
    </div>

    <div class="board-container container">
        <div class="board-content-container">
            <div class="board-content">
                <h1 id="headText1">
                    <span class="greenText">버려진 동물</span>을 발견하면
                    <span class="blueText">신고</span>하세요</h1>
                <img th:src="@{/images/pickUpInfo-image.png}" alt="handShake-with-a-dog">
                <h5>누군가의 반려동물을 보호하고 계신가요?</h5>
            </div>
            <div class="board-content-2">
                <h1>습득시 안내</h1>
                <li>공공장소를 떠돌거나 버려진 동물을 발견한 경우 관할 시ㆍ군ㆍ구청과 해당 유기동물 보호시설에 신고해야 합니다.</li>
                <li>유기동물을 주인 없는 동물이라 여겨 마음대로 잡아서 팔거나 죽이면 2년 이하의 징역 또는 2천만원 이하의 벌금을 내게 됩니다.</li>
                <li>시장ㆍ군수ㆍ구청장은 관내에서 발견된 유기동물이 보호받을 수 있도록 필요한 조치를 해야 하며, 주인을 찾을 수 있도록 그 사실을 7 일 이상 공고해야 합니다.</li>
                <li>공고 후 10일이 지나도 주인을 찾지 못한 경우, 해당 시ㆍ군ㆍ구등이 동물의 소유권을 갖게 되어 개인에게 기증하거나 분양할 수 있습니다.</li>
            </div>
        </div>
    </div>

    <div class="whiteSpace">
        <div class="logoInPage"></div>
    </div>
    <script>
        window.addEventListener('load', function() {
            const url = window.location.href;
            const buttons = document.querySelectorAll('.category-button');
            buttons.forEach(button => button.classList.remove('active'));

            if (url.includes('/abanBoardCenter')) {
                document.getElementById('btn1').classList.add('active');
            } else if (url.includes('/abanAdoptInfo')) {
                document.getElementById('btn2').classList.add('active');
            } else if (url.includes('/abanPickupInfo')) {
                document.getElementById('btn3').classList.add('active');
            } else {
                document.getElementById('btn0').classList.add('active');
            }
        });
    </script>
</th:block>
</html>