<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>boardAbandoned</title>

    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">

    <!--bootstrap-->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

    <!--css-->
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/mobile.css}">
    <link rel="stylesheet" th:href="@{/css/sanitize.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">

    <link rel="stylesheet" th:href="@{https://unpkg.com/aos@2.3.1/dist/aos.css}">
    <link rel="stylesheet" th:href="@{http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css}"/>

    <!--js-->
    <script th:src="@{http://code.jquery.com/jquery-latest.min.js}"></script>
    <script th:src="@{https://unpkg.com/aos@2.3.1/dist/aos.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js}"></script>

    <!--favicon--->
    <link th:href="@{favicon.ico}" rel="icon">
    <link th:href="@{favicon.ico}" rel="apple-touch-icon">

    <script type="text/javascript">
        $(document).ready( function() {
            $('#headers').css("position", "fixed");
            $('#headers').css("width", "100%");
            $('#headers').css("z-index", "5");
            $('#menu').css("margin-top", "-16px");
        });
    </script>
</head>
<body>

<div id="headers">
    <th:block th:include="Component/header.html"></th:block>
</div>

<div class="board-banner">
    <h3>당신이 필요한 아이들</h3>
    <div>
        <img src="/images/board-banner-image.png" class="board-banner-image" alt="walking-with-a-dog-image">
    </div>
</div>

<div class="board-header-menu">
    <div class="protection">
        <a href="../board/abandonedBoard">보호중인 강아지</a>
    </div>
    <div class="center">
        <a href="../board/abandonedBoardCenter">동물보호센터</a>
    </div>
    <div class="adoptInfo">
        <a href="../board/abandonedBoardAdoptInfo">입양안내</a>
    </div>
    <div class="pickupInfo" id="pickupInfo">
        <a href="../board/abandonedBoardPickupInfo">습득시 안내</a>
    </div>
</div>

<div class="board-container container">
    <div class="board-searchBar">
        <div class="search-buttons">
            <div class="search-category">
                <select name="search-category" id="search-category">
                    <option value="지역">지역</option>
                    <option value="수도권">수도권</option>
                    <option value="경상도">경상도</option>
                    <option value="전라도">전라도</option>
                    <option value="강원도">강원도</option>
                    <option value="충청도">충청도</option>
                    <option value="제주도">제주도</option>
                </select>
            </div>
            <div class="search-by-text">
                <img src="/images/reading-glasses.png" alt="readingGlasses" id="readingGlassesImage">
                <input type="text" name="textSearching" id="textSearching">
            </div>
            <div class="submit-button">
                <button type="submit" id="searchButton">검색</button>
            </div>
        </div>
    </div>
    <div class="board-content-container">
        <a href="../board/abandonedBoardSelect">
            <div class="content">
                <div class="content-img">
                    <img src="" alt="">
                </div>
                <div class="content-detail">
                    <div class="a-c-title">
                        <h6>공고번호 : 광주-북구-2023-00650</h6>
                    </div>
                    <div class="a-c-location">
                        <img src="/images/location.png" alt="writer">
                        <h6>발견장소 : </h6>
                        <h6>북구 본촌동</h6>
                    </div>
                    <div class="a-c-gender">
                        <img src="/images/gender.png" alt="date">
                        <h6>성별 : </h6>
                        <h6>수컷</h6>
                    </div>
                    <div class="a-c-breed">
                        <img src="/images/breed.png" alt="date">
                        <h6>품종 : </h6>
                        <h6>믹스견</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="../board/abandonedBoardSelect">
            <div class="content">
                <div class="content-img">
                    <img src="" alt="">
                </div>
                <div class="content-detail">
                    <div class="a-c-title">
                        <h6>공고번호 : 광주-북구-2023-00650</h6>
                    </div>
                    <div class="a-c-location">
                        <img src="/images/location.png" alt="writer">
                        <h6>발견장소 : </h6>
                        <h6>북구 본촌동</h6>
                    </div>
                    <div class="a-c-gender">
                        <img src="/images/gender.png" alt="date">
                        <h6>성별 : </h6>
                        <h6>수컷</h6>
                    </div>
                    <div class="a-c-breed">
                        <img src="/images/breed.png" alt="date">
                        <h6>품종 : </h6>
                        <h6>믹스견</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="../board/abandonedBoardSelect">
            <div class="content">
                <div class="content-img">
                    <img src="" alt="">
                </div>
                <div class="content-detail">
                    <div class="a-c-title">
                        <h6>공고번호 : 광주-북구-2023-00650</h6>
                    </div>
                    <div class="a-c-location">
                        <img src="/images/location.png" alt="writer">
                        <h6>발견장소 : </h6>
                        <h6>북구 본촌동</h6>
                    </div>
                    <div class="a-c-gender">
                        <img src="/images/gender.png" alt="date">
                        <h6>성별 : </h6>
                        <h6>수컷</h6>
                    </div>
                    <div class="a-c-breed">
                        <img src="/images/breed.png" alt="date">
                        <h6>품종 : </h6>
                        <h6>믹스견</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="../board/abandonedBoardSelect">
            <div class="content">
                <div class="content-img">
                    <img src="" alt="">
                </div>
                <div class="content-detail">
                    <div class="a-c-title">
                        <h6>공고번호 : 광주-북구-2023-00650</h6>
                    </div>
                    <div class="a-c-location">
                        <img src="/images/location.png" alt="writer">
                        <h6>발견장소 : </h6>
                        <h6>북구 본촌동</h6>
                    </div>
                    <div class="a-c-gender">
                        <img src="/images/gender.png" alt="date">
                        <h6>성별 : </h6>
                        <h6>수컷</h6>
                    </div>
                    <div class="a-c-breed">
                        <img src="/images/breed.png" alt="date">
                        <h6>품종 : </h6>
                        <h6>믹스견</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="../board/abandonedBoardSelect">
            <div class="content">
                <div class="content-img">
                    <img src="" alt="">
                </div>
                <div class="content-detail">
                    <div class="a-c-title">
                        <h6>공고번호 : 광주-북구-2023-00650</h6>
                    </div>
                    <div class="a-c-location">
                        <img src="/images/location.png" alt="writer">
                        <h6>발견장소 : </h6>
                        <h6>북구 본촌동</h6>
                    </div>
                    <div class="a-c-gender">
                        <img src="/images/gender.png" alt="date">
                        <h6>성별 : </h6>
                        <h6>수컷</h6>
                    </div>
                    <div class="a-c-breed">
                        <img src="/images/breed.png" alt="date">
                        <h6>품종 : </h6>
                        <h6>믹스견</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="../board/abandonedBoardSelect">
            <div class="content">
                <div class="content-img">
                    <img src="" alt="">
                </div>
                <div class="content-detail">
                    <div class="a-c-title">
                        <h6>공고번호 : 광주-북구-2023-00650</h6>
                    </div>
                    <div class="a-c-location">
                        <img src="/images/location.png" alt="writer">
                        <h6>발견장소 : </h6>
                        <h6>북구 본촌동</h6>
                    </div>
                    <div class="a-c-gender">
                        <img src="/images/gender.png" alt="date">
                        <h6>성별 : </h6>
                        <h6>수컷</h6>
                    </div>
                    <div class="a-c-breed">
                        <img src="/images/breed.png" alt="date">
                        <h6>품종 : </h6>
                        <h6>믹스견</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="../board/abandonedBoardSelect">
            <div class="content">
                <div class="content-img">
                    <img src="" alt="">
                </div>
                <div class="content-detail">
                    <div class="a-c-title">
                        <h6>공고번호 : 광주-북구-2023-00650</h6>
                    </div>
                    <div class="a-c-location">
                        <img src="/images/location.png" alt="writer">
                        <h6>발견장소 : </h6>
                        <h6>북구 본촌동</h6>
                    </div>
                    <div class="a-c-gender">
                        <img src="/images/gender.png" alt="date">
                        <h6>성별 : </h6>
                        <h6>수컷</h6>
                    </div>
                    <div class="a-c-breed">
                        <img src="/images/breed.png" alt="date">
                        <h6>품종 : </h6>
                        <h6>믹스견</h6>
                    </div>
                </div>
            </div>
        </a>
        <a href="../board/abandonedBoardSelect">
            <div class="content">
                <div class="content-img">
                    <img src="" alt="">
                </div>
                <div class="content-detail">
                    <div class="a-c-title">
                        <h6>공고번호 : 광주-북구-2023-00650</h6>
                    </div>
                    <div class="a-c-location">
                        <img src="/images/location.png" alt="writer">
                        <h6>발견장소 : </h6>
                        <h6>북구 본촌동</h6>
                    </div>
                    <div class="a-c-gender">
                        <img src="/images/gender.png" alt="date">
                        <h6>성별 : </h6>
                        <h6>수컷</h6>
                    </div>
                    <div class="a-c-breed">
                        <img src="/images/breed.png" alt="date">
                        <h6>품종 : </h6>
                        <h6>믹스견</h6>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="board-paging-button">
        <button type="button" id="previousPageButton">
            <img src="/images/previousPageButton.png" alt="">
        </button>
        <button class="pageNumber">
            <div id="postPage1">
                <div>1</div>
                <!--<h6>1</h6>-->
            </div>
        </button>
        <button type="button" id="nextPageButton">
            <img src="/images/nextPageButton.png" alt="">
        </button>
    </div>
</div>

<script>

</script>
<div>
    <th:block th:include="Component/footer.html"></th:block>
</div>
</body>
</html>