<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/boardLayout}">
<head>
    <title>유기견 게시판</title>
</head>

<th:block layout:fragment="content">
    <div class="board-banner">
        <h3>당신이 필요한 아이들</h3>
            <img th:src="@{/images/board-banner-image.png}" class="board-banner-image" alt="walking-with-a-dog-image">
        </div>
    </div>

    <div class="board-header-menu">
        <div class="protection">
            <button onclick="navigateToAbanPage0()" class="category-button" id="btn0">보호중인 강아지</button>
        </div>
        <div class="center">
            <button onclick="navigateToAbanPage1()" class="category-button" id="btn1">동물보호센터</button>
        </div>
        <div class="adoptInfo">
            <button onclick="navigateToAbanPage2()" class="category-button" id="btn2">입양안내</button>
        </div>
        <div class="pickupInfo" id="pickupInfo">
            <button onclick="navigateToAbanPage3()" class="category-button" id="btn3">습득시 안내</button>
        </div>
    </div>

    <div class="board-container container">
        <div class="board-searchBar">
            <form id="searchForm" th:action="@{/board/abanBoard}" method="get">
                <input type="hidden" name="currentPage" value="1">
                <div class="search-buttons">
                    <div class="head-title-category">
                        <select name="city" id="searchCondition">
                            <option value="" disabled selected>지역</option>
                            <option value="6110000" th:selected="${city == '6110000'}">서울</option>
                            <option value="6260000" th:selected="${city == '6260000'}">부산</option>
                            <option value="6270000" th:selected="${city == '6270000'}">대구</option>
                            <option value="6280000" th:selected="${city == '6280000'}">인천</option>
                            <option value="6290000" th:selected="${city == '6290000'}">광주</option>
                            <option value="5690000" th:selected="${city == '5690000'}">세종</option>
                            <option value="6300000" th:selected="${city == '6300000'}">대전</option>
                            <option value="6310000" th:selected="${city == '6310000'}">울산</option>
                            <option value="6410000" th:selected="${city == '6410000'}">경기</option>
                            <option value="6530000" th:selected="${city == '6530000'}">강원</option>
                            <option value="6430000" th:selected="${city == '6430000'}">충북</option>
                            <option value="6440000" th:selected="${city == '6440000'}">충남</option>
                            <option value="6450000" th:selected="${city == '6450000'}">전북</option>
                            <option value="6460000" th:selected="${city == '6460000'}">전남</option>
                            <option value="6470000" th:selected="${city == '6470000'}">경북</option>
                            <option value="6480000" th:selected="${city == '6480000'}">경남</option>
                            <option value="6500000" th:selected="${city == '6500000'}">제주</option>
                        </select>
                    </div>

                    <div class="submit-button">
                        <button type="submit" id="searchButton" class="searchButton">검색</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="board-content-select-container" th:each="info : ${ abanInfo }">
            <div class="board-content-title">
                    <h2>보호중인 동물</h2>
            </div>
            <div class="board-select-content-aban">
                <div class="dog-img">
                    <img class="dog-img-img" th:src="${info.popfile}" alt="DOG">
                </div>
                <div class="dog-detail">
                    <div class="a-c-title">
                        <div class="nameTag">
                            <h4>공고번호</h4>
                        </div>
                        <div>
                            <h4 th:text="${info.noticeNo}"></h4>
                        </div>
                    </div>
                    <div class="a-c-date">
                        <div class="nameTag">
                            <h4>접수일시</h4>
                        </div>
                        <div>
                            <h4 th:text="${info.noticeSdt}"></h4>
                        </div>
                    </div>
                    <div class="a-c-breed">
                        <div class="nameTag">
                            <h4>품종</h4>
                        </div>
                        <div>
                            <h4 th:text="${info.kindCd}"></h4>
                        </div>
                    </div>
                    <div class="a-c-color">
                        <div class="nameTag">
                            <h4>색상</h4>
                        </div>
                        <div>
                            <h4 th:text="${info.colorCd}"></h4>
                        </div>
                    </div>
                    <div class="a-c-gender">
                        <div class="nameTag">
                            <h4>성별</h4>
                        </div>
                        <div>
                            <h4 th:text="${info.sexCd}"></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dog-detail-detail">
                <div class="detail-title">
                    <img th:src="@{/images/detail-icon.png}" alt="">
                    <h2>상세정보</h2>
                </div>
                <div class="detail-detail">
                    <div class="detail-detail-group-1">
                        <div class="a-c-RegistNumber">
                            <h4>공고번호 : </h4>
                            <h4 th:text="${info.noticeNo}"></h4>
                        </div>
                        <div class="a-c-Neutered">
                            <h4>중성화여부 : </h4>
                            <h4 th:text="${info.neuterYn}"></h4>
                        </div>
                        <div class="a-c-AgeWeight">
                            <h4>나이/체중 : </h4>
                            <h4 th:text="${info.age}"></h4>
                            <h4> / </h4>
                            <h4 th:text="${info.weight}"></h4>
                        </div>
                        <div class="a-c-Character">
                            <h4>특징 : </h4>
                            <h4 th:text="${info.specialMark}"></h4>
                        </div>
                        <div class="a-c-PlaceOfDiscovery">
                            <h4>발견장소 : </h4>
                            <h4 th:text="${info.happenPlace}"></h4>
                        </div>
                    </div>
                    <div class="detail-detail-group-2">
                        <div class="a-c-Agency">
                            <h4>관할기간 : </h4>
                            <h4 th:text="${info.orgNm}"></h4>
                        </div>
                        <div class="a-c-Condition">
                            <h4>상태 : </h4>
                            <h4 th:text="${info.processState}"></h4>
                        </div>
                        <div class="a-c-Shelter">
                            <h4>보호센터 : </h4>
                            <h4 th:text="${info.careNm}"></h4>
                        </div>
                        <div class="a-c-PhoneNumber">
                            <h4>전화번호 : </h4>
                            <h4 th:text="${info.careTel}"></h4>
                        </div>
                        <div class="a-c-PlaceOfProtection">
                            <h4>보호장소 : </h4>
                            <h4 th:text="${info.careAddr}"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-select-footer">
            <div class="back-to-list">
                <a th:href="@{/board/abanBoard}">목록</a>
            </div>
        </div>
    </div>

    <script>

        window.addEventListener('load', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const searchValue = urlParams.get('searchValue');

            const buttons = document.querySelectorAll('.category-button');
            buttons.forEach(button => button.classList.remove('active'));

            if (searchValue === '') {
            }else {
                document.getElementById('btn0').classList.add('active');
            }
        });
    </script>
</th:block>
</html>