<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/boardLayout}">
<head>
    <title>공지사항</title>
</head>

<th:block layout:fragment="content">

    <div class="board-banner">
        <h3>공지사항</h3>
        <div>
            <img th:src="@{/images/board-banner-image-2.png}" class="board-banner-image-2" alt="play-with-dog-image">
        </div>
    </div>

    <div class="board-container container">
        <div class="board-searchBar">
            <div class="board-category-container">
                <div class="board-category">
                    <button onclick="navigateToPage0()">전체</button>
                </div>
                <div class="board-category">
                    <button onclick="navigateToPage1()">공지</button>
                </div>
                <div class="board-category">
                    <button onclick="navigateToPage2()">이벤트</button>
                </div>
            </div>
            <form id="searchForm" th:action="@{/board/announcementBoard}" method="get">
                <input type="hidden" name="currentPage" value="1">
                <div class="search-buttons">
                    <div class="head-title-category">
                        <select name="searchCondition" id="searchCondition">
                            <option selected>검색조건</option>
                            <option value="postTitle">제목</option>
                            <option value="postContent">내용</option>
                            <option value="postTitleContent">제목 + 내용</option>
                            <option value="refMemCode.memId">작성자</option>
                        </select>
                    </div>

                    <div class="search-by-text">
                        <img th:src="@{/images/reading-glasses.png}" alt="readingGlasses" id="readingGlassesImage">
                        <input type="search" name="searchValue" id="searchValueInput">
                    </div>
                    <div class="submit-button">
                        <button type="submit" id="searchButton">검색</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="board-list-container">
            <div class="board-postCategory">
                <h5 class="postNo">번호</h5>
                <h5 class="postCategory">말머리</h5>
                <h5 class="postTitle">제목</h5>
                <h5 class="postUser">작성자</h5>
                <h5 class="postCount">조회수</h5>
                <h5 class="postDate">등록일</h5>
            </div>
        </div>

        <div class="postList" th:each="board : ${ boardList }">
            <h6 class="testPost-postNo" th:text="${board.postCode}"></h6>
            <h6 class="testPost-postCategory" th:text="${board.postSort}"></h6>
            <h6 class="testPost-postTitle" th:text="${board.postTitle}"></h6>
            <h6 class="testPost-postUser" th:text="${board.refPostWriter.memId}"></h6>
            <h6 class="testPost-postCount" th:text="${board.postCount}"></h6>
            <h6 class="testPost-postDate" th:text="${board.postDate}"></h6>
        </div>

        <div class="board-write">
            <a th:href="@{/board/announcementBoardWrite}" id="board-write-button" alt="글쓰기">
                <div class="board-write-text">
                    <div>글쓰기</div>
                </div>
            </a>
        </div>

        <div class="board-paging-button">
            <!-- 맨 앞으로 이동 버튼 -->
            <button
                    th:onclick="'location.href=\'/board/freeBoard?currentPage='+ @{${selectCriteria.startPage}} + '\''"
                    th:disabled="${selectCriteria.pageNo == 1}"
            >
                <img th:src="@{/images/firstPageButton.png}" alt="firstPageButton">
            </button>
            <!-- 이전 페이지 버튼 -->
            <button
                    th:onclick="'location.href=\'/board/announcementBoardSelect?currentPage='+ @{${selectCriteria.pageNo - 1}} + '\''"
                    th:disabled="${selectCriteria.pageNo == 1}"
            >
                <img th:src="@{/images/previousPageButton.png}" alt="previousPageButton">
            </button>
            <!-- 숫자 버튼 -->
            <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
                <button
                        th:text="${ page }"
                        th:onclick="'location.href=\'/board/announcementBoardSelect?currentPage='+ @{${page}} + '\''"
                        th:disabled="${ selectCriteria.pageNo eq page }">
                </button>
            </th:block>

            <!-- 다음 페이지 버튼 -->
            <button
                    th:onclick="'location.href=\'/board/announcementBoardSelect?currentPage='+ @{${selectCriteria.pageNo + 1}} + '\''"
                    th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"
            >
                <img th:src="@{/images/nextPageButton.png}" alt="nextPageButton">
            </button>
            <!-- 마지막 페이지로 이동 버튼 -->
            <button
                    th:onclick="'location.href=\'/board/announcementBoardSelect?currentPage='+ @{${selectCriteria.maxPage}} + '\''"
                    th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"
            >
                <img th:src="@{/images/lastPageButton.png}" alt="lastPageButton">
            </button>
        </div>
    </div>

    <script th:inline="javascript">

        // let message = '[[${message}]]';
        //
        // if(message != null && message !== 'null') {
        //     alert(message);
        // }

        if (document.querySelectorAll(".board-container .postList")) {
            const $tds = document.querySelectorAll(".board-container .postList");
            for (let i = 0; i < $tds.length; i++) {

                $tds[i].onmouseenter = function() {
                    this.style.backgroundColor = "#A6CEF7";
                    this.style.cursor = "pointer";
                }

                $tds[i].onmouseleave = function() {
                    this.style.backgroundColor = "transparent";
                }

                $tds[i].onclick = function() {
                    const no = this.children[0].innerText;
                    location.href = "/board/announcementBoardSelect?no=" + no;
                }
            }
        }
        function navigateToPage0() {
            window.location.href = '/board/announcementBoard';
        }
        function navigateToPage1() {
            window.location.href = '/board/announcementBoard?currentPage=1&searchCondition=postSort&searchValue=공지';
        }
        function navigateToPage2() {
            window.location.href = '/board/announcementBoard?currentPage=1&searchCondition=postSort&searchValue=이벤트';
        }
    </script>

</th:block>
</html>