<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>boardAnnouncement</title>

    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">
    
    <!--bootstrap-->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!--css-->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <link rel="stylesheet" href="../css/sanitize.css">
    <link rel="stylesheet" href="../board/css/boardAnnouncementSelect.css">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    
    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">

    <script type="text/javascript">
        $(document).ready( function() {
            $("#headers").load("../Component/header.html");
            $('#headers').css("position", "fixed");
            $('#headers').css("width", "100%");
            $("#footers").load("../Component/footer.html");
            $('#footers').css("z-index", "5");
        });
    </script>

</head>
<body>

<div id="headers"></div>

    <div class="board-announcement-banner">
        <h3>공지사항</h3>
        <div>
            <img src="/css/images/board-banner-image.png" class="board-banner-image" alt="walking-with-a-dog-image">
        </div>
    </div>

    <div class="board-container container">
        <div class="board-announcement-searchBar">
            <div class="search-buttons">
                <div class="search-by-text">
                    <img src="/css/images/reading-glasses.png" alt="readingGlasses" id="readingGlassesImage">
                    <input type="text" name="textSearching" id="textSearching">
                </div>
                <div class="submit-button">
                    <button type="submit" id="searchButton">검색</button>
                </div>
            </div>
        </div>
        <div class="board-select-header-buttons">
            <div class="like-button">
                <button type="button" id="like-button">
                    <img src="/css/images/like-button.png" alt="like-button">
                </button>
            </div>
            <div class="report-button">
                <button type="button" id="report-button">
                    <img src="/css/images/report-button.png" alt="report-button">
                </button>
            </div>
        </div>
        <div class="board-announcement-content-select-container">
            <div class="board-announcement-content-title">
                    <h5 id="postNo">1</h5>
                    <h5 id="postTitle">인생첫공지</h5>
                    <h5 id="postUser">daalgae</h5>
                    <h5 id="postDate">2023-09-11</h5>
            </div>
            <div class="board-select-content">
                <div>
                    <h5>안녕하세요</h5>
                    <img src="/css/images/board-dangdanginfotoon-button.png" alt="">
                    <h5>귀여운 강아지를 자주 봅시다.</h5>
                </div>
            </div>
        </div>
        <div class="board-select-footer">
            <div class="back-to-boast-list">
                <a href="../board/announcementBoard">목록</a>
            </div>
        </div>
    </div>

    <script>

    </script>
<div id="footers"></div>
</body>
</html>