<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/boardLayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>공지사항</title>
</head>

<th:block layout:fragment="content">

    <div class="board-banner">
        <h3>공지사항</h3>
        <div>
            <img th:src="@{/images/board-banner-image-2.png}" class="board-banner-image-2" alt="play-with-dog-image">
        </div>
    </div>

    <div class="board-container container">
        <div class="board-searchBar">
            <div class="board-category-container">
                <div class="board-category">
                    <button onclick="navigateToAnnoPage0()" class="category-button" id="btn0">전체</button>
                </div>
                <div class="board-category">
                    <button onclick="navigateToAnnoPage1()" class="category-button" id="btn1">공지</button>
                </div>
                <div class="board-category">
                    <button onclick="navigateToAnnoPage2()" class="category-button" id="btn2">이벤트</button>
                </div>
            </div>
            <form id="searchForm" th:action="@{/board/annoBoard}" method="get">
                <input type="hidden" name="currentPage" value="1">
                <div class="search-buttons">
                    <div class="head-title-category">
                        <select name="searchCondition" id="searchCondition">
                            <option value="postTitle" selected>제목</option>
                            <option value="postContent">내용</option>
                            <option value="postTitleContent">제목 + 내용</option>
                            <option value="refMemCode.memId">작성자</option>
                        </select>
                    </div>

                    <div class="search-by-text">
                        <img th:src="@{/images/reading-glasses.png}" alt="readingGlasses" id="readingGlassesImage">
                        <input type="search" name="searchValue" id="searchValueInput">
                    </div>
                    <div class="submit-button">
                        <button type="submit" id="searchButton">검색</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="board-list-container">
            <div class="board-postCategory">
                <h5 class="postNo">번호</h5>
                <h5 class="postCategory">말머리</h5>
                <h5 class="postTitle">제목</h5>
                <h5 class="postUser">작성자</h5>
                <h5 class="postCount">조회수</h5>
                <h5 class="postDate">등록일</h5>
            </div>
        </div>

        <div class="postList" th:each="board : ${ boardList }">
            <h6 class="testPost-postNo" th:text="${board.postCode}"></h6>
            <h6 class="testPost-postCategory" th:text="${board.postSort}"></h6>
            <h6 class="testPost-postTitle" th:text="${board.postTitle}"></h6>
            <h6 class="testPost-postUser" th:text="${board.refPostWriter.memId}"></h6>
            <h6 class="testPost-postCount" th:text="${board.postCount}"></h6>
            <h6 class="testPost-postDate" th:text="${board.postDate}"></h6>
        </div>

        <th:block
                sec:authorize="isAuthenticated()"
                th:if="${ #authentication.getPrincipal().getMemRole() == 'ROLE_ADMIN' }"
        >
        <div class="board-write">
            <a th:href="@{/board/annoBoardWrite}" id="board-write-button" alt="글쓰기">
                <div class="board-write-text">
                    <div>글쓰기</div>
                </div>
            </a>
        </div>
        </th:block>

        <div class="board-paging-button">
            <button th:if="${selectCriteria.startPage > 0}"
                    th:onclick="'location.href=\'/board/annoBoard?currentPage=1' + '&searchCondition=' + @{${selectCriteria.searchCondition}} + '&searchValue=' + @{${selectCriteria.searchValue}}+'\''"
                    th:disabled="${selectCriteria.pageNo == 1}"
            >
                <<
            </button>
            <button
                    th:onclick="'location.href=\'/board/annoBoard?currentPage='+ @{${selectCriteria.startPage - 1}} + '&searchCondition=' + @{${selectCriteria.searchCondition}} + '&searchValue=' + @{${selectCriteria.searchValue}}+'\''"
                    th:disabled="${selectCriteria.pageNo < 6}"
            >
                <
            </button>
            <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
                <button
                        th:text="${ page }"
                        th:onclick="'location.href=\'/board/annoBoard?currentPage=' + @{${page}} + '&searchCondition=' + @{${selectCriteria.searchCondition}} + '&searchValue=' + @{${selectCriteria.searchValue}}+'\''"
                        th:disabled="${ selectCriteria.pageNo eq page }"
                        th:classappend="${selectCriteria.pageNo == page} ? 'current-page' : ''">
                </button>
            </th:block>
            <button
                    th:onclick="'location.href=\'/board/annoBoard?currentPage='+ @{${selectCriteria.endPage + 1}} + '&searchCondition=' + @{${selectCriteria.searchCondition}} + '&searchValue=' + @{${selectCriteria.searchValue}}+'\''"
                    th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage or selectCriteria.maxPage - selectCriteria.pageNo < 4 }"
            >
                >
            </button>
            <button
                    th:onclick="'location.href=\'/board/annoBoard?currentPage='+ @{${selectCriteria.maxPage}} + '&searchCondition=' + @{${selectCriteria.searchCondition}} + '&searchValue=' + @{${selectCriteria.searchValue}}+'\''"
                    th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"
            >
                >>
            </button>
        </div>
    </div>

    <script th:inline="javascript">

        let message = '[[${message}]]';

        if(message != null && message !== 'null') {
            alert(message);
        }

        if (document.querySelectorAll(".board-container .postList")) {
            const $tds = document.querySelectorAll(".board-container .postList");
            for (let i = 0; i < $tds.length; i++) {

                $tds[i].onmouseenter = function() {
                    this.style.backgroundColor = "#A6CEF7";
                    this.style.cursor = "pointer";
                }

                $tds[i].onmouseleave = function() {
                    this.style.backgroundColor = "transparent";
                }

                $tds[i].onclick = function() {
                    const no = this.children[0].innerText;
                    location.href = "/board/annoBoardSelect?no=" + no;
                }
            }
        }

        window.addEventListener('load', function() {
            // 현재 URL에서 search 파라미터를 가져옵니다
            const urlParams = new URLSearchParams(window.location.search);
            const searchValue = urlParams.get('searchValue');

            // 모든 버튼을 찾아서 'active' 클래스를 제거합니다
            const buttons = document.querySelectorAll('.category-button');
            buttons.forEach(button => button.classList.remove('active'));

            // searchValue에 따라 해당 버튼에 'active' 클래스를 추가합니다
            if (searchValue === '공지') {
                document.getElementById('btn1').classList.add('active');
            } else if (searchValue === '이벤트') {
                document.getElementById('btn2').classList.add('active');
            } else {
                document.getElementById('btn0').classList.add('active');
            }
        });

    </script>

</th:block>
</html>