<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>boardAnnouncementModify</title>

    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">

    <!--bootstrap-->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

    <!--css-->
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/mobile.css}">
    <link rel="stylesheet" th:href="@{/css/sanitize.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">

    <link rel="stylesheet" th:href="@{https://unpkg.com/aos@2.3.1/dist/aos.css}">
    <link rel="stylesheet" th:href="@{http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css}"/>

    <!--js-->
    <script th:src="@{http://code.jquery.com/jquery-latest.min.js}"></script>
    <script th:src="@{https://unpkg.com/aos@2.3.1/dist/aos.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js}"></script>

    <!--favicon--->
    <link th:href="@{favicon.ico}" rel="icon">
    <link th:href="@{favicon.ico}" rel="apple-touch-icon">

    <script type="text/javascript">
        $(document).ready( function() {
            $('#headers').css("position", "fixed");
            $('#headers').css("width", "100%");
            $('#headers').css("z-index", "5");
            $('#menu').css("margin-top", "-16px");
        });
    </script>

</head>
<body>

<div id="headers">
    <th:block th:include="Component/header.html"></th:block>
</div>

    <div class="board-banner">
        <h3>공지사항</h3>
        <div>
            <img src="/images/board-banner-image-2.png" class="board-banner-image-2" alt="play-with-dog-image">
        </div>
    </div>

    <div class="board-container container">
        <div class="header-board-write-text">
            <h2>글수정</h2>
        </div>
        <div class="board-write-header">
            <div class="category">
                <select name="말머리" id="HeadTitle">
                    <option value="default" selected>말머리 선택</option>
                    <option value="공지">공지사항</option>
                    <option value="이벤트">이벤트</option>
                </select>
            </div>
            <div class="write-title">
                <input type="text" name="Title" id="Title" placeholder="제목을 입력해주세요.">
            </div>
            <div class="imageUpload">
                <label for="imageUpload" class="label-imageUpload" id="imageUploadButton">
                    <img src="/images/imageUpload.png" alt="이미지업로드">
                </label>
                <input type="file" name="imageUpload" id="imageUpload" style="display: none;">
            </div>
        </div>
        <div class="board-write-content">
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </div>
        <div class="board-write-buttons">
            <div class="write-button">
                <button type="submit" value="수정">수정완료</button>
            </div>
            <div class="write-cancel">
                <a href="../board/announcementBoard">취소</a>
            </div>
        </div>
    </div>

    <script>

    </script>
<div>
    <th:block th:include="Component/footer.html"></th:block>
</div>
</body>
</html>