<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{board/layouts/boardLayout}">
<head>
    <title>공지사항</title>
</head>

<th:block layout:fragment="content">
    <div class="board-banner">
        <h3>공지사항</h3>
        <div>
            <img th:src="@{/images/board-banner-image.png}" class="board-banner-image" alt="walking-with-a-dog-image">
        </div>
    </div>

    <div class="board-container container">
        <div class="board-searchBar">
            <div class="search-buttons">
                <div class="search-by-text">
                    <img th:src="@{/images/reading-glasses.png}" alt="readingGlasses" id="readingGlassesImage">
                    <input type="text" name="textSearching" id="textSearching">
                </div>
                <div class="submit-button">
                    <button type="submit" id="searchButton">검색</button>
                </div>
            </div>
        </div>
        <div class="board-select-header-buttons">
            <div class="like-button">
                <button type="button" id="like-button">
                    <img th:src="@{/images/like-button.png}" alt="like-button">
                </button>
            </div>
            <div class="report-button">
                <button type="button" id="report-button">
                    <img th:src="@{/images/report-button.png}" alt="report-button">
                </button>
            </div>
        </div>
        <div class="board-content-select-container">
            <div class="board-content-title" th:each="board : ${ board }">
                <h6 class="postNo" th:text="${board.no}"></h6>
                <h6 class="postCategory" th:text="${board.category.name}"></h6>
                <h6 class="postTitle" th:text="${board.title}"></h6>
                <h6 class="postUser" th:text="${board.writer.memName}"></h6>
                <h6 class="postCount" th:text="${board.count}"></h6>
                <h6 class="postDate" th:text="${board.createdDate}"></h6>
            </div>
            <div class="board-select-content">
                <div class="board-textarea">
                    <textarea
                            name="body"
                            cols="120"
                            rows="15"
                            readonly
                            th:text="${board.body}"
                    >
                    </textarea>
            </div>
        </div>
        <div class="board-select-footer">
            <div class="back-to-list">
                <a th:href="@{/board/announcementBoard}">목록</a>
            </div>
        </div>
    </div>
</div>
</th:block>
</html>