<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{board/layouts/boardLayout}">
<head>
    <title>자랑갤러리</title>
</head>

<th:block layout:fragment="content">
    <div class="board-banner">
        <h3>자랑갤러리</h3>
        <div>
            <img th:src="@{/images/board-banner-image.png}" class="board-banner-image" alt="walking-with-a-dog-image">
        </div>
    </div>

    <div class="board-container container">
        <div class="board-searchBar">
            <div class="search-buttons">
                <div class="search-category">
                    <select name="search-category" id="search-category">
                        <option value="제목">제목</option>
                        <option value="제목내용">제목 + 내용</option>
                        <option value="작성자">작성자</option>
                    </select>
                </div>
                <div class="search-by-text">
                    <img th:src="@{/images/reading-glasses.png}" alt="readingGlasses" id="readingGlassesImage">
                    <input type="text" name="textSearching" id="textSearching">
                </div>
                <div class="submit-button">
                    <button type="submit" id="searchButton">검색</button>
                </div>
            </div>
        </div>
        <div class="board-content-container">
<!--            <a th:href="@{/board/boastBoardSelect}">-->
<!--                <div class="content">-->
<!--                    <div class="content-img">-->
<!--                        <img th:src="@{/images/petiket3.png}" alt="DOG" style="width: 100%">-->
<!--                    </div>-->
<!--                    <div class="content-detail">-->
<!--                        <div class="b-c-title">-->
<!--                            <h5>인생첫글</h5>-->
<!--                        </div>-->
<!--                        <div class="b-c-user">-->
<!--                            <img th:src="@{/images/writer.png}" alt="writer">-->
<!--                            <h6>작성자</h6>-->
<!--                        </div>-->
<!--                        <div class="b-c-date">-->
<!--                            <img th:src="@{/images/date.png}" alt="date">-->
<!--                            <h6>2023-09-11</h6>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->

                <th:block th:each="thumbnail : ${ thumbnailList }">
                    <div class="content" id="thumbnailArea">
                        <div class="content-img">
                            <label th:text="${ thumbnail.no }" style="display: none"></label>
                            <img th:src="@{|/thumbPath${thumbnail.attachmentList[0].getThumbnailPath()}|}" width="300px" height="200px">
                        </div>
                        <div class="content-detail">
                            <div class="b-c-title">
                                <span th:text="${ thumbnail.title }"></span>
                            </div>
                            <div class="b-c-user">
                                <img th:src="@{/images/writer.png}" alt="writer">
                                <span th:text="|작성자 : ${ thumbnail.writer.memName }|"></span>
                            </div>
                            <div class="b-c-date">
                                <img th:src="@{/images/date.png}" alt="date">
                                <span th:text="|작성일자 : ${ thumbnail.createdDate }|"></span>
                            </div>
                        </div>
                    </div>
                </th:block>

        </div>
        <div class="board-write">
            <a th:href="@{/board/boastBoardWrite}" id="board-write-button" alt="글쓰기">
                <div class="board-write-text">
                    <div>글쓰기</div>
                </div>
            </a>
        </div>
        <div class="board-paging-button">
            <button type="button" id="previousPageButton">
                <img th:src="@{/images/previousPageButton.png}" alt="">
            </button>
            <button class="pageNumber">
                <div id="postPage1">
                    <div>1</div>
                </div>
            </button>
            <button type="button" id="nextPageButton">
                <img th:src="@{/images/nextPageButton.png}" alt="">
            </button>
        </div>
    </div>

    <script th:inline="javascript">

        $("#thumbnailArea > div").click(function(){
            const no = $(this).find("label").text();
            console.log(no);
            location.href = "/board/boastBoardSelect?no=" + no;
        });

    </script>

</th:block>
</html>