<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>boardBoast</title>

    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">
    
    <!--bootstrap-->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!--css-->
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/mobile.css">
    <link rel="stylesheet" href="../../static/css/sanitize.css">
    <link rel="stylesheet" href="/board/css/boardBoast.css">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    
    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
</head>
<body>
    <div class="board-boast-banner">
        <h3>자랑갤러리</h3>
        <div>
            <a href="/board/mainBoard.html" alt="back-arrow-to-main">
                <img src="/board/images/board-back-button.png" class="board-button-back-image" alt="back-arrow-to-board-main">
            </a>
        </div>
        <div>
            <img src="/board/images/board-banner-image.png" class="board-banner-image" alt="walking-with-a-dog-image">
        </div>
    </div>
    <div class="board-container">
        <div class="board-boast-searchBar">
            <div class="search-buttons">
                <div class="boast-search-category">
                    <select name="boast-search-category" id="boast-search-category">
                        <option value="제목">제목</option>
                        <option value="제목내용">제목 + 내용</option>
                        <option value="작성자">작성자</option>
                    </select>
                </div>
                <div class="search-by-text">
                    <img src="/board/images/reading-glasses.png" alt="readingGlasses" id="readingGlassesImage">
                    <input type="text" name="textSearching" id="textSearching">
                </div>
                <div class="submit-button">
                    <button type="submit" id="searchButton">검색</button>
                </div>
            </div>
        </div>
        <div class="board-boast-content-container">
            <a href="/board/boastBoardSelect.html">
                <div class="boast-content">
                    <div class="boast-content-img">
                        <img src="" alt="">
                    </div>
                    <div class="boast-content-detail">
                        <div class="b-c-title">
                            <h4>인생첫글</h4>
                        </div>
                        <div class="b-c-user">
                            <img src="/board/images/boast-writer.png" alt="writer">
                            <h5>작성자</h5>
                        </div>
                        <div class="b-c-date">
                            <img src="/board/images/boast-date.png" alt="date">
                            <h5>2023-09-11</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="board-boast-write">
            <a href="boastBoardWrite.html" id="board-write-button" alt="글쓰기">
                <div class="board-write-text">
                    <h3>글쓰기</h3>
                </div>
            </a>
        </div>
        <div class="board-paging-button">
            <button type="button" id="previousPageButton">
                <img src="/board/images/previousPageButton.png" alt="">
            </button>
            <button class="pageNumber">
                <div id="postPage1">
                    <div></div>
                    <h4>1</h4>
                </div>
            </button>
            <button type="button" id="nextPageButton">
                <img src="/board/images/nextPageButton.png" alt="">
            </button>
        </div>
    </div>

    <script>

    </script>
</body>
</html>