<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{board/layouts/boardLayout}">
<head>
    <title>자유게시판</title>
</head>

<th:block layout:fragment="content">
    <div class="board-banner">
        <h3>자유게시판</h3>
        <div>
            <img th:src="@{/images/board-banner-image-2.png}" class="board-banner-image-2" alt="play-with-dog-image">
        </div>
    </div>

    <div class="board-container container">
        <div class="board-searchBar">
            <div class="search-buttons">
                <div class="head-title-category">
                    <select name="head-title-category" id="head-title-category">
                        <option value="말머리" selected>말머리</option>
                        <option value="용품">용품</option>
                        <option value="먹거리">먹거리</option>
                    </select>
                </div>
                <div class="search-category">
                    <select name="search-category" id="search-category">
                        <option value="제목">제목</option>
                        <option value="제목내용">제목 + 내용</option>
                        <option value="작성자">작성자</option>
                    </select>
                </div>
                <div class="search-by-text">
                    <img th:src="@{/images/reading-glasses.png}" alt="readingGlasses" id="readingGlassesImage">
                    <input type="text" name="textSearching" id="textSearching">
                </div>
                <div class="submit-button">
                    <button type="submit" id="searchButton">검색</button>
                </div>
            </div>
        </div>
        <div class="board-list-container">
            <div class="board-postCategory">
                <h5 id="postNo">번호</h5>
                <h5 id="postTitle">제목</h5>
                <h5 id="postUser">작성자</h5>
                <h5 id="postDate">등록일</h5>
            </div>
        </div>
        <div class="postList">
            <a th:href="@{/board/freeBoardSelect}" class="post">
                <div class="post-info">
                    <h5 id="testPost-postNo">1</h5>
                    <h5 id="testPost-postTitle">집가고싷다시파</h5>
                    <h5 id="testPost-postUser">daalgae</h5>
                    <h5 id="testPost-postDate">2023-09-11</h5>
                </div>
            </a>
        </div>
        <div class="board-write">
            <a th:href="@{/board/freeBoardWrite}" id="board-write-button" alt="글쓰기">
                <div class="board-write-text">
                    <div>글쓰기</div>
                </div>
            </a>
        </div>
        <div class="board-paging-button">
            <button type="button" id="previousPageButton">
                <img th:src="@{/images/previousPageButton.png}" alt="">
            </button>
            <button class="pageNumber">
                <div id="postPage1">
                    <div>1</div>
                </div>
            </button>
            <button type="button" id="nextPageButton">
                <img th:src="@{/images/nextPageButton.png}" alt="">
            </button>
        </div>
    </div>

</th:block>
</html>