<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/boardLayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>자유게시판</title>
</head>

<th:block layout:fragment="content">
    <div class="board-banner">
        <h3>자유게시판</h3>
        <div>
            <img th:src="@{/images/board-banner-image.png}" class="board-banner-image" alt="walking-with-a-dog-image">
        </div>
    </div>

    <div class="board-container container">
        <div class="board-searchBar">
            <div class="board-category-container">
                <div class="board-category">
                    <button onclick="navigateToPage0()">전체</button>
                </div>
                <div class="board-category">
                    <button onclick="navigateToPage1()">자유</button>
                </div>
                <div class="board-category">
                    <button onclick="navigateToPage2()">먹거리</button>
                </div>
                <div class="board-category">
                    <button onclick="navigateToPage3()">용품</button>
                </div>
            </div>
            <form id="searchForm" th:action="@{/board/freeBoard}" method="get">
                <input type="hidden" name="currentPage" value="1">
                <div class="search-buttons">
                    <div class="head-title-category">
                        <select name="searchCondition" id="searchCondition">
                            <option selected>검색조건</option>
                            <option value="postTitle">제목</option>
                            <option value="postContent">내용</option>
                            <option value="postTitleContent">제목 + 내용</option>
                            <option value="postWriter">작성자</option>
                        </select>
                    </div>

                    <div class="search-by-text">
                        <img th:src="@{/images/reading-glasses.png}" alt="readingGlasses" id="readingGlassesImage">
                        <input type="search" name="searchValue" id="searchValueInput">
                    </div>
                    <div class="submit-button">
                        <button type="submit" id="searchButton">검색</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="board-select-header-buttons">
            <div class="like-button">
                <button type="button" id="like-button">
                    <img th:src="@{/images/like-button.png}" alt="like-button">
                </button>
            </div>
            <div class="report-button">
                <button type="button" id="report-button">
                    <img th:src="@{/images/report-button.png}" alt="report-button">
                </button>
            </div>
        </div>
        <div class="board-content-select-container">
            <div class="board-content-title" th:each="board : ${ board }">
                <h6 class="postNo" th:text="${board.postCode}"></h6>
                <h6 class="postCategory" th:text="${board.postSort}"></h6>
                <h6 class="postTitle" th:text="${board.postTitle}"></h6>
                <h6 class="postUser" th:text="${board.refPostWriter.memId}"></h6>
                <h6 class="postCount" th:text="${board.postCount}"></h6>
                <h6 class="postDate" th:text="${board.postDate}"></h6>
            </div>
            <div class="board-select-content">
                <div class="board-textarea">
                    <textarea
                            name="body"
                            cols="120"
                            rows="15"
                            readonly
                            th:text="${board.postContent}"
                    >
                    </textarea>

                </div>
            </div>
        </div>
        <div class="board-select-footer">
            <div class="comment-section-title">
                <img th:src="@{/images/comment-icon.png}" alt="dog-paw">
                <h6>의견을 남겨주세요</h6>
            </div>

            <div class="write-comment" id="replyWrite">
                <input type="hidden" id="boardNo" th:value="${board.postCode}">
                <div class="write-comment-info">
                    <h6>*내용(0 / 300자)</h6>
                    <!-- 타이핑하는 텍스트에 따라 유동적으로 변하게 하기 -->
                </div>
                <div class="write-comment-content">
                    <textarea name="comment" id="replyBody" cols="30" rows="10"></textarea>
                </div>
                <div class="write-comment-button">
                    <button type="button" id="registReply">댓글달기</button>
                </div>
            </div>

            <div class="comment" id="replyResult">
                <th:block th:if="${ replyList != null }">

                    <th:block th:each="reply : ${replyList}">

                    <div class="replyListTr comment-content">
                        <input type="hidden" id="${ reply.replyCode }" th:value="${ reply.replyCode }">
                        <div id="reply-writer" th:text="${ reply.replyWriterDetail.memId }"></div>
                        <div id="reply-body" th:text="${ reply.replyCon}"></div>
                        <div id="reply-date" th:text="${ reply.replyDate }"></div>
                        <div id="comment-report-button">
                            <button>
                                <img th:src="@{/images/report-comment-button.png}" alt="comment-report-button">
                            </button>
                        </div>
                        <th:block
                                sec:authorize="isAuthenticated()"
                                th:if="${ #authentication.getPrincipal().getMemCode() == reply.refReplyWriter }"
                        >
                            <div id="comment-delete-button">
                            <button
                                    type="button"
                                    th:replyCode="${ reply.replyCode }"
                                    th:onclick="removeReply(this.getAttribute('replyCode'))"
                            >
                                삭제
                            </button>
                            </div>
                        </th:block>
                    </div>
                    </th:block>
                </th:block>
            </div>

            <th:block sec:authorize="isAuthenticated()" th:if="${ #authentication.getPrincipal().getMemCode() == board.refPostWriter.memCode + 1}">
                <form th:action="@{/board/deletePost}" id="boardDeleteForm" method="post">
                    <input type="hidden" name="postCode" th:value="${board.postCode}">
                    <div class="updatePost">
                        <button type="submit">수정</button>
                    </div>
                    <div class="deletePost">
                        <button type="submit">삭제</button>
                    </div>
                </form>
            </th:block>

            <div class="back-to-list">
                <a th:href="@{/board/freeBoard}">목록</a>
            </div>
        </div>
    </div>
    <script th:inline="javascript">

        /* 댓글 작성 이벤트 처리 */
        if(document.getElementById("registReply")) {

            const $registReply = document.getElementById("registReply");
            const $replyBody = document.getElementById("replyBody");

            $registReply.onclick = function() {

                if($replyBody.value.trim() == ""){
                    alert('댓글을 입력해 주십시오');
                    return ;
                }

                let boardNo = document.getElementById("boardNo").value;
                let replyBody = document.getElementById("replyBody").value;

                console.log('BoardNo : ', boardNo);
                console.log('replyBody : ', replyBody);

                fetch("/board/registReply", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    },
                    body: JSON.stringify(
                        {
                            refReplyWriter: '[[${#authentication.getPrincipal().getMemCode()}]]',
                            refPostCode: boardNo,
                            replyCon: replyBody
                        }
                    )
                })
                    .then(result => result.json())
                    .then(data => {
                        const $table = $("#replyResult");
                        $table.html("");

                        data.map((reply) => {
                            $tr = $("<div class='comment-content'>");
                            $bodyTd = $("<div id='reply-body'>").text(reply.replyCon);
                            $writerTd = $("<div id='reply-writer'>").text(reply.replyWriterDetail.memId);
                            $createDateTd = $("<div id='reply-date'>").text(reply.replyDate);
                            $reportButton = $("<div id='comment-report-button'>").append("<button><img src='/images/report-comment-button.png' alt='comment-report-button'></button>")
                            if(reply.refReplyWriter == '[[${#authentication.getPrincipal().getMemCode()}]]'){
                                $removeTd = $("<div id='comment-delete-button'>").append("<button type='button' onclick='removeReply(" + reply.replyCode + ")'>삭제</button>");
                            } else {
                                $removeTd = $("<div>");
                            }

                            $tr.append("<input type='hidden' id=" + reply.replyCode + " value='" + reply.replyCode + "'>");
                            $tr.append($writerTd);
                            $tr.append($bodyTd);
                            $tr.append($createDateTd);
                            $tr.append($reportButton);
                            $tr.append($removeTd);

                            $table.append($tr);
                        });

                    })
                    .catch((error) => error.text().then((res) => alert(res)));
            }
        }



        /* 댓글 삭제 이벤트 처리 함수*/
        function removeReply(replyCode){

            let boardNo = document.getElementById("boardNo").value;

            fetch("/board/removeReply", {
                method: "DELETE",
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8'
                },
                body: JSON.stringify(
                    {
                        refPostCode:boardNo,
                        replyCode:replyCode
                    }
                )
            })
                .then(result => result.json())
                .then(data => {
                    console.table(data);

                    const $table = $("#replyResult");
                    $table.html("");

                    data.map((reply) => {
                        $tr = $("<div class='comment-content'>");
                        $bodyTd = $("<div id='reply-body'>").text(reply.replyCon);
                        $writerTd = $("<div id='reply-writer'>").text(reply.replyWriterDetail.memId);
                        $createDateTd = $("<div id='reply-date'>").text(reply.replyDate);
                        $reportButton = $("<div id='comment-report-button'>").append("<button><img src='/images/report-comment-button.png' alt='comment-report-button'></button>")
                        if(reply.refReplyWriter == '[[${#authentication.getPrincipal().getMemCode()}]]'){
                            $removeTd = $("<div id='comment-delete-button'>").append("<button type='button' onclick='removeReply(" + reply.replyCode + ")'>삭제</button>");
                        } else {
                            $removeTd = $("<div>");
                        }

                        $tr.append("<input type='hidden' id=" + reply.replyCode + " value='" + reply.replyCode + "'>");
                        $tr.append($writerTd);
                        $tr.append($bodyTd);
                        $tr.append($createDateTd);
                        $tr.append($reportButton);
                        $tr.append($removeTd);

                        $table.append($tr);
                    });


                })
                .catch((error) => error.text().then((res) => alert(res)));
        }
    </script>

</th:block>
</html>