<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{board/layouts/boardLayout}">
<head>
    <title>자유게시판</title>
</head>

<th:block layout:fragment="content">
    <div class="board-banner">
        <h3>자유게시판</h3>
        <div>
            <img th:src="@{/images/board-banner-image-2.png}" class="board-banner-image-2" alt="play-with-dog-image">
        </div>
    </div>

    <div class="board-container container">
        <div class="board-searchBar">
            <div class="search-buttons">
                <div class="head-title-category">
                    <select name="head-title-category" id="head-title-category">
                        <option value="말머리" selected>말머리</option>
                        <option value="용품">용품</option>
                        <option value="먹거리">먹거리</option>
                        <option value="일상">일상</option>
                    </select>
                </div>
                <div class="search-category">
                    <select name="search-category" id="search-category">
                        <option value="제목">제목</option>
                        <option value="제목내용">제목 + 내용</option>
                        <option value="작성자">작성자</option>
                    </select>
                </div>
                <div class="search-by-text">
                    <img th:src="@{/images/reading-glasses.png}" alt="readingGlasses" id="readingGlassesImage">
                    <input type="text" name="textSearching" id="textSearching">
                </div>
                <div class="submit-button">
                    <button type="submit" id="searchButton">검색</button>
                </div>
            </div>
        </div>
        <div class="board-list-container">
            <div class="board-postCategory">
                <h5 class="postNo">번호</h5>
                <h5 class="postCategory">말머리</h5>
                <h5 class="postTitle">제목</h5>
                <h5 class="postUser">작성자</h5>
                <h5 class="postCount">조회수</h5>
                <h5 class="postDate">등록일</h5>
            </div>
        </div>
        <div class="postList" th:each="board : ${ boardList }">
                    <h5 class="testPost-postNo" th:text="${board.no}"></h5>
                    <h5 class="testPost-postCategory" th:text="${board.category.name}"></h5>
                    <h5 class="testPost-postTitle" th:text="${board.title}"></h5>
                    <h5 class="testPost-postUser" th:text="${board.writer.memName}"></h5>
                    <h5 class="testPost-postCount" th:text="${board.count}"></h5>
                    <h5 class="testPost-postDate" th:text="${board.createdDate}"></h5>
        </div>

        <div class="board-write">
            <a th:href="@{/board/freeBoardWrite}" id="board-write-button" alt="글쓰기">
                <div class="board-write-text">
                    <div>글쓰기</div>
                </div>
            </a>
        </div>

        <div class="board-paging-button">
            <!-- 맨 앞으로 이동 버튼 -->
            <button
                    th:onclick="'location.href=\'/board/freeBoard?currentPage='+ @{${selectCriteria.startPage}} + '\''"
                    th:disabled="${selectCriteria.pageNo == 1}"
            >
                <img th:src="@{/images/firstPageButton.png}" alt="firstPageButton">
            </button>
            <!-- 이전 페이지 버튼 -->
            <button
                    th:onclick="'location.href=\'/board/freeBoard?currentPage='+ @{${selectCriteria.pageNo - 1}} + '\''"
                    th:disabled="${selectCriteria.pageNo == 1}"
            >
                <img th:src="@{/images/previousPageButton.png}" alt="previousPageButton">
            </button>
            <!-- 숫자 버튼 -->
            <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
                <button
                        th:text="${ page }"
                        th:onclick="'location.href=\'/board/freeBoard?currentPage='+ @{${page}} + '\''"
                        th:disabled="${ selectCriteria.pageNo eq page }">
                </button>
            </th:block>

            <!-- 다음 페이지 버튼 -->
            <button
                    th:onclick="'location.href=\'/board/freeBoard?currentPage='+ @{${selectCriteria.pageNo + 1}} + '\''"
                    th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"
            >
                <img th:src="@{/images/nextPageButton.png}" alt="nextPageButton">
            </button>
            <!-- 마지막 페이지로 이동 버튼 -->
            <button
                    th:onclick="'location.href=\'/board/freeBoard?currentPage='+ @{${selectCriteria.maxPage}} + '\''"
                    th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"
            >
                <img th:src="@{/images/lastPageButton.png}" alt="lastPageButton">
            </button>
        </div>
    </div>

</th:block>
</html>