<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/boardLayout}">
<head>
    <title>자유게시판</title>
</head>

<th:block layout:fragment="content">
    <div class="board-banner">
        <h3>자유게시판</h3>
        <div>
            <img th:src="@{/images/board-banner-image.png}" class="board-banner-image" alt="walking-with-a-dog-image">
        </div>
    </div>

    <div class="board-container container">
        <div class="board-searchBar">
            <div class="board-category-container">
                <div class="board-category">
                    <button onclick="navigateToPage0()">전체</button>
                </div>
                <div class="board-category">
                    <button onclick="navigateToPage1()">자유</button>
                </div>
                <div class="board-category">
                    <button onclick="navigateToPage2()">먹거리</button>
                </div>
                <div class="board-category">
                    <button onclick="navigateToPage3()">용품</button>
                </div>
            </div>
            <form id="searchForm" th:action="@{/board/freeBoard}" method="get">
                <input type="hidden" name="currentPage" value="1">
                <div class="search-buttons">
                    <div class="head-title-category">
                        <select name="searchCondition" id="searchCondition">
                            <option selected>검색조건</option>
                            <option value="postTitle">제목</option>
                            <option value="postContent">내용</option>
                            <option value="postTitleContent">제목 + 내용</option>
                            <option value="postWriter">작성자</option>
                        </select>
                    </div>

                    <div class="search-by-text">
                        <img th:src="@{/images/reading-glasses.png}" alt="readingGlasses" id="readingGlassesImage">
                        <input type="search" name="searchValue" id="searchValueInput">
                    </div>
                    <div class="submit-button">
                        <button type="submit" id="searchButton">검색</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="board-select-header-buttons">
            <div class="like-button">
                <button type="button" id="like-button">
                    <img th:src="@{/images/like-button.png}" alt="like-button">
                </button>
            </div>
            <div class="report-button">
                <button type="button" id="report-button">
                    <img th:src="@{/images/report-button.png}" alt="report-button">
                </button>
            </div>
        </div>
        <div class="board-content-select-container">
            <div class="board-content-title" th:each="board : ${ board }">
                <h6 class="postNo" th:text="${board.postCode}"></h6>
                <h6 class="postCategory" th:text="${board.postSort}"></h6>
                <h6 class="postTitle" th:text="${board.postTitle}"></h6>
                <h6 class="postUser" th:text="${board.refPostWriter.memId}"></h6>
                <h6 class="postCount" th:text="${board.postCount}"></h6>
                <h6 class="postDate" th:text="${board.postDate}"></h6>
            </div>
            <div class="board-select-content">
                <div class="board-textarea">
                    <textarea
                            name="body"
                            cols="120"
                            rows="15"
                            readonly
                            th:text="${board.postContent}"
                    >
                    </textarea>

                </div>
            </div>
        </div>
        <div class="board-select-footer">
            <div class="comment-section-title">
                <img th:src="@{/images/comment-icon.png}" alt="dog-paw">
                <h6>의견을 남겨주세요</h6>
            </div>

            <div class="write-comment" id="replyWrite">
                <input type="hidden" id="boardNo" th:value="${board.postCode}">
                <div class="write-comment-info">
                    <h6>*내용(0 / 300자)</h6>
                    <!-- 타이핑하는 텍스트에 따라 유동적으로 변하게 하기 -->
                </div>
                <div class="write-comment-content">
                    <textarea name="comment" id="replyBody" cols="30" rows="10"></textarea>
                </div>
                <div class="write-comment-button">
                    <button type="button" id="registReply">댓글달기</button>
                </div>
            </div>

            <div class="comment" id="replyResult">
                <th:block th:if="${ replyList != null }">

                    <th:block th:each="reply : ${replyList}">

                    <div class="replyListTr comment-content">
                        <input type="hidden" id="${ reply.replyCode }" th:value="${ reply.replyCode }">
                        <div id="reply-writer" th:text="${ reply.refPostWriter.memId }"></div>
                        <div id="reply-body" th:text="${ reply.replyCon}"></div>
                        <div id="reply-date" th:text="${ reply.replyDate }"></div>
                        <div id="comment-delete-button">

                        </div>
                        <div id="comment-report-button">
                            <button>
                                <img th:src="@{/images/report-comment-button.png}" alt="comment-report-button">
                            </button>
                        </div>
                    </div>
                    </th:block>
                </th:block>

            </div>

            <div class="back-to-list">
                <a th:href="@{/board/freeBoard}">목록</a>
            </div>

        </div>
    </div>


</th:block>
</html>