<!DOCTYPE html>
<html  lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>boardFreeWrite</title>

    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">
    
    <!--bootstrap-->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!--css-->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <link rel="stylesheet" href="../css/sanitize.css">
    <link rel="stylesheet" href="/board/css/boardFreeWrite.css">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    
    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
</head>
<body>
    <div class="board-free-banner">
        <h3>자유게시판</h3>
        <div>
            <a href="/board/freeBoard.html" alt="back-arrow-to-main">
                <img src="/board/images/board-back-button.png" class="board-button-back-image" alt="back-arrow-to-board-main">
            </a>
        </div>
        <div>
            <img src="/board/images/board-banner-image-2.png" class="board-banner-image-2" alt="play-with-dog-image">
        </div>
    </div>
    <div class="board-container">
        <div class="board-free-write-text">
            <h2>글쓰기</h2>
        </div>
        <div class="board-write-header">
            <div class="free-category">
                <select name="말머리" id="freeHeadTitle">
                    <option value="default" selected>말머리 선택</option>
                    <option value="용품">용품</option>
                    <option value="먹거리">먹거리</option>
                </select>
            </div>
            <div class="free-write-title">
                <input type="text" name="freeTitle" id="freeTitle" placeholder="제목을 입력해주세요.">
            </div>
            <div class="free-imageUpload">
                <label for="imageUpload" class="label-imageUpload" id="imageUploadButton">
                    <img src="/board/images/imageUpload.png" alt="이미지업로드">
                </label>
                <input type="file" name="imageUpload" id="imageUpload" style="display: none;">
            </div>
        </div>
        <div class="board-write-content">
            <textarea name="freeContent" id="freeContent" cols="30" rows="10"></textarea>
        </div>
        <div class="board-write-buttons">
            <div class="free-write-button">
                <button type="submit" value="작성">작성완료</button>
            </div>
            <div class="free-write-cancel">
                <a href="/board/freeBoard.html">취소</a>
            </div>
        </div>
    </div>

    <script>

    </script>
</body>
</html>