<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>board</title>

    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">

    <!--bootstrap-->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

    <!--css-->
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/mobile.css}">
    <link rel="stylesheet" th:href="@{/css/sanitize.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">

    <link rel="stylesheet" th:href="@{https://unpkg.com/aos@2.3.1/dist/aos.css}">
    <link rel="stylesheet" th:href="@{http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css}"/>

    <!--js-->
    <script th:src="@{http://code.jquery.com/jquery-latest.min.js}"></script>
    <script th:src="@{https://unpkg.com/aos@2.3.1/dist/aos.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js}"></script>

    <!--favicon--->
      <link th:href="@{favicon.ico}" rel="icon">
      <link th:href="@{favicon.ico}" rel="apple-touch-icon">

    <script type="text/javascript">
      $(document).ready( function() {
        $('#headers').css("position", "fixed");
        $('#headers').css("width", "100%");
        $('#headers').css("z-index", "5");
        $('#menu').css("margin-top", "-16px");
      });
    </script>

  </head>
  <body>
  <div id="headers">
    <th:block th:include="Component/header.html"></th:block>
  </div>

    <div class="board-banner">
      <h3>게시판</h3>
      <div>
        <img th:src="@{/images/board-banner-image.png}" class="board-banner-image" alt="walking-with-dog-image">
      </div>
    </div>

    <div class="board-container container">
      <div class="board-button-container">
          <div class="board-button">
            <button class="board-button-button" type="button">
              <a th:href="@{/board/announcementBoard}">
              <div class="board-button-image">
                  <img th:src="@{/images/board-announcement-button.png}" alt="공지사항" class="board-button-image-main">
                </div>
                <div class="board-button-text">
                  <h5 id="board-announcement" class="board-button-text-title">공지사항</h5>
                </div>
                <div><h5 class="board-button-hover-text">자세히보기</h5></div>
                <div><img th:src="@{/images/board-button-arrow.png}" class="board-button-arrow-image" alt="board-detail"></div>
              </a>
            </button>
          </div>

          <div class="board-button">
            <button class="board-button-button" type="button">
              <a th:href="@{/board/abandonedBoard}">
              <div class="board-button-image">
                  <img th:src="@{/images/board-abandonedDog-button.png}" alt="유기견게시판" class="board-button-image-main">
                </div>
                <div class="board-button-text">
                  <h5 id="board-abandonedDog" class="board-button-text-title">유기견게시판</h5>
              </div>
              <div><h5 class="board-button-hover-text">자세히보기</h5></div>
              <div><img th:src="@{/images/board-button-arrow.png}" class="board-button-arrow-image" alt="board-detail"></div>
              </a>
            </button>
          </div>

          <div class="board-button">
            <button class="board-button-button" type="button">
              <a th:href="@{/board/boastBoard}">
                <div class="board-button-image">
                  <img th:src="@{/images/board-boast-button.png}" alt="자랑갤러리" class="board-button-image-main">
                </div>
                <div class="board-button-text">
                  <h5 id="board-boast" class="board-button-text-title">자랑갤러리</h5>
                </div>
                <div><h5 class="board-button-hover-text">자세히보기</h5></div>
                <div><img th:src="@{/images/board-button-arrow.png}" class="board-button-arrow-image" alt="board-detail"></div>
              </a>
            </button>
          </div>

          <div class="board-button">
            <button class="board-button-button" type="button">
              <a th:href="@{#}">
                <div class="board-button-image">
                  <img th:src="@{/images/board-matchTest-button.png}" alt="반려견매칭테스트" class="board-button-image-main">
                </div>
                <div class="board-button-text">
                  <h5 id="board-matchTest" class="board-button-text-title">반려견매칭테스트</h5>
                </div>
                <div><h5 class="board-button-hover-text">자세히보기</h5></div>
                <div><img th:src="@{/images/board-button-arrow.png}" class="board-button-arrow-image" alt="board-detail"></div>
              </a>
            </button>
          </div>

          <div class="board-button">
            <button class="board-button-button" type="button">
              <a th:href="@{/board/freeBoard}">
                <div class="board-button-image">
                  <img th:src="@{/images/board-free-button.png}" alt="자유게시판" class="board-button-image-main">
                </div>
                <div class="board-button-text">
                  <h5 id="board-free"  class="board-button-text-title">자유게시판</h5>
                </div>
                <div><h5 class="board-button-hover-text">자세히보기</h5></div>
                <div><img th:src="@{/images/board-button-arrow.png}" class="board-button-arrow-image" alt="board-detail"></div>
              </a>
            </button>
          </div>


          <div class="board-button">
            <button id="board-dangdanginfotoon-button" class="board-button-button" type="button">
              <a th:href="@{#}">
                <div class="board-button-image">
                  <img th:src="@{/images/board-dangdanginfotoon-button.png}" alt="댕댕정보툰" class="board-button-image-main">
                </div>
                <div class="board-button-text">
                  <h5 id="board-dangdanginfotoon" class="board-button-text-title">댕댕정보툰</h5>
                </div>
                <div><h5 class="board-button-hover-text">자세히보기</h5></div>
                <div><img th:src="@{/images/board-button-arrow.png}" class="board-button-arrow-image" alt="board-detail"></div>
              </a>
            </button>
          </div>

    </div>
  </div>
  <script>
  $(document).ready(function() {
    // 페이지 로드 시 요소 숨기기
    $('.board-button-hover-text, .board-button-arrow-image').hide();

    // 각 버튼을 호버할 때 이미지와 텍스트를 서서히 나타나게 함
    $('.board-button-button').hover(
      function() {
        // 호버 인 시
        $(this).find('.board-button-hover-text, .board-button-arrow-image').fadeIn(300); // 200ms 동안 서서히 나타나도록 설정
      },
      function() {
        // 호버 아웃 시
        $(this).find('.board-button-hover-text, .board-button-arrow-image').fadeOut(250); // 200ms 동안 서서히 사라지도록 설정
      }
    );
  });
  </script>
  <div>
    <th:block th:include="Component/footer.html"></th:block>
  </div>
</body>