<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daalgae.daalgaeproject.board.dao.BoardMapper">

    <resultMap type="BoardDTO" id="boardResultMap">
        <id property="postCode" column="POST_CODE"/>
        <result property="postType" column="POST_TYPE"/>
        <result property="postSort" column="POST_SORT"/>
        <result property="postTitle" column="POST_TITLE"/>
        <result property="postContent" column="POST_CONTENT"/>
        <result property="postDate" column="POST_DATE"/>
        <result property="postCount" column="POST_COUNT"/>
        <association property="refPostWriter" resultMap="memberResultMap"/>
        <association property="attachmentList" resultMap="attachmentFileResultMap"/>
    </resultMap>

    <resultMap type="MemberDTO" id="memberResultMap">
        <id property="memCode" column="MEM_CODE"/>
        <result property="memId" column="MEM_ID"/>
        <result property="memPwd" column="MEM_PWD"/>
        <result property="memName" column="MEM_NAME"/>
        <result property="memBirth" column="MEM_BIRTH"/>
        <result property="memEmail" column="MEM_EMAIL"/>
        <result property="memAdrs" column="MEM_ADRS"/>
        <result property="memAdrsDetail" column="MEM_ADRS_DETAIL"/>
        <result property="memWithdrawal" column="MEM_WITHDRAWAL"/>
        <result property="memDogGum" column="MEM_DOG_GUM"/>
        <result property="memRole" column="MEM_ROLE"/>
        <result property="memBanStatus" column="MEM_BAN_STATUS"/>
        <result property="mailAuth" column="MAIL_AUTH"/>
        <result property="mailKey" column="MAIL_KEY"/>
    </resultMap>

    <resultMap type="ReplyDTO" id="replyResultMap">
        <id property="replyCode" column="POST_REPLY_CODE"/>
        <result property="replyCon" column="POST_REPLY_CONTENT"/>
        <result property="replyDate" column="POST_REPLY_DATE"/>
        <result property="refReplyWriter" column="REF_POST_REPLY_WRITER"/>
        <result property="refPostCode" column="REF_POST_CODE"/>
        <association property="replyWriterDetail" resultMap="memberResultMap"/>
<!--        <association property="refPostCode" resultMap="boardResultMap"/>-->
    </resultMap>

    <resultMap type="AttachmentDTO" id="attachmentFileResultMap">
        <id property="attachCode" column="ATTACH_CODE_SEQ"/>
        <result property="attachOriginName" column="ATTACH_ORIGIN_NAME"/>
        <result property="attachDbName" column="ATTACH_DB_NAME"/>
        <result property="attachThumbAddr" column="ATTACH_THUMB_ADDR"/>
        <result property="attachOriginAddr" column="ATTACH_ORIGIN_ADDR"/>
        <result property="refPostCode" column="REF_POST_CODE"/>
    </resultMap>

    <select id="selectTotalCount" resultType="_int" parameterType="java.lang.String">
        SELECT DISTINCT /* com.daalgae.thymeleafspringboot.board.dao.BoardMapper#selectTotalCount() */
                COUNT(*)
          FROM  POST_INFO A
        <if test="searchCondition == 'refPostWriter'">
            JOIN MEM_INFO B ON(A.MEM_CODE = B.MEM_CODE)
        </if>
        <where>
                A.POST_TYPE = #{ postType }
            <if test="searchCondition == 'postSort'">
                AND A.POST_SORT = #{ searchValue }
            </if>
            <if test="searchCondition == 'refPostWriter'">
                AND B.MEM_NAME LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchCondition == 'postTitle'">
                AND A.POST_TITLE LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchCondition == 'postContent'">
                AND A.POST_CONTENT LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="searchCondition == 'postTitleContent'">
                AND (A.POST_TITLE LIKE CONCAT('%', #{ searchValue }, '%')
                OR A.POST_CONTENT LIKE CONCAT('%', #{ searchValue }, '%'))
            </if>
        </where>
    </select>

    <select id="selectBoardList" resultMap="boardResultMap">
        SELECT DISTINCT /* com.daalgae.thymeleafspringboot.board.dao.BoardMapper#selectBoardList() */
                A.POST_CODE
                , A.POST_SORT
                , A.POST_TITLE
                , A.POST_CONTENT
                , A.POST_DATE
                , A.POST_COUNT
                , D.MEM_ID
          FROM (
                SELECT DISTINCT
                        B.POST_CODE
                        , B.POST_SORT
                        , B.POST_TITLE
                        , B.POST_CONTENT
                        , B.POST_DATE
                        , B.REF_POST_WRITER
                        , B.POST_TYPE
                        , B.POST_COUNT
                  FROM  POST_INFO B
                <if test="searchCondition == 'postWriter'">
                    JOIN MEM_INFO C ON(B.REF_POST_WRITER = C.MEM_CODE)
                </if>
                <where>
                        B.POST_TYPE = #{ postType }
                    <if test="searchCondition == 'postSort'">
                        AND B.POST_SORT LIKE CONCAT('%', #{ searchValue }, '%')
                    </if>
                    <if test="searchCondition == 'postWriter'">
                        AND C.MEM_ID LIKE CONCAT('%', #{ searchValue }, '%')
                    </if>
                    <if test="searchCondition == 'postTitle'">
                        AND B.POST_TITLE LIKE CONCAT('%', #{ searchValue }, '%')
                    </if>
                    <if test="searchCondition == 'postContent'">
                        AND B.POST_CONTENT LIKE CONCAT('%', #{ searchValue }, '%')
                    </if>
                    <if test="searchCondition == 'postTitleContent'">
                        AND (B.POST_TITLE LIKE CONCAT('%', #{ searchValue }, '%')
                        OR B.POST_CONTENT LIKE CONCAT('%', #{ searchValue }, '%'))
                    </if>
                </where>
                ) A
            JOIN  MEM_INFO D ON(A.REF_POST_WRITER = D.MEM_CODE)
            ORDER BY A.POST_CODE DESC
            LIMIT  #{ startRow }, 10
    </select>

    <update id="incrementBoardCount">
        UPDATE  /* com.ohgiraffers.thymeleafspringboot.board.dao.BoardMapper#incrementBoardCount() */
            POST_INFO
        SET  POST_COUNT = POST_COUNT + 1
        WHERE  POST_CODE = #{ no }
    </update>

    <update id="updatePost">
        UPDATE POST_INFO
        SET POST_TITLE = #{ postTitle },
            POST_CONTENT = #{ postContent }
        WHERE POST_CODE = #{ postCode }
    </update>

    <select id="selectBoardDetail" resultMap="boardResultMap">
        SELECT  /* com.daalgae.thymeleafspringboot.board.dao.BoardMapper#selectBoardDetail() */
                 A.POST_CODE
                 , A.POST_SORT
                 , A.POST_TITLE
                 , A.REF_POST_WRITER
                 , B.MEM_ID
                 , A.POST_CONTENT
                 , A.POST_COUNT
                 , A.POST_DATE
                 , C.ATTACH_CODE_SEQ
                 , C.ATTACH_ORIGIN_NAME
                 , C.ATTACH_DB_NAME
                 , C.ATTACH_THUMB_ADDR
                 , C.ATTACH_ORIGIN_ADDR
                 , C.REF_POST_CODE
        FROM POST_INFO A
        JOIN MEM_INFO B ON(A.REF_POST_WRITER = B.MEM_CODE)
        LEFT JOIN ATTACHMENT_FILE C ON (A.POST_CODE = C.REF_POST_CODE)
        WHERE A.POST_CODE = #{ no }
    </select>

    <select id="selectReplyList" resultMap="replyResultMap">
        SELECT  /* com.daalgae.thymeleafspringboot.board.dao.BoardMapper#selectReplyList() */
                 A.POST_REPLY_CODE
                 , A.REF_POST_CODE
                 , A.POST_REPLY_CONTENT
                 , A.REF_POST_REPLY_WRITER
                 , A.POST_REPLY_DATE
                 , B.MEM_ID
          FROM  POST_REPLY A
          JOIN  MEM_INFO B ON (A.REF_POST_REPLY_WRITER = B.MEM_CODE)
         WHERE   A.REF_POST_CODE = #{ boardNo }
        ORDER BY A.POST_REPLY_CODE
    </select>

    <insert id="insertReply">
        INSERT
        INTO POST_REPLY   (
                          POST_REPLY_CONTENT
                         , REF_POST_REPLY_WRITER
                         , REF_POST_CODE
                         )
        VALUES  (
                  #{replyCon}
                , #{refReplyWriter}
                , #{refPostCode}
                )
    </insert>

    <delete id="removeReply" parameterType="_int">
        DELETE
          FROM  POST_REPLY
         WHERE  POST_REPLY_CODE = #{no}
    </delete>

    <insert id="insertBoard" parameterType="com.daalgae.daalgaeproject.board.dto.BoardDTO">
        INSERT
        INTO POST_INFO      (
                              POST_TYPE
                            , POST_SORT
                            , POST_TITLE
                            , POST_CONTENT
                            , REF_POST_WRITER
                            )
        VALUES  (
                  #{postType}
                , #{postSort}
                , #{postTitle}
                , #{postContent}
                , #{refPostWriter.memCode}
                )
        <selectKey keyProperty="postCode" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertAttachment">
        INSERT
        INTO ATTACHMENT_FILE    (
                                  REF_POST_CODE
                                , ATTACH_ORIGIN_NAME
                                , ATTACH_DB_NAME
                                , ATTACH_ORIGIN_ADDR
                                , ATTACH_THUMB_ADDR
        )
        VALUES  (
                    #{refPostCode}
                , #{attachOriginName}
                , #{attachDbName}
                , #{attachOriginAddr}
                , #{attachThumbAddr}
                )
    </insert>

    <delete id="deletePost" parameterType="com.daalgae.daalgaeproject.board.dto.BoardDTO">
        DELETE FROM POST_INFO
        WHERE POST_CODE = #{ postCode }
    </delete>


    <select id="selectThumbnailDetail" resultMap="boardResultMap">
        SELECT /* com.daalgae.thymeleafspringboot.board.dao.BoardMapper#selectThumbnailDetail() */
               A.POST_CODE
             , A.POST_TITLE
             , A.POST_CONTENT
             , A.POST_CONTENT
             , B.MEM_ID
             , A.POST_DATE
             , C.ATTACHMENT_NO
             , C.ATTACH_CODE_SEQ
             , C.ATTACH_DB_NAME
             , C.ATTACH_ORIGIN_ADDR
             , C.ATTACH_THUMB_ADDR
        FROM POST_INFO A
         JOIN MEM_INFO B ON (A.MEM_CODE = B.MEM_CODE)
         JOIN ATTACHMENT_FILE C ON (A.POST_CODE = C.POST_CODE)
        WHERE A.POST_CODE = #{ no }
    </select>

</mapper>

