<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daalgae.daalgaeproject.encyclopedia.dao.EncyclopediaMapper">
    <resultMap id="encycleResultMap" type="com.daalgae.daalgaeproject.encyclopedia.dto.EncyclopediaDTO">
        <id property="encycleCode" column="ENCYCLE_CODE"/>
        <result property="encycleText" column="ENCYCLE_TEXT"/>
        <result property="encycleOrder" column="ENCYCLE_ORDER"/>
        <result property="encycleImage" column="ENCYCLE_IMAGE"/>
        <result property="encycleTitle" column="ENCYCLE_TITLE"/>
        <result property="encycleContent" column="ENCYCLE_CONTENT"/>
    </resultMap>

<select id="findList" resultMap="encycleResultMap">
    SELECT
            ENCYCLE_CODE
            ,ENCYCLE_ORDER
            ,ENCYCLE_IMAGE
            ,ENCYCLE_TITLE
            ,ENCYCLE_CONTENT
      FROM ENCYCLE_INFO
    <choose>
        <when test="option == 'before'">
            WHERE ENCYCLE_ORDER LIKE  '1-%'
        </when>
        <when test="option == 'after'">
            WHERE ENCYCLE_ORDER LIKE  '2-%'
        </when>
        <when test="option == 'emergency'">
            WHERE ENCYCLE_ORDER LIKE  '3-%'
        </when>
        <when test="option == 'petiket'">
            WHERE ENCYCLE_ORDER LIKE  '4-%'
        </when>
    </choose>
</select>
</mapper>