<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daalgae.daalgaeproject.payment.dao.OrderPayMapper">


    <resultMap id="approveResultMap" type="com.daalgae.daalgaeproject.payment.dto.OrderPay">
        <id property="dogGumPayTid" column="DOG_GUM_PAY_TID"/>
        <result property="dogGumPayMethod" column="DOG_GUM_PAY_METHOD"/>
        <result property="dogGumPay" column="DOG_GUM_PAY"/>
        <result property="DOG_GUM_PAY_DATE" column="dogGumPayDate"/>
        <result property="dogItemName" column="DOG_ITEM_NAME"/>
        <result property="refMemCode" column="REF_MEM_CODE"/>
    </resultMap>

    <!--<select id="findAllPay" resultMap="approveResultMap">
            SELECT DOG_GUM_PAY_CODE
                    , MEM_CODE
        FROM DOG_GUM_PAY

    </select>-->

    <insert id="orderRegist" parameterType="com.daalgae.daalgaeproject.payment.dto.OrderPay">
        INSERT INTO DOG_GUM_PAY (
                                DOG_GUM_PAY_TID
                                ,DOG_GUM_PAY_METHOD
                                ,DOG_GUM_PAY
                                ,DOG_GUM_PAY_DATE
                                ,DOG_ITEM_NAME
                                ,REF_MEM_CODE
                            )
        VALUES (
                #{ dogGumPayTid },
                #{ dogGumPayMethod },
                #{ dogGumPay },
                #{ dogGumPayDate },
                #{ dogItemName },
                 #{ refMemCode }
            )
    </insert>

</mapper>
