<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daalgae.daalgaeproject.payment.dao.OrderPayMapper">


    <resultMap id="approveResultMap" type="com.daalgae.daalgaeproject.payment.dto.OrderPay">
        <id property="tid" column="DOG_GUM_PAY_CODE"/>
        <result property="partner_user_id" column="MEM_CODE"/>
        <result property="payment_method_type" column="DOG_GUM_PAY_METHOD"/>
        <result property="created_at" column="DOG_GUM_PAY_DATE"/>
        <result property="quantity" column="MEM_DOG_GUM"/>
        <result property="item_name" column="DOG_ITEM_NAME"/>
    </resultMap>

    <!--<select id="findAllPay" resultMap="approveResultMap">
            SELECT DOG_GUM_PAY_CODE
                    , MEM_CODE
        FROM DOG_GUM_PAY

    </select>-->

    <insert id="orderRegist" parameterType="com.daalgae.daalgaeproject.payment.dto.OrderPay">
        INSERT INTO DOG_GUM_PAY (
                                DOG_GUM_PAY_CODE
                                ,MEM_CODE
                                ,DOG_GUM_PAYMETHOD
                                ,DOG_GUM_PAY
                                ,DOG_GUM_PAY_DATE
                                ,MEM_DOG_GUM
                                ,DOG_ITEM_NAME
                            )
        VALUES (
                #{ dogGumPayCode },
                #{ memCode },
                #{ dogGumPaymethod },
                #{ dogGumPay },
                #{ dogGumPayDate },
                #{ memDogGum },
                #{ dogItemName }
            )
    </insert>


</mapper>


        <!--
        http://localhost:8001/webtoon/dengInfo
         -->
