<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daalgae.daalgaeproject.bookmark.dao.BookmarkMapper">

    <!-- 관광지 -->

    <select id="tourIsMarked" resultType="_int">
        SELECT COUNT(REF_MEM_CODE)
        FROM TOUR_SORT
        WHERE REF_MEM_CODE = ${ memCode } AND REF_TOUR_CODE = ${ tourCode }
    </select>

    <insert id="setSequence">
        INSERT
            INTO BOOKMARK_INFO   (
                          REF_MEM_CODE
                         )
        VALUES  (
            ${memCode}
            )
    </insert>

    <select id="getSequence" resultType="_int">
        SELECT MEM_BOOKMARK_SEQ
        FROM BOOKMARK_INFO
        ORDER BY MEM_BOOKMARK_SEQ DESC
        LIMIT 1
    </select>

    <insert id="setTourMark">
        INSERT
        INTO TOUR_SORT   (
            REF_TOUR_CODE, REF_MEM_BOOKMARK_SEQ, REF_MEM_CODE
        )
        VALUES  (
                    ${ tourCode }, ${ memSeq }, ${ memCode }
                )
    </insert>

    <select id="getTourSequence" resultType="_int">
        SELECT REF_MEM_BOOKMARK_SEQ
        FROM TOUR_SORT
        WHERE REF_TOUR_CODE = ${ tourCode } AND REF_MEM_CODE = ${ memCode }
    </select>

    <delete id="deleteFromBookmark">
        DELETE
          FROM  BOOKMARK_INFO
         WHERE  MEM_BOOKMARK_SEQ = #{ getTourSequence }
    </delete>

    <delete id="deleteFromTourSort">
        DELETE
        FROM  TOUR_SORT
        WHERE  REF_MEM_BOOKMARK_SEQ = #{ getTourSequence }
    </delete>
</mapper>

