<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>통합검색</title>


    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">


    <!--bootstrap-->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <div class=""></div>
    <!--css-->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <link rel="stylesheet" href="../css/sanitize.css">
    <link rel="stylesheet" href="../allSearch/css/allSearch.css">


    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
    <script type="text/javascript">
        $(document).ready( function() {
            $("#headers").load("../Component/header.html");
            $('#headers').css("position", "fixed");
            $('#headers').css("width", "100%");
            $('#headers').css("z-index", "5");
            $("#footers").load("../Component/footer.html");
            $('#footers').css("z-index", "5");
        });
    </script>
</head>
<body>
<div id="headers"></div>
<div class="tourBg">
    <h3>통합 검색</h3>
</div>
<div class="allSearchWhiteSpace"></div>
<div class="tourSelectBar">
    <div class="searchInput">
        <div class="searchIcon"></div>
        <input placeholder="검색어를 입력해 주세요.">
    </div>
    <button onclick="location.href='../allSearch'" class="searchButton">검색</button>
</div>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="optionButtonsSpace">
    <div class="optionButtonsBox">
        <button class="optionButton">통합</button>
        <button class="optionButton">관광지(0)</button>
        <button class="optionButton">숙박(0)</button>
        <button class="optionButton">식음료(15)</button>
        <button class="optionButton">체험(2)</button>
        <button class="optionButton">동물병원(0)</button>
    </div>
</div>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<!---->
<p class="imageAndText"><img class="tourPawImage" src="../tourDetail/images/dogPaw.png">관광지 검색결과 (0)<button class="plusDetail"><img src="../allSearch/images/plusDetail.png"></button></p>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="tourBoard">
    <div class="tourBoardUnit"><a href="tour/tourDetail">
        <img src="../tourList/images/dogPhoto1.png" class="tourBoardUnitThumbnail"></img>
        <div class="tourBoardUnitDesc">
            <p class="locationName">장소이름</p>
            <p class="locationLoc"><img src="../tourList/images/location.png">&nbsp;<span class="locTextUp">강원도 삼척시 근덕면 맹방해변로 228-239</span></p>
            <p class="telNumber"><img src="../tourList/images/phone.png">&nbsp;033-572-3011</p>
        </div></a>
    </div>
    <div class="tourBoardUnit"><a href="#">
        <img src="../tourList/images/dogPhoto2.png" class="tourBoardUnitThumbnail"></img>
        <div class="tourBoardUnitDesc">
            <p class="locationName">장소이름</p>
            <p class="locationLoc"><img src="../tourList/images/location.png">&nbsp;<span class="locTextUp">강원도 삼척시 근덕면 맹방해변로 228-239</span></p>
            <p class="telNumber"><img src="../tourList/images/phone.png">&nbsp;033-572-3011</p>
        </div></a>
    </div>
    <div class="tourBoardUnit"><a href="#">
        <img src="../tourList/images/dogPhoto3.png" class="tourBoardUnitThumbnail"></img>
        <div class="tourBoardUnitDesc">
            <p class="locationName">장소이름</p>
            <p class="locationLoc"><img src="../tourList/images/location.png">&nbsp;<span class="locTextUp">강원도 삼척시 근덕면 맹방해변로 228-239</span></p>
            <p class="telNumber"><img src="../tourList/images/phone.png">&nbsp;033-572-3011</p>
        </div></a>
    </div>
</div>


<div class="whiteSpaceTourBoard"></div>
<div class="whiteSpaceEncycle">
    <div class="logoInPage"></div>
</div>

<!---->
<div id="footers"></div>
</body>


