<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>통합검색</title>


    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">


    <!--bootstrap-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />


    <div class=""></div>
    <!--css-->
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/mobile.css}" rel="stylesheet" />
    <link th:href="@{/css/sanitize.css}" rel="stylesheet" />
    <link th:href="@{/css/allSearch.css}" rel="stylesheet" />


    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" rel="stylesheet" />

    <!--js-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/header.js}"></script>
    <script type="text/javascript" th:src="@{/js/allSearch.js}"></script>

    
    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
    <script>
        function allSearchDetail() {
            console.log(11);
        }
    </script>
</head>
<body>
<div id="headers">
    <th:block th:include="component/header.html"></th:block>
</div>
<div class="tourBg">
    <h3>여행지 검색</h3>
</div>
<div class="allSearchWhiteSpace"></div>
<div class="tourSelectBar">
    <div class="searchInput">
        <div class="searchIcon"></div>
        <input type="search" id="allSearchBox" placeholder="여행지 검색">
    </div>
    <button onclick="location.href='/allSearch'" class="searchButton">검색</button>
</div>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="optionButtonsSpace">
    <div class="optionButtonsBox">
        <button onclick="location.href='#searchAll'" class="optionButton">전체 (3)</button>
        <button onclick="location.href='#searchTour'" class="optionButton">관광지 (3)</button>
        <button onclick="location.href='#searchAccomo'" class="optionButton">숙박시설 (0)</button>
        <button onclick="location.href='#searchCafe'" class="optionButton">식당 및 카페 (0)</button>
        <button onclick="location.href='#searchActivity'" class="optionButton">체험 활동 (0)</button>
        <button onclick="location.href='#dogHospital'" class="optionButton">동물병원</button>
    </div>
</div>
<div class="allSearchWhiteSpace" id="searchAll"></div>
<div class="allSearchWhiteSpace"></div>
<!---->

<p class="imageAndText">

    <img class="tourPawImage" th:src="@{/images/dogPaw.png}" />전체 (3) <span class="hospitalExcept">&nbsp;&nbsp; *동물병원 제외</span>
    <button onclick="allSearchDetail()" class="plusDetail">
        <img th:src="@{/images/plusDetail.png}" />
    </button>
</p>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="tourBoard">
    <div class="tourBoardUnit"><button onclick="location.href='/tour/tourDetail'">
        <img class="tourBoardUnitThumbnail" src="/images/dogPhoto1.png" />
        <div class="tourBoardUnitDesc">
            <div class="locationName">장소이름</div>
            <img class="locationLoc" th:src="@{/images/location.png}" />
            <div class="locTextUp">강원도 삼척시 근덕면 맹방해변로 228-239 11111111111111111111111111111111111111111111111111</div>
            <img class="telNumber" th:src="@{/images/phone.png}" />
            <div class="telNums">033-572-3011</div>
        </div></button>
    </div>
</div>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace" id="searchTour"></div>
<p class="imageAndText">
    
    <img class="tourPawImage" th:src="@{/images/dogPaw.png}" />관광지 (3)
    <button onclick="allSearchDetail()" class="plusDetail">
        <img th:src="@{/images/plusDetail.png}" />
    </button>
</p>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="tourBoard">
    <div class="tourBoardUnit"><button onclick="location.href='/tour/tourDetail'">
        <img class="tourBoardUnitThumbnail" src="/images/dogPhoto1.png" />
        <div class="tourBoardUnitDesc">
            <div class="locationName">장소이름</div>
            <img class="locationLoc" th:src="@{/images/location.png}" />
            <div class="locTextUp">강원도 삼척시 근덕면 맹방해변로 228-239 11111111111111111111111111111111111111111111111111</div>
            <img class="telNumber" th:src="@{/images/phone.png}" />
            <div class="telNums">033-572-3011</div>
        </div></button>
    </div>
</div>
<div class="allSearchWhiteSpace" id="searchAccomo"></div>
<div class="allSearchWhiteSpace"></div>
<p class="imageAndText">
    <img class="tourPawImage" th:src="@{/images/dogPaw.png}" />숙박시설 (0)
    <button onclick="allSearchDetail()" class="plusDetail">
        <img th:src="@{/images/plusDetail.png}" />
    </button>
</p>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="tourBoard">
    <div class="tourBoardUnit"><button onclick="location.href='/tour/tourDetail'">
        <img class="tourBoardUnitThumbnail" src="/images/dogPhoto1.png" />
        <div class="tourBoardUnitDesc">
            <div class="locationName">장소이름</div>
            <img class="locationLoc" th:src="@{/images/location.png}" />
            <div class="locTextUp">강원도 삼척시 근덕면 맹방해변로 228-239 11111111111111111111111111111111111111111111111111</div>
            <img class="telNumber" th:src="@{/images/phone.png}" />
            <div class="telNums">033-572-3011</div>
        </div></button>
    </div>
</div>
<div class="allSearchWhiteSpace" id="searchCafe"></div>
<div class="allSearchWhiteSpace"></div>
<p class="imageAndText">
    <img class="tourPawImage" th:src="@{/images/dogPaw.png}" />식당 및 카페 (0)
    <button onclick="allSearchDetail()" class="plusDetail">
        <img th:src="@{/images/plusDetail.png}" />
    </button>
</p>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="tourBoard">
    <div class="tourBoardUnit"><button onclick="location.href='/tour/tourDetail'">
        <img class="tourBoardUnitThumbnail" src="/images/dogPhoto1.png" />
        <div class="tourBoardUnitDesc">
            <div class="locationName">장소이름</div>
            <img class="locationLoc" th:src="@{/images/location.png}" />
            <div class="locTextUp">강원도 삼척시 근덕면 맹방해변로 228-239 11111111111111111111111111111111111111111111111111</div>
            <img class="telNumber" th:src="@{/images/phone.png}" />
            <div class="telNums">033-572-3011</div>
        </div></button>
    </div>
</div>
<div class="allSearchWhiteSpace" id="searchActivity"></div>
<div class="allSearchWhiteSpace"></div>
<p class="imageAndText">
    <img class="tourPawImage" th:src="@{/images/dogPaw.png}" />체험 활동 (0)
    <button onclick="allSearchDetail()" class="plusDetail">
        <img th:src="@{/images/plusDetail.png}" />
    </button>
</p>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="tourBoard">
    <div class="tourBoardUnit"><button onclick="location.href='/tour/tourDetail'">
        <img class="tourBoardUnitThumbnail" src="/images/dogPhoto1.png" />
        <div class="tourBoardUnitDesc">
            <div class="locationName">장소이름</div>
            <img class="locationLoc" th:src="@{/images/location.png}" />
            <div class="locTextUp">강원도 삼척시 근덕면 맹방해변로 228-239 11111111111111111111111111111111111111111111111111</div>
            <img class="telNumber" th:src="@{/images/phone.png}" />
            <div class="telNums">033-572-3011</div>
        </div></button>
    </div>
</div>
<div class="allSearchWhiteSpace" id="dogHospital"></div>
<div class="allSearchWhiteSpace"></div>
<p class="imageAndText">
    <img class="tourPawImage" th:src="@{/images/dogPaw.png}" />동물병원
</p>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>
<div id="map" class="tourLocMap"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cee456796362f003412371bb71c7faa0"></script>
<script>
    let userX = Number(localStorage.getItem("userX"));
    let userY = Number(localStorage.getItem("userY"));
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(userX, userY),
        level: 6
    };

    var map = new kakao.maps.Map(container, options);
    map.relayout();

    $.ajax({
        type:"get",
        url:"/tour/getTourKakaoMap",
        dataType:"json",
        async: false,
        success: function(data){
            let tourLocInfo = new Array(206);
            for(let i= 0; i<data.length; i++) {
                tourLocInfo[i] = {
                    title : data[i].tourTitle,
                    latlng: new kakao.maps.LatLng(data[i].mapy, data[i].mapx),
                    category: data[i].tourCategory
                }
            }

            // 마커 이미지의 이미지 주소입니다
            let imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

            for (let i = 0; i < tourLocInfo.length; i ++) {
                // 마커 이미지의 이미지 크기 입니다
                let imageSize = new kakao.maps.Size(24, 35);

                // 마커 이미지를 생성합니다
                let markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

                // 마커를 생성합니다
                if(tourLocInfo[i].category.includes("동물병원")) {
                    let marker = new kakao.maps.Marker({
                        map: map, // 마커를 표시할 지도
                        position: tourLocInfo[i].latlng, // 마커를 표시할 위치
                        title : tourLocInfo[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                        image : markerImage // 마커 이미지
                    });

                }
                // 마커 스타일 달기
            }
        },
        error:function(){
            console.log("통신에러3");
        }
    });
</script>

<div class="allSearchWhiteSpace"></div>
<div class="allSearchWhiteSpace"></div>

<div class="whiteSpaceTourBoard"></div>
<div class="whiteSpaceEncycle">
    <div class="logoInPage"></div>
</div>

<!---->
<div>
    <th:block th:include="component/footer.html"></th:block>
</div>
</body>


