<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/loginLayout}">
<head>
    <meta charset="utf-8">
    <title>로그인</title>

</head>

<th:block layout:fragment="content">

<section id="findIdComplete">
    <div class="findIdCompleteWrap container">

        <div class="findIdCompleteContents">

            <h5 class="findIdCompleteTitle">뭐든 다알개</h5>

            <form class="findIdCompleteForm" action="" method="post">
                <h5 class="findIdCompleteMessage">로그인 실패!</h5>
                <div class="pwdResetCompleteGotoMain" th:onclick="|location.href='@{/login/login}'|">로그인 페이지로 이동</div>
            </form>
        </div>
    </div>
</section>

</th:block>
</html>


