input:focus{
    outline: none !important;
}

#registemailAuthFail{
    width: 100%;
    padding: 230px 0;
}

#registemailAuthFail .registemailAuthFailWrap{
    width: 100%;
}

#registemailAuthFail .registemailAuthFailWrap .registemailAuthFailContents{ 
    width: 45%;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    padding: 3% 5%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#registemailAuthFail .registemailAuthFailWrap .registemailAuthFailContents .registemailAuthFailForm{
    width: 100%;
}

#registemailAuthFail .registemailAuthFailWrap .registemailAuthFailContents h5.registemailAuthFailTitle{
    width: 100%;
    position: absolute;
    left: 0;
    top: -30px;
    text-align: left;
}


#registemailAuthFail .registemailAuthFailWrap .registemailAuthFailContents .registemailAuthFailForm input#putEmailAddress{
    background: url(email.png) no-repeat 13px center;
    text-indent: 30px;
    padding: 3% 2%;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background-color: #DAECFF;
    margin: 3% 0;
}

#registemailAuthFail .registemailAuthFailWrap .registemailAuthFailContents .registemailAuthFailForm .putAuthNumWrap{
    width: 100%;
    position: relative;

}

#registemailAuthFail .registemailAuthFailWrap .registemailAuthFailContents .registemailAuthFailForm input#putAuthNum{
    background: url(key.png) no-repeat 13px center;
    text-indent: 30px;
    padding: 3% 2%;
    width: 100%;
    border: 1px solid #FF0000;
    border-radius: 2px;
    background-color: #DAECFF;
}

#registemailAuthFail .registemailAuthFailWrap .registemailAuthFailContents .registemailAuthFailForm input#putEmailAddress::placeholder{
    color: #929292;
}

#registemailAuthFail .registemailAuthFailWrap .registemailAuthFailContents .registemailAuthFailForm input#putAuthNum::placeholder{
    color: #929292;
}


#registemailAuthFail .registemailAuthFailWrap .registemailAuthFailContents .registemailAuthFailForm input#reSendAutNum{
    background-color: #9DC4E7;
    color: #fff;
    border:none;
    padding: 2%;
    width: 30%;
    margin-top: 3%;
    text-align: center;
    float: right;
    font-size: 0.9em;
    border-radius: 2px; 
}

#registemailAuthFail .registemailAuthFailWrap .registemailAuthFailContents .registemailAuthFailForm input#AuthComplete{
    background-color: #9DC4E7;
    color: #fff;
    border:none;
    padding: 2%;
    width: 100%;
    margin-top: 6%;
    border-radius: 2px;
}

#registemailAuthFail .registemailAuthFailWrap .registemailAuthFailContents .registemailAuthFailForm .authTime{
    width: 18%;
    position: absolute;
    right: -5%;
    top: 30px;
    transform: translate(-50%, -50%);
    font-size: 0.8em;
    color: #acacac;
}


.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    clear: both;
}

#registemailAuthFail .registemailAuthFailWrap .registemailAuthFailContents .registemailAuthFailForm .authNumNotFound{
    width: 100%;
    color: #FF0000;
    font-size: 0.8em;
    text-align: right;
}