input:focus{
    outline: none !important;
}

#regist{
    width: 100%;
    padding: 230px 0;
}

#regist .registWrap{
    width: 100%;
}

#regist .registWrap .registContents{ 
    width: 45%;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    padding: 3% 5%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#regist .registWrap .registContents h5.registTitle{
    width: 100%;
    position: absolute;
    left: 0;
    top: -30px;
    text-align: left;
}

#regist .registWrap .registContents .registForm label#realName{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    justify-content: flex-end;
}

#regist .registWrap .registContents .registForm input[type="checkbox"]{
    display: none !important;
}

#realName:checked + #showCheckbox {
    background: url(checkbox_checked.png) no-repeat;
    width: 18px;
    height: 18px;
    background-size: contain;
}

#realName #showCheckbox {
    width: 18px;
    height: 18px; 
    background: url(checkbox_normal.png) no-repeat;
    background-size: contain;
}

#regist .registWrap .registContents .registForm label#realName span{
    font-size: 0.8em;
    color: #969696;
}


#regist .registWrap .registContents .registForm input{
    display: block;
    text-indent: 30px;
    padding: 3% 2%;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background: #DAECFF;
    margin: 3% 0;
}

#regist .registWrap .registContents .registForm label#birth{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background-color: #DAECFF;
    margin: 3% 0;
    padding: 0 2%;
    color: #b6b6b6;
}

#regist .registWrap .registContents .registForm label#birth .birthTitle{
    width: 22%;
    font-size: 0.9em;
}

#regist .registWrap .registContents .registForm label input#birth{
    width: 100%;
    border: none;
    border-radius: 2px;
    margin: 0;

}



#regist .registWrap .registContents .registForm input#username{
    background: url(id.png) no-repeat 13px center #DAECFF;
}

#regist .registWrap .registContents .registForm input#password{
    background: url(lock.png) no-repeat 13px center #DAECFF;
}

#regist .registWrap .registContents .registForm input#passwordConfirm{
    background: url(lock.png) no-repeat 13px center #DAECFF;
}

#regist .registWrap .registContents .registForm input#putEmailAddress{
    background: url(email.png) no-repeat 13px center #DAECFF;
}


#regist .registWrap .registContents .registForm input#nameUser{
    background: url(name.png) no-repeat 13px center #DAECFF;
}

#regist .registWrap .registContents .registForm input#address{
    background: url(address.png) no-repeat 13px center #DAECFF;
}



#regist .registWrap .registContents .registForm input::placeholder{
    color: #929292;
    font-size: 0.9em;
}

#regist .registWrap .registContents .registForm input#AuthBtn{
    background-color: #9DC4E7;
    color: #fff;
    border:none;
    padding: 3% 2%;
    width: 100%;
    margin-top: 6%;
    text-align: center;
    font-size: 0.9em;
    border-radius: 2px;
}

#regist .registWrap .registContents .registForm .addressBox{
    width: 100%;
    position: relative;
}

#regist .registWrap .registContents .registForm .addressBox .searchAddress{
    width: 20%;
    position: absolute;
    right: -8.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #DBDBDB;
    padding: 1.5%;
    color: #969696;
    border-radius: 2px;
    font-size: 0.9em;
}

#regist .registWrap .registContents .registForm #termsCheck{
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background: #DAECFF;
    padding: 3% 2%;
    display: flex;
    cursor: pointer;
}

#termsCheck:checked + #showCheckbox {
    background: url(checkbox_checked.png) no-repeat;
    width: 18px;
    height: 18px;
    background-size: contain;
}

#showCheckbox {
    width: 18px;
    height: 18px; 
    background: url(checkbox_normal.png) no-repeat;
    background-size: contain;
}


#regist .registWrap .registContents .registForm label#termsCheck span.agreeAll1{
    color: #555555;
}


#regist .registWrap .registContents .registForm label#termsCheck span.agreeAll2{
    font-size: 0.8em;
    color: #639DD7;

}


.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    clear: both;
}