input:focus{
    outline: none !important;
}

p{
    margin-bottom: 0 !important;
}

#registComplete{
    width: 100%;
    padding: 230px 0;
}

#registComplete .registCompleteWrap{
    width: 100%;
}

#registComplete .registCompleteWrap .registCompleteContents{ 
    width: 45%;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    padding: 3% 5%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#registComplete .registCompleteWrap .registCompleteContents h5.registCompleteTitle{
    width: 100%;
    position: absolute;
    left: 0;
    top: -30px;
    text-align: left;
}


#registComplete .registCompleteWrap .registCompleteContents h5.registCompleteMessage{
    font-weight: 600;
    font-size: 1.3em;
}


#registComplete .registCompleteWrap .registCompleteContents .registCompleteForm .message1{
    margin: 3% 0 6%;
    color: #639DD7;
    font-weight: 500;
}

#registComplete .registCompleteWrap .registCompleteContents .registCompleteForm .message1 a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background-color: #639DD7;
    border-radius: 20px;
    padding: 0.1% 1%;
    transition: all .3s;    
    border: 2px solid #639DD7;
}

#registComplete .registCompleteWrap .registCompleteContents .registCompleteForm .message1 a:hover{
    background-color: #fff;
    color: #639DD7;
    border: 2px solid #639DD7;
}

#registComplete .registCompleteWrap .registCompleteContents .registCompleteForm .message2{
    font-size: 0.7em;
    font-weight: 300;
}

#registComplete .registCompleteWrap .registCompleteContents .registCompleteForm p{
    font-weight: 300;
    font-size: 0.9em;
}

#registComplete .registCompleteWrap .registCompleteContents .registCompleteForm .registCompleteGotoMain{
    background-color: #9DC4E7;
    color: #fff;
    border:none;
    padding: 3% 2%;
    width: 100%;
    margin-top: 6%;
}

#registComplete .registCompleteWrap .registCompleteContents .registCompleteForm .registCompleteGotoMain a{
    width: 100%;
    display: block;
    text-decoration: none;
    color: #fff;
}

