<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>결제페이지</title>

    <!--styleSheet-->
    <link rel="stylesheet" th:href="@{/css/payment.css}">

    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!--bootstrap-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!--css-->
    <!--<link rel="stylesheet" href="/css/index.css">-->
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <!--<link rel="stylesheet" href="/css/mobile.css">-->
    <link rel="stylesheet" th:href="@{/css/mobile.css}">
    <!--<link rel="stylesheet" href="/css/sanitize.css">-->
    <link rel="stylesheet" th:href="@{/css/sanitize.css}">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script type="text/javascript" th:src="@{/js/header.js}"></script>


    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
    <script type="text/javascript" th:src="@{/js/tour.js}"></script>

    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!--thymeleaf-->
</head>
<body>
<div id="headers">
    <th:block th:include="component/header.html"></th:block>
</div>
<div class="paymentBg">
    <h3>오늘도 댕댕하개!</h3>
</div>

<div class="container">
    <div class="paymentBox1">
        <div class="paymentText1">개껌이부족해요</div>
    </div>

    <div class="payment101">
        <img th:src="@{/images/denggum.png}" alt="개껌이미지">
        <div class="payment102">현재 보유한 개껌</div>
        <div class="payment103"><span th:text="${member}"></span><span class="payment103">개</span></div>
    </div>

    <div class="paymentBox2">

        <img th:src="@{/images/denggum.png}" class="paymentImg1">
        <div class="text1">개껌 10개</div>
        <div class="paymentBox3">
            <form action="/payment/ready" method="post">
                <input type="hidden" name="itemName" value="개껌10">
                <input type="hidden" name="quantity" value=10000000>
                <input type="hidden" name="totalAmount" value=1000000>
                <button class="btnwh" type="submit">1,100원</button>
            </form>
        </div>
    </div>
    <div class="paymentBox2">

        <img th:src="@{/images/denggum.png}" class="paymentImg1">
        <div class="text1">개껌 20개</div>

        <div class="paymentBox3">

            <form id="paymentForm" action="/payment/ready" method="post">
                <input type="hidden" name="itemName" value="개껌2222222">
                <input type="hidden" name="quantity" value=20>
                <input type="hidden" name="totalAmount" value=1000000>

                <button class="btnwh" type="submit">2,200원</button>
            </form>

        </div>
    </div>

<div class="paymentBox2">

    <img th:src="@{/images/denggum.png}" class="paymentImg1">
    <div class="text1">개껌 50개</div>

    <div class="paymentBox3">

        <form action="/payment/ready" method="post">
            <input type="hidden" name="itemName" value="개껌555555">
            <input type="hidden" name="quantity" value=50>
            <input type="hidden" name="totalAmount" value=1000000>

            <button class="btnwh" type="submit">5,500원</button>
        </form>

    </div>
</div>
<div class="paymentBox2">

    <img th:src="@{/images/denggum.png}" class="paymentImg1">
    <div class="text1">개껌 100개</div>

    <div class="paymentBox3">

        <form action="/payment/ready" method="post">
            <input type="hidden" name="itemName" value="개껌100">
            <input type="hidden" name="quantity" value=100>
            <input type="hidden" name="totalAmount" value=1000000>

            <button class="btnwh" type="submit">11,000원</button>
        </form>

    </div>
</div>
<div class="paymentBox2">

    <img th:src="@{/images/denggum.png}" class="paymentImg1">
    <div class="text1">개껌 300개</div>

    <div class="paymentBox3">

        <form action="/payment/ready" method="post">
            <input type="hidden" name="itemName" value="개껌33333">
            <input type="hidden" name="quantity" value=300>
            <input type="hidden" name="totalAmount" value=1000000>

            <button class="btnwh" type="submit">33,000원</button>
        </form>

    </div>
</div>
</div>
<button onclick="location.href='/payment/list'">전체 메뉴 조회</button>
<div id="footers"></div>
<div>
    <th:block th:include="component/footer.html"></th:block>
</div>
</body>
</html>
