<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>


    <!--meta-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="le=edge">

      
      <!--bootstrap-->
      <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
      

      <!--css-->
      <link rel="stylesheet" href="../css/index.css">
      <link rel="stylesheet" href="../../static/matchingTest/css/mobile.css">
      <link rel="stylesheet" href="../css/sanitize.css">
      <link rel="stylesheet" href="../../static/matchingTest/css/matchingTestResult.css">
      
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

      <!--js-->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

      
    <!--favicon--->
      <link href="favicon.ico" rel="icon">
      <link href="favicon.ico" rel="apple-touch-icon">
  </head>
  <body>
        <section id="MatchingTestResult">
            <div class="MatchingTestResultWrap container">
                

                <div class="MatchingTestResultContent">
                    <h4>추천 반려견은</h4>
                    <h2 class="testResultDog">말티즈</h2>
                    <div class="resultImg">
                        <img src="../../static/matchingTest/images/maltese.png" alt="maltese">
                    </div>
                    <p class="resultText">
                        지적인 <span>말티즈!</span><br>
                        말티즈는 주인이 집에 오면 꼬리를 미친 듯이 흔들고 주인을 반겨줍니다.<br>
                        말티즈는 폐쇄적 사회성을 갖는 견종이라 사회성이 좋지는 않지만 주인과는 관계는 무척좋습니다.<br>
                    </p>
                </div>

                <button class="retry">
                    <a href="matchingTestMain.html">다시하기<span class="retryImg"><img src="../../static/matchingTest/images/retry.png" alt="retry"></span></a>
                </button>
            </div>
        </section>
  </body>


