<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/matchingTestLayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block layout:fragment="content">
        <section id="MatchingTestResult">
            <div class="MatchingTestResultWrap container">
                

                <div class="MatchingTestResultContent" th:each="dogKind : ${selectedKind}">
                    <h4>추천 반려견은</h4>
                    <h2 class="testResultDog" th:text="${selectedKind}"></h2>
                    <div class="resultImg">
                        <img th:src="@{/images/maltese.png}" alt="maltese">
                    </div>
                    <p class="resultText" >
                        <span th:text="${selectedKind}"></span>는(은)<br>
                        <span th:text="${testResult}"></span>
                    </p>
                </div>

                <button class="retry">
                    <a th:href="@{/matchingTest/matchingTestMain}">다시하기<span class="retryImg"><img th:src="@{/images/retry.png}" alt="retry"></span></a>
                </button>
            </div>


            <section id="result1">
                <div class="loader1">Loading...</div>
                <div class="fin1">
                    <img id="result_img1" class="mt-4" src="" alt="">
                    <div class="form1">
                        <p>👆 이미지 꾹 눌러 결과 저장하기</p>
                    </div>
                    <button type="button1" class="btn_restart sky" onclick="retest();">테스트 다시하기</button>
                    <button type="button1" class="btn btn_link" onclick="copylink();">링크 복사하고 공유하기</button>
                </div>
            </section>
        </section>


</th:block>




