<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/matchingTestLayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<th:block layout:fragment="content">
        <section id="MatchingTest5">
            <div class="MatchingTest5Wrap container">
                <h4>나에게 맞는 강아지 찾기</h4>

                <div class="MatchingTest5Content">
                    <h4 class="testQuestion">나는 1인 가구인가...?</h4>
                    <div class="test5Img">
                        <img src="../matchingTest/images/TestImg5.png" alt="TestImg5">
                    </div>
                    <div class="testBtn">
                        <div class="selectBtn1"><a href="test6.html">예</a></div>
                        <div class="selectBtn1"><a href="test6.html">아니오</a></div>
                    </div>
                </div>
            </div>
        </section>
</th:block>


