<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/matchingTestLayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MDFL7PME8W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MDFL7PME8W');
    </script>

</head>


<th:block layout:fragment="content">
    <section id="MatchingTest1">
        <div class="MatchingTest1Wrap container" id="qna">
            <input type="hidden" id="page" value="0" />
            <input type="hidden" id="maltese" value="0" />
            <input type="hidden" id="chiwawa" value="0" />
            <input type="hidden" id="golden" value="0" />
            <input type="hidden" id="hursky" value="0" />
            <input type="hidden" id="shihtzu" value="0" />
            <input type="hidden" id="mix" value="0" />
            <input type="hidden" id="jindo" value="0" />
            <input type="hidden" id="poodle" value="0" />
            <h4>나에게 맞는 강아지 찾기</h4>

            <div class="MatchingTest1Content question">
                <div class="page"><span id="cnt">1</span>/8</div>
                <h4 class="testQuestion">개의 털이 빠진다면...</h4>
                <div class="test1Img">
                    <img th:src="@{/images/TestImg1.png}" alt="TestImg2" id="questionImg">
                </div>
                <div class="testBtn answers">
                    <a href="javascript:select();" id="A">
                        <div class="selectBtn1">장모</div>
                    </a>
                    <a href="javascript:select();" id="B">
                        <div class="selectBtn1 mt-4">단모</div>
                    </a>
                </div>
            </div>

            <!--<script src="/js/api.js" charset="utf-8"></script>-->

        </div>
    </section>
</th:block>