<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/matchingTestLayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MDFL7PME8W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MDFL7PME8W');
    </script>
    <script th:src="@{/js/dist/clipboard.min.js}"></script>
</head>


<th:block layout:fragment="content">
    <section id="MatchingTest1">
        <div class="MatchingTest1Wrap container" id="qna">
            <input type="hidden" id="page" value="0" />
            <input type="hidden" id="maltese" value="0" />
            <input type="hidden" id="chiwawa" value="0" />
            <input type="hidden" id="golden" value="0" />
            <input type="hidden" id="hursky" value="0" />
            <input type="hidden" id="shihtzu" value="0" />
            <input type="hidden" id="mix" value="0" />
            <input type="hidden" id="jindo" value="0" />
            <input type="hidden" id="poodle" value="0" />
            <h4>나에게 맞는 강아지 찾기</h4>

            <div class="MatchingTest1Content question">
                <div class="page"><span id="cnt">1</span>/8</div>
                <h4 class="testQuestion">개의 털이 빠진다면...</h4>
                <div class="test1Img">
                    <img th:src="@{/images/TestImg1.png}" alt="TestImg2">
                </div>
                <div class="testBtn answers">
                    <a href="javascript:select();" id="A">
                        <div class="selectBtn1">장모</div>
                    </a>
                    <a href="javascript:select();" id="B">
                        <div class="selectBtn1 mt-4">단모</div>
                    </a>
                </div>
            </div>

            <section id="result">
                <div class="loader">Loading...</div>
                <div class="fin">
                    <img id="result_img" class="mt-4" src="" alt="">
                    <div class="form">
                        <p>👆 이미지 꾹 눌러 결과 저장하기</p>
                    </div>
                    <button type="button" class="btn_restart sky" onclick="retest();">테스트 다시하기</button>
                    <button type="button" class="btn btn_link" onclick="copylink()">링크 복사하고 공유하기</button>
                </div>
            </section>


            <!--<script src="/js/api.js" charset="utf-8"></script>-->

        </div>
    </section>
</th:block>