<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>


    <!--meta-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="le=edge">

      
      <!--bootstrap-->
      <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
      

      <!--css-->
      <link rel="stylesheet" href="../css/index.css">
      <link rel="stylesheet" href="../../static/matchingTest/css/mobile.css">
      <link rel="stylesheet" href="../css/sanitize.css">
      <link rel="stylesheet" href="../../static/matchingTest/css/test7.css">
      
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

      <!--js-->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

      
    <!--favicon--->
      <link href="favicon.ico" rel="icon">
      <link href="favicon.ico" rel="apple-touch-icon">
  </head>
  <body>
        <section id="MatchingTest7">
            <div class="MatchingTest7Wrap container">
                <h4>나에게 맞는 강아지 찾기</h4>

                <div class="MatchingTest7Content">
                    <h4 class="testQuestion">반려견 양육 경험이 있는가...?</h4>
                    <div class="test7Img">
                        <img src="../../static/matchingTest/images/TestImg7.png" alt="TestImg7">
                    </div>
                    <div class="testBtn">
                        <div class="selectBtn1"><a href="test8.html">예</a></div>
                        <div class="selectBtn1"><a href="test8.html">아니오</a></div>
                    </div>
                </div>
            </div>
        </section>
  </body>


