<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>매칭테스트</title>


    <!--meta-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="le=edge">

      
      <!--bootstrap-->
      <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
      

      <!--css-->
      <link rel="stylesheet" href="../css/index.css">
      <link rel="stylesheet" href="../matchingTest/css/mobile.css">
      <link rel="stylesheet" href="../css/sanitize.css">
      <link rel="stylesheet" href="../matchingTest/css/test8.css">
      
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

      <!--js-->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

      
    <!--favicon--->
      <link href="favicon.ico" rel="icon">
      <link href="favicon.ico" rel="apple-touch-icon">
  </head>
  <body>
        <section id="MatchingTest8">
            <div class="MatchingTest8Wrap container">
                <h4>나에게 맞는 강아지 찾기</h4>

                <div class="MatchingTest8Content">
                    <h4 class="testQuestion">대형견 VS 소형견</h4>
                    <div class="test8Img">
                        <img src="../matchingTest/images/TestImg8_1.png" alt="TestImg8_1">
                        <img src="../matchingTest/images/TestImg8_2.png" alt="TestImg8_2">
                    </div>
                    <div class="testBtn">
                        <div class="selectBtn1"><a href="matchingTestResult.html">작고 소중한 소형견!</a></div>
                        <div class="selectBtn1"><a href="matchingTestResult.html">늠름한 대형견!</a></div>
                    </div>
                </div>
            </div>
        </section>
  </body>


