input:focus{
    outline: none !important;
}

#registemailAuth{
    width: 100%;
    padding: 230px 0;
}

#registemailAuth .registemailAuthWrap{
    width: 100%;
}

#registemailAuth .registemailAuthWrap .registemailAuthContents{ 
    width: 45%;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    padding: 3% 5%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#registemailAuth .registemailAuthWrap .registemailAuthContents .registemailAuthForm{
    width: 100%;
}

#registemailAuth .registemailAuthWrap .registemailAuthContents h5.registemailAuthTitle{
    width: 100%;
    position: absolute;
    left: 0;
    top: -30px;
    text-align: left;
}


#registemailAuth .registemailAuthWrap .registemailAuthContents .registemailAuthForm input#putEmailAddress{
    background: url(../images/email.png) no-repeat 13px center;
    text-indent: 30px;
    padding: 3% 2%;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background-color: #DAECFF;
    margin: 3% 0;
}

#registemailAuth .registemailAuthWrap .registemailAuthContents .registemailAuthForm .putAuthNumWrap{
    width: 100%;
    position: relative;

}

#registemailAuth .registemailAuthWrap .registemailAuthContents .registemailAuthForm input#putAuthNum{
    background: url(../images/key.png) no-repeat 13px center;
    text-indent: 30px;
    padding: 3% 2%;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background-color: #DAECFF;
}

#registemailAuth .registemailAuthWrap .registemailAuthContents .registemailAuthForm input#putEmailAddress::placeholder{
    color: #929292;
}

#registemailAuth .registemailAuthWrap .registemailAuthContents .registemailAuthForm input#putAuthNum::placeholder{
    color: #929292;
}


#registemailAuth .registemailAuthWrap .registemailAuthContents .registemailAuthForm input#reSendAutNum{
    background-color: #9DC4E7;
    color: #fff;
    border:none;
    padding: 2%;
    width: 30%;
    margin-top: 3%;
    text-align: center;
    float: right;
    font-size: 0.9em;
    border-radius: 2px; 
}

#registemailAuth .registemailAuthWrap .registemailAuthContents .registemailAuthForm input#AuthComplete{
    background-color: #9DC4E7;
    color: #fff;
    border:none;
    padding: 2%;
    width: 100%;
    margin-top: 6%;
    border-radius: 2px;
}

#registemailAuth .registemailAuthWrap .registemailAuthContents .registemailAuthForm .authTime{
    width: 18%;
    position: absolute;
    right: -5%;
    top: 30px;
    transform: translate(-50%, -50%);
    font-size: 0.8em;
    color: #acacac;
}


.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    clear: both;
}