@media screen and (max-width:1440px) {

    #myPage .myPageWrap .myPageContents .myPageBoxLeft .myPageProfileImgBox .profileImg{
        width: 200px !important;
        height: 200px !important;
    }

    #myPage .myPageWrap .myPageContents .myPageBoxRight .dogInfo .dogInfoMore .dogInfoMoreContent{
        padding: 3% 5% !important;
    }

    #myPage .petName, #myPage .petBreed, #myPage .petBirth, #myPage .petGender, #myPage .petOper, #myPage .petWeight{
        width: 60% !important;
    }

    #myPage .myPageWrap .myPageContents .myPageBoxRight .dogInfo .dogInfoMore .dogInfoMoreContent > div{
        gap: 20px !important;
    }
}



/*노트북*/
@media screen and (max-width:1024px) {
    #myPage .myPageWrap .myPageContents{
        flex-direction: column;
    }

    #myPage .myPageWrap .myPageContents .myPageBoxLeft{
        width: 100% !important;
    }

    #myPage .myPageWrap .myPageContents .myPageBoxRight{
        width: 100% !important;
    }

    #myPage .myPageWrap .myPageContents .myPageBoxRight .addPet form input.addPetBtn{
        width: 50% !important;
    }

    #myPage .myPageWrap .goToMain{
        width: 45% !important;
    }
}

/*아이패드 (768px)*/
@media screen and (max-width:991px) {


}



/*모바일*/

@media screen and (max-width:767px) {

    #myPage .myPageBg{
        height: 355px !important;
    }

    #myPage .myPageBg::after{
        width: 180px !important;
        height: 180px !important;
    }

    #myPage .myPageWrap .myPageContents .myPageBoxRight{
        padding: 2% !important;
    }

    #myPage .myPageWrap .myPageContents .myPageBoxRight .myInfo > form > div div.myInfoTitle {
        width: 40% !important;
        font-size: 0.9em;
    }

    #myPage .myPageWrap .myPageContents .myPageBoxRight .myInfo > form > .myInfo5 .myInfo5Inputs input {
        margin-left: 5% !important;
        font-size: 0.9em;
    }

    #myPage .myPageWrap .myPageContents .myPageBoxRight .myInfo > form > div input {
        font-size: 0.9em;
    }

    #myPage .myPageWrap .myPageContents .myPageBoxRight .myInfo > form > .myInfo5 .spreadBtn {
        width: 20%;
        font-size: 0.9em;
    }

    #myPage .myPageWrap .myPageContents .myPageBoxRight .dogInfo .dogInfoMore .dogInfoMoreContent > div {
        flex-direction: column;
    }

    #myPage .petName, #myPage .petBreed, #myPage .petBirth, #myPage .petGender, #myPage .petOper, #myPage .petWeight {
        width: 100% !important;
    }

    #myPage .myPageWrap .myPageContents .myPageBoxRight .dogInfo .dogInfoMore .addDoneBtn input{
        margin-left: 0 !important;
        padding: 3% !important;
    }

    #myPage .myPageWrap .myPageContents .myPageBoxRight .dogInfo .dogInfoMore .dogInfoMoreContent > div{
        gap: 0 !important;
    }

    #myPage .myPageWrap .myPageContents .myPageBoxRight .dogInfo .dogInfoMore .addDoneBtn{
        margin-top: 5%;
    }

    #myPage .myPageWrap .goToMain {
        width: 48.2% !important;
    }

    }


/*모바일2*/


@media screen and (max-width:576px) {


}



/*모바일3 갤럭시*/

@media screen and (max-width:425px) {




}



/*모바일4 아이폰*/
@media screen and (max-width:375px) {

    #myPage .myPageWrap .myPageContents .myPageBoxRight .addPet form input.addPetBtn {
        width: 100% !important;
    }

    #myPage .myPageWrap .goToMain {
        width: 100% !important;
    }
}