<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">
    <title>통합검색</title>
    
    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">
    
    <!--bootstrap-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    
    <!--css-->
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/mobile.css}" rel="stylesheet" />
    <link th:href="@{/css/sanitize.css}" rel="stylesheet" />
    <link th:href="@{/css/allSearch.css}" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" rel="stylesheet" />

    <!--js-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/header.js}"></script>
    <script type="text/javascript" th:src="@{/js/allSearch.js}"></script>
    
    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
</head>
<body>
<div id="headers">
    <th:block th:include="component/header.html"></th:block>
</div>
<div class="tourBg">
    <h3>통합 검색</h3>
</div>

<div class="allSearchWhiteSpace"></div>

<div class="tourSelectBar">
    
    <div class="searchCenter">
        <div class="searchInput">
            <div class="searchIcon"></div>
            <input type="search" class="allSearchBox" placeholder="검색어 미입력시 전체 조회">
        </div>
        <button onclick="allSearch()" class="searchButton">검색</button>
    </div>
</div>

<div class="showContent">
    <p class="imageAndText">
        <img class="tourPawImage" th:src="@{/images/dogPaw.png}" />여행지 전체
        <button onclick="allSearchDetail(1)" class="plusDetail">
            <img th:src="@{/images/plusDetail.png}" />
        </button>
    </p>
        <div class="allSearchWhiteSpace"></div>
        <div class="allSearchWhiteSpace"></div>
        <div class="allSearchWhiteSpace"></div>
    
    <div class="tourBoard">
    
    </div>
    
    <p class="imageAndText">
        <img class="tourPawImage" th:src="@{/images/dogPaw.png}" />관광지
        <button onclick="allSearchDetail(2)" class="plusDetail">
            <img th:src="@{/images/plusDetail.png}" />
        </button>
    </p>
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    <div class="tourBoard">
    
    </div>

    <p class="imageAndText">
        <img class="tourPawImage" th:src="@{/images/dogPaw.png}" />숙박시설
        <button onclick="allSearchDetail(3)" class="plusDetail">
            <img th:src="@{/images/plusDetail.png}" />
        </button>
    </p>
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    <div class="tourBoard">
    
    </div>
    
    <p class="imageAndText">
        <img class="tourPawImage" th:src="@{/images/dogPaw.png}" />식당 및 카페
        <button onclick="allSearchDetail(4)" class="plusDetail">
            <img th:src="@{/images/plusDetail.png}" />
        </button>
    </p>
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    <div class="tourBoard">
    
    </div>
    
    <p class="imageAndText">
        <img class="tourPawImage" th:src="@{/images/dogPaw.png}" />체험 활동
        <button onclick="allSearchDetail(5)" class="plusDetail">
            <img th:src="@{/images/plusDetail.png}" />
        </button>
    </p>
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    <div class="tourBoard">
    
    </div>
    
    <p class="imageAndText">
        <img class="tourPawImage" th:src="@{/images/dogPaw.png}" />동물병원
        <button onclick="allSearchDetail(6)" class="plusDetail">
            <img th:src="@{/images/plusDetail.png}" />
        </button>
    </p>
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    <div class="tourBoard">
    
    </div>
    
    <p class="imageAndText">
        <img class="tourPawImage" th:src="@{/images/dogPaw.png}" />자유게시판
        <button onclick="allSearchDetail(7)" class="plusDetail">
            <img th:src="@{/images/plusDetail.png}" />
        </button>
    </p>
    
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    
    <div class="postBoard">
    
    </div>
    
    <div class="isNoData">
        <div class="allSearchWhiteSpace"></div>
        <div class="allSearchWhiteSpace"></div>
        <div class="allSearchWhiteSpace"></div>
    </div>
    
    <p class="imageAndText">
        <img class="tourPawImage" th:src="@{/images/dogPaw.png}" />공지사항
        <button onclick="allSearchDetail(8)" class="plusDetail">
            <img th:src="@{/images/plusDetail.png}" />
        </button>
    </p>
    
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    
    <div class="postBoard">
    
    </div>
    
    
    <div class="isNoData">
        <div class="allSearchWhiteSpace"></div>
        <div class="allSearchWhiteSpace"></div>
        <div class="allSearchWhiteSpace"></div>
    </div>
    
    
    <!--<p class="imageAndText">
        <img class="tourPawImage" th:src="@{/images/dogPaw.png}" />자랑갤러리
        <button onclick="allSearchDetail(9)" class="plusDetail">
            <img th:src="@{/images/plusDetail.png}" />
        </button>
    </p>
    
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    <div class="allSearchWhiteSpace"></div>
    
    <div class="boast-list">
        <div class="boast-postList">
            <div class="boast-img-box">
                &lt;!&ndash;<th:block th:if="${ board.attachThumbAddr != null }">
                    <img class="boast-content-img" th:src="@{|/thumbPath${board.attachThumbAddr}|}"/>
                </th:block>&ndash;&gt;
            </div>
            <div class="boast-detail-box">
                <div class="boast-detail-title">
                    <div class="boast-detail-title1">
                        <h6>No.</h6>
                        <h6 class="boast-postNo" th:text="1"></h6>
                        <h6 class="boast-postTitle" th:text="1"></h6>
                    </div>
                    <div class="boast-detail-title2">
                        <h6 class="boast-postCount-name">조회수</h6>
                        <h6 class="boast-postCount" th:text="1"></h6>
                    </div>
                </div>
                <div>
                    <img class="boast-post-icon" th:src="@{/images/writer.png}">
                    <h6 class="boast-postUser" th:text="1"></h6>
                </div>
                <div>
                    <img class="boast-post-icon" th:src="@{/images/date.png}">
                    <h6 class="boast-postDate" th:text="1"></h6>
                </div>
            </div>
        </div>
        <div class="boast-postList">
            <div class="boast-img-box">
                &lt;!&ndash;<th:block th:if="${ board.attachThumbAddr != null }">
                    <img class="boast-content-img" th:src="@{|/thumbPath${board.attachThumbAddr}|}"/>
                </th:block>&ndash;&gt;
            </div>
            <div class="boast-detail-box">
                <div class="boast-detail-title">
                    <div class="boast-detail-title1">
                        <h6>No.</h6>
                        <h6 class="boast-postNo" th:text="1"></h6>
                        <h6 class="boast-postTitle" th:text="1"></h6>
                    </div>
                    <div class="boast-detail-title2">
                        <h6 class="boast-postCount-name">조회수</h6>
                        <h6 class="boast-postCount" th:text="1"></h6>
                    </div>
                </div>
                <div>
                    <img class="boast-post-icon" th:src="@{/images/writer.png}">
                    <h6 class="boast-postUser" th:text="1"></h6>
                </div>
                <div>
                    <img class="boast-post-icon" th:src="@{/images/date.png}">
                    <h6 class="boast-postDate" th:text="1"></h6>
                </div>
            </div>
        </div>
        <div class="boast-postList">
            <div class="boast-img-box">
                &lt;!&ndash;<th:block th:if="${ board.attachThumbAddr != null }">
                    <img class="boast-content-img" th:src="@{|/thumbPath${board.attachThumbAddr}|}"/>
                </th:block>&ndash;&gt;
            </div>
            <div class="boast-detail-box">
                <div class="boast-detail-title">
                    <div class="boast-detail-title1">
                        <h6>No.</h6>
                        <h6 class="boast-postNo" th:text="1"></h6>
                        <h6 class="boast-postTitle" th:text="1"></h6>
                    </div>
                    <div class="boast-detail-title2">
                        <h6 class="boast-postCount-name">조회수</h6>
                        <h6 class="boast-postCount" th:text="1"></h6>
                    </div>
                </div>
                <div>
                    <img class="boast-post-icon" th:src="@{/images/writer.png}">
                    <h6 class="boast-postUser" th:text="1"></h6>
                </div>
                <div>
                    <img class="boast-post-icon" th:src="@{/images/date.png}">
                    <h6 class="boast-postDate" th:text="1"></h6>
                </div>
            </div>
        </div>
    </div>-->
    
</div>

<div class="allSearchWhiteSpace"></div>
<div class="whiteSpaceTourBoard"></div>
<div class="whiteSpaceTourBoard"></div>
<div class="whiteSpaceEncycle">
    <div class="logoInPage"></div>
</div>

<div>
    <th:block th:include="component/footer.html"></th:block>
</div>
</body>


