<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/myPageLayout}">
  <head>
    <meta charset="utf-8">
    <title>회원탈퇴</title>
  </head>

  <th:block layout:fragment="content">
        <section id="delete">
          <div class="deleteWrap container">

            <div class="deleteContents">

              <h5 class="deleteTitle">뭐든 다알개</h5>

              <form class="deletPwdConfirm" th:action="@{/myPage/delete}" method="post">
                <h5 class="deletePwdConfirmTitle">탈퇴 비밀번호 확인</h5>
                <input type="password" name="password" id="pwd" placeholder="비밀번호"/>
                <p>탈퇴 시 동일한 이메일로 재가입이 불가능 합니다.😥</p>
                <input type="submit" name="deleteBtn" id="deleteBtn" value="탈퇴"/>
              </form>
            </div>
          </div>
        </section>
  </th:block>>


 