<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/boardLayout}">
<head>
    <title>동물보호센터</title>
</head>

<th:block layout:fragment="content">
    <div class="board-banner">
        <h3>동물보호센터</h3>
        <div>
            <img th:src="@{/images/board-banner-image.png}" class="board-banner-image" alt="walking-with-a-dog-image">
        </div>
    </div>

    <div class="board-header-menu">
        <div class="protection">
            <button onclick="navigateToAbanPage0()" class="category-button" id="btn0">보호중인 강아지</button>
        </div>
        <div class="center">
            <button onclick="navigateToAbanPage1()" class="category-button" id="btn1">동물보호센터</button>
        </div>
        <div class="adoptInfo">
            <button onclick="navigateToAbanPage2()" class="category-button" id="btn2">입양안내</button>
        </div>
        <div class="pickupInfo" id="pickupInfo">
            <button onclick="navigateToAbanPage3()" class="category-button" id="btn3">습득시 안내</button>
        </div>
    </div>

    <div class="board-container container">
        <div class="board-searchBar">
            <form id="searchForm" th:action="@{/board/abanBoardCenter}" method="get">
                <input type="hidden" name="currentPage" value="1">
                <div class="search-buttons">
                    <div class="search-by-text">
                        <img th:src="@{/images/reading-glasses.png}" alt="readingGlasses" id="readingGlassesImage">
                        <input type="search" name="centerName" id="searchValueInputCenter" class="searchText" placeholder="보호소 이름 검색">
                    </div>
                    <div class="submit-button">
                        <button type="submit" id="searchButton">검색</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="board-container container">

        <div class="boast-list">
            <div th:if="${#lists.isEmpty(centerInfoList)}" class="search-empty">
                <p>검색 결과가 없습니다... 😢</p>
            </div>
            <div class="center-postList" th:each="centerInfo : ${centerInfoList}">
                <input type="hidden" name="pageNo" th:value="${selectCriteria.pageNo}">
                <div class="boast-detail-box">
                    <div class="center-detail">
                        <h6 class="boast-postNo">🏷️센터명 : </h6>
                        <h6 class="boast-postTitle" th:text="${centerInfo.careNm}"></h6>
                    </div>
                    <div class="center-detail">
                        <h6 class="boast-postUser">📱전화번호 : </h6>
                        <h6 class="boast-postUser" th:text="${centerInfo.careTel}"></h6>
                    </div>
                    <div class="center-detail">
                        <h6 class="boast-postUser">📍주소 : </h6>
                        <h6 class="boast-postUser" th:text="${centerInfo.careAddr}"></h6>
                    </div>
                    <div class="center-detail">
                        <h6 class="boast-postUser">🔎센터유형 : </h6>
                        <h6 class="boast-postUser" th:text="${centerInfo.divisionNm}"></h6>
                    </div>
                    <input class="lat" type="hidden" th:value="${centerInfo.lat}">
                </div>
            </div>
        </div>

        <div class="board-paging-button">
            <button th:if="${selectCriteria.startPage > 0}"
                    th:onclick="'location.href=\'/board/abanBoardCenter?currentPage=1' + '&amp;centerName=' + @{${centerName}} + '\''"
                    th:disabled="${selectCriteria.pageNo == 1}"
            >
                &lt;&lt;
            </button>
            <button
                    th:onclick="'location.href=\'/board/abanBoardCenter?currentPage='+ @{${selectCriteria.startPage - 1}} + '&amp;centerName=' + @{${centerName}} + '\''"
                    th:disabled="${selectCriteria.pageNo < 6}"
            >
                &lt;
            </button>
            <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
                <button
                        th:text="${ page }"
                        th:onclick="'location.href=\'/board/abanBoardCenter?currentPage=' + @{${page}}  + '&amp;centerName=' + @{${centerName}} +'\''"
                        th:disabled="${ selectCriteria.pageNo eq page }"
                        th:classappend="${selectCriteria.pageNo == page} ? 'current-page' : ''">
                </button>
            </th:block>
            <button
                    th:onclick="'location.href=\'/board/abanBoardCenter?currentPage='+ @{${selectCriteria.endPage + 1}} + '&amp;centerName=' + @{${centerName}} +'\''"
                    th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage or selectCriteria.maxPage - selectCriteria.pageNo < 4 }"
            >
                &gt;
            </button>
            <button
                    th:onclick="'location.href=\'/board/abanBoardCenter?currentPage='+ @{${selectCriteria.maxPage}} + '&amp;centerName=' + @{${centerName}} +'\''"
                    th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"
            >
                &gt;&gt;
            </button>
        </div>
    </div>
    <div class="whiteSpace">
        <div class="logoInPage"></div>
    </div>
    <script>
        if (document.querySelectorAll(".board-container .center-postList")) {
            const $tds = document.querySelectorAll(".board-container .center-postList");
            for (let i = 0; i < $tds.length; i++) {

                $tds[i].onmouseenter = function() {
                    this.style.backgroundColor = "#A6CEF7";
                }

                $tds[i].onmouseleave = function() {
                    this.style.backgroundColor = "transparent";
                }
            }
        }

        window.addEventListener('load', function() {
            const url = window.location.href;
            const buttons = document.querySelectorAll('.category-button');
            buttons.forEach(button => button.classList.remove('active'));

            if (url.includes('/abanBoardCenter')) {
                document.getElementById('btn1').classList.add('active');
            } else if (url.includes('/abanAdoptInfo')) {
                document.getElementById('btn2').classList.add('active');
            } else if (url.includes('/abanPickupInfo')) {
                document.getElementById('btn3').classList.add('active');
            } else {
                document.getElementById('btn0').classList.add('active');
            }
        });

        $(document).ready(function () {
            let replaceChar = /[~!@\#$%^&*()\-=_';<>\/.\`:\"\\,\[\]?|{}]/gi;
            const searchTextInput = $(".searchText");
            const searchValueInput = document.getElementById("searchValueInputCenter");

            searchTextInput.on("focusout keyup", function () {
                let x = $(this).val();
                if (x.length > 0) {
                    x = x.replace(replaceChar, "");
                }
                $(this).val(x);

            });

        });

        </script>
</th:block>
</html>