<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/boardLayout}">
<head>
    <title>자랑갤러리</title>
</head>

<th:block layout:fragment="content">
    <div class="board-banner">
        <h3>자랑갤러리</h3>
        <div>
            <img th:src="@{/images/board-banner-image.png}" class="board-banner-image" alt="walking-with-a-dog-image">
        </div>
    </div>

    <div class="board-container container">
        <div class="board-searchBar">
            <div class="board-category-container">
                <div class="board-category">
                    <button onclick="navigateToBoastPage0()" class="category-button" id="btn0">전체</button>
                </div>
            </div>
            <form id="searchForm" th:action="@{/board/boastBoard}" method="get">
                <input type="hidden" name="currentPage" value="1">
                <div class="search-buttons">
                    <div class="head-title-category">
                        <select name="searchCondition" id="searchCondition">
                            <option value="postTitle">제목</option>
                            <option value="postContent">내용</option>
                            <option value="postTitleContent">제목 + 내용</option>
                            <option value="postWriter">작성자</option>
                        </select>
                    </div>

                    <div class="search-by-text">
                        <img th:src="@{/images/reading-glasses.png}" alt="readingGlasses" id="readingGlassesImage">
                        <input type="search" name="searchValue" id="searchValueInputBoast" class="searchText">
                    </div>
                    <div class="submit-button">
                        <button type="submit" id="searchButton" class="searchButton">검색</button>
                    </div>
                </div>
            </form>
        </div>
        <div th:if="${#lists.isEmpty(boardList)}" class="search-empty">
            <p>검색 결과가 없습니다... 😢</p>
        </div>
        <div class="boast-list">
            <div class="boast-postList" th:each="board : ${ boardList }">
                <div class="boast-img-box">
                            <th:block th:if="${ board.attachThumbAddr != null }">
                                <img class="boast-content-img" th:src="@{|/thumbPath${board.attachThumbAddr}|}"/>
                            </th:block>
                    </div>
                    <div class="boast-detail-box">
                        <div class="boast-detail-title">
                            <div class="boast-detail-title1">
                                <h6>No.</h6>
                                <h6 class="boast-postNo" th:text="${board.postCode}"></h6>
                                <h6 class="boast-postTitle" th:text="${board.postTitle}"></h6>
                            </div>
                        </div>
                            <div class="boast-detail-title2">
                                <h6 class="boast-postCount-name">조회수</h6>
                                <h6 class="boast-postCount" th:text="${board.postCount}"></h6>
                            </div>
                        <div>
                            <img class="boast-post-icon" th:src="@{/images/writer.png}">
                            <h6 class="boast-postUser" th:text="${board.refPostWriter.memId}"></h6>
                        </div>
                        <div>
                            <img class="boast-post-icon" th:src="@{/images/date.png}">
                            <h6 class="boast-postDate" th:text="${board.postDate}"></h6>
                        </div>
                    </div>
                </div>
            </div>

        <div class="board-write">
            <a th:href="@{/board/boastBoardWrite}" id="board-write-button" alt="글쓰기">
                <div class="board-write-text">
                    <div>글쓰기</div>
                </div>
            </a>
        </div>

        <div class="board-paging-button">
            <button th:if="${selectCriteria.startPage > 0}"
                    th:onclick="'location.href=\'/board/boastBoard?currentPage=1' + '&searchCondition=' + @{${selectCriteria.searchCondition}} + '&searchValue=' + @{${selectCriteria.searchValue}}+'\''"
                    th:disabled="${selectCriteria.pageNo == 1}"
            >
                <<
            </button>
            <button
                    th:onclick="'location.href=\'/board/boastBoard?currentPage='+ @{${selectCriteria.startPage - 1}} + '&searchCondition=' + @{${selectCriteria.searchCondition}} + '&searchValue=' + @{${selectCriteria.searchValue}}+'\''"
                    th:disabled="${selectCriteria.pageNo < 6}"
            >
                <
            </button>
            <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
                <button
                        th:text="${ page }"
                        th:onclick="'location.href=\'/board/boastBoard?currentPage=' + @{${page}} + '&searchCondition=' + @{${selectCriteria.searchCondition}} + '&searchValue=' + @{${selectCriteria.searchValue}}+'\''"
                        th:disabled="${ selectCriteria.pageNo eq page }"
                        th:classappend="${selectCriteria.pageNo == page} ? 'current-page' : ''">
                </button>
            </th:block>
            <button
                    th:onclick="'location.href=\'/board/boastBoard?currentPage='+ @{${selectCriteria.endPage + 1}} + '&searchCondition=' + @{${selectCriteria.searchCondition}} + '&searchValue=' + @{${selectCriteria.searchValue}}+'\''"
                    th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage or selectCriteria.maxPage - selectCriteria.pageNo < 4 }"
            >
                >
            </button>
            <button
                    th:onclick="'location.href=\'/board/boastBoard?currentPage='+ @{${selectCriteria.maxPage}} + '&searchCondition=' + @{${selectCriteria.searchCondition}} + '&searchValue=' + @{${selectCriteria.searchValue}}+'\''"
                    th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"
            >
                >>
            </button>
        </div>
    </div>
    <div class="whiteSpace">
        <div class="logoInPage"></div>
    </div>
    <script th:inline="javascript">

        let message = '[[${message}]]';

        if(message != null && message !== 'null') {
            alert(message);
        }

        if (document.querySelectorAll(".board-container .boast-postList")) {
            const $tds = document.querySelectorAll(".board-container .boast-postList");
            for (let i = 0; i < $tds.length; i++) {

                $tds[i].onmouseenter = function() {
                    this.style.backgroundColor = "#A6CEF7";
                    this.style.cursor = "pointer";
                    this.style.color = "#FFFFFF";
                }

                $tds[i].onmouseleave = function() {
                    this.style.backgroundColor = "transparent";
                    this.style.color = "#000000";
                }

                $tds[i].onclick = function() {
                    const no = this.children[1].children[0].children[0].children[1].innerText;
                    location.href = "/board/boastBoardSelect?no=" + no;
                }
            }
        }

        window.addEventListener('load', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const searchValue = urlParams.get('searchValue');

            const buttons = document.querySelectorAll('.category-button');
            buttons.forEach(button => button.classList.remove('active'));

            if (searchValue === '') {
                }else {
                document.getElementById('btn0').classList.add('active');
            }
        });

        $(document).ready(function () {
            let replaceChar = /[~!@\#$%^&*()\-=_';<>\/.\`:\"\\,\[\]?|{}]/gi;
            const searchTextInput = $(".searchText");
            const searchValueInput = document.getElementById("searchValueInputBoast");

            searchTextInput.on("focusout keyup", function () {
                let x = $(this).val();
                if (x.length > 0) {
                    x = x.replace(replaceChar, "");
                }
                $(this).val(x);

            });

        });

        let currentBoard;

        $(document).ready(function () {
            const url = window.location.href;

            if (url.startsWith("http://localhost:8001/board/boastBoard")) {
                currentBoard = "Boast";
            } else if (url.startsWith("http://localhost:8001/board/freeBoard")) {
                currentBoard = "Free";
            } else if (url.startsWith("http://localhost:8001/board/annoBoard")) {
                currentBoard = "Anno";
            } else if (url.startsWith("http://localhost:8001/board/abanBoardCenter")) {
                currentBoard = "Center";
            }

            const searchTextInput = $(`#searchValueInput${currentBoard}`);

            console.log("searchTextInput name : " + searchTextInput);

            // 저장된 검색어가 있으면 복원
            const savedSearchValue = localStorage.getItem(currentBoard + "searchValue");
            if (savedSearchValue) {
                searchTextInput.val(savedSearchValue);
            }
            console.log("Current Board:", currentBoard);
            console.log("Saved Search Value:", savedSearchValue);
        });

        $("#searchForm").submit(function () {
            const searchTextInput = $(`#searchValueInput${currentBoard}`);
            const searchValue = searchTextInput.val();
            const url = window.location.href;

            if (searchValue.trim() === "") {
                const url = new URL(window.location.href);
                url.searchParams.delete("searchValue");
                localStorage.removeItem(currentBoard + "searchValue"); // 여기에서 검색어를 삭제
                window.location.href = url.href;
            } else {
                console.log("Before localStorage:", localStorage.getItem(currentBoard + "searchValue"));
                localStorage.setItem(currentBoard + "searchValue", searchValue.trim());
                console.log("After localStorage:", localStorage.getItem(currentBoard + "searchValue"));
            }
        });


    </script>

</th:block>
</html>