<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/boardLayout}">
<head>
    <title>자유게시판 글 작성</title>
</head>

<th:block layout:fragment="content">
    <div class="board-banner">
        <h3>자유게시판</h3>
        <div>
            <img th:src="@{/images/board-banner-image-2.png}" class="board-banner-image-2" alt="play-with-dog-image">
        </div>
    </div>

    <div class="board-container container">
        <form th:action="@{/board/freeBoardWrite}" id="boardWriteForm" method="post" enctype="multipart/form-data">
            <input
                    type="hidden"
                    id="refPostWriter.memCode"
                    name="refPostWriter.memCode"
                    th:value="${ #authentication.getPrincipal().getMemCode() }"
            >
            <input type="hidden" name="postType" th:value="자유">
        <div class="header-board-write-text">
            <h2>글쓰기</h2>
        </div>
        <div class="board-write-header">
            <div class="category">
                <select name="postSort" id="HeadTitle">
                    <option value="자유">자유</option>
                    <option value="용품">용품</option>
                    <option value="먹거리">먹거리</option>
                    <option value="정보">정보</option>
                </select>
            </div>
            <div class="write-title">
                <input type="text" name="postTitle" id="title" placeholder="제목을 입력해주세요.">
            </div>
            <div class="imageUpload">
                <input type="file" id="thumbnailImg1" name="thumbnailImg1" onchange="loadImg(this,1)">
                <label for="thumbnailImg1" class="label-imageUpload" id="imageUploadButton1">
                    <img class="imgs" th:src="@{/images/imageUpload.png}" alt="이미지업로드">
                </label>
                <input type="file" id="thumbnailImg2" name="thumbnailImg2" onchange="loadImg(this,2)">
                <label for="thumbnailImg2" class="label-imageUpload" id="imageUploadButton2">
                    <img class="imgs" th:src="@{/images/imageUpload.png}" alt="이미지업로드">
                </label>
                <input type="file" id="thumbnailImg3" name="thumbnailImg3" onchange="loadImg(this,3)">
                <label for="thumbnailImg3" class="label-imageUpload" id="imageUploadButton3">
                    <img class="imgs" th:src="@{/images/imageUpload.png}" alt="이미지업로드">
                </label>
                <input type="file" id="thumbnailImg4" name="thumbnailImg4" onchange="loadImg(this,4)">
                <label for="thumbnailImg4" class="label-imageUpload" id="imageUploadButton4">
                    <img class="imgs" th:src="@{/images/imageUpload.png}" alt="이미지업로드">
                </label>
            </div>
        </div>
        <div class="board-write-image">
            <div>
                <img class="write-img" id="titleImg">
                <img class="write-img" id="contentImg1">
            </div>
            <div>
                <img class="write-img" id="contentImg2">
                <img class="write-img" id="contentImg3">
            </div>
        </div>
        <div class="board-write-content">
            <textarea name="postContent" id="postContent" cols="30" rows="10" oninput="autoResizeWrite(this)"></textarea>
        </div>
        <div class="board-write-buttons">
            <div class="write-button">
                <button type="submit" id="postSubmit">작성완료</button>
            </div>
            <div class="write-cancel">
                <a th:href="@{/board/freeBoard}">취소</a>
            </div>
        </div>
        </form>
    </div>
    <div class="whiteSpace">
        <div class="logoInPage"></div>
    </div>
</th:block>
</html>