<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8">
    <title>로그인</title>


    <!--meta-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="le=edge">

      
      <!--bootstrap-->
      <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
      

      <!--css-->
      <link rel="stylesheet" th:href="@{/css/index.css}"/>
      <link rel="stylesheet" th:href="@{/css/sanitize.css}"/>
      <link rel="stylesheet" th:href="@{/css/login.css}"/>
      
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
      <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

      <!--js-->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


    <!--favicon--->
      <link th:href="@{favicon.ico}" rel="icon"/>
      <link th:href="@{favicon.ico}" rel="apple-touch-icon"/>
  </head>
  <body>
        <div th:insert="/component/header"></div>
        <section id="login">
          <div class="logintWrap container">


            <h5 class="loginTitle">뭐든 다알개</h5>
            <div class="loginContents">

              

              <form class="loginForm" th:action="@{/login/login}" method="post">
                <div class="loginFormWrap">
                    <input type="text" name="username" id="username" class="username" placeholder="아이디"/>
                    <input type="password" name="password" id="password" class="password" placeholder="비밀번호"/>
                    <input type="submit" name="loginBtn" id="loginBtn" value="로그인" />
                </div>
              </form>


            </div>


            <div class="loginFormOther">
                <input type="button" name="OtherRegist" class="OtherRegist" value="회원가입" onclick="location.href='/regist/regist'">
                <input type="button" name="OtherFindId" class="OtherFindId" value="아이디 찾기" onclick="location.href='/login/loginFindId'">
                <input type="button" name="OtherPwd" id="OtherPwd" class="OtherPwd" value="비밀번호 찾기" onclick="location.href='/login/loginFindPwd'">
            </div>



            <div class="loginBottomInfo">
                <div class="loginBottomInfoWrap">
                    <div class="termsofUse">이용약관</div>
                    <div class="privacyPolicy">개인정보처리방침</div>
                    <div class="inquiry">문의 메일</div>
                </div>

                <div class="copyRight">
                    뭐든다알개 Copyright&copy; 뭐든다알개 Corp.All Rights Reserved.
                </div>
            </div>
          </div>
        </section>

        <div th:insert="/component/footer"></div>
  </body>


 