<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/loginLayout.html}">
  <head>
    <meta charset="utf-8">
    <title>비밀번호찾기</title>

  </head>
  <th:block layout:fragment="content">
        <section id="FindPwd">
          <div class="FindPwdWrap container">

            <div class="FindPwdContents clearfix">

              <h5 class="FindPwdTitle">뭐든 다알개</h5>

              <form class="PutInfoFormforPwdForm" th:action="@{/login/loginFindPwd}" method="post" onsubmit="return findPassCheck()">
                <h5 class="PutInfoFormforPwdTitle">비밀번호 찾기</h5>
                <p>가입시 등록한 아이디와 이메일 주소를 입력해주세요.</p>
                <input type="text" name="memId" id="putId" placeholder="아이디"/>
                <input type="text" name="memEmail" id="putEmailAddress" placeholder="이메일"/>
                <input type="submit" name="AuthBtn" id="AuthBtn" value="인증번호 받기"/>
              </form>
            </div>
          </div>
        </section>

    <script th:inline="javascript">
      function findPassCheck() {
        let idRegExp = /^[a-z0-9]{5,20}$/;
        let emailRegExp = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9-]+[.][A-Za-z]{2,6}$/;

        let id = $("#putId").val().trim();
        let email = $("#FindPwd #putEmailAddress").val().trim();

        if(!idRegExp.test(id) || id.length == 0){
          alert("아이디를 다시 확인해주세요.");
          return false;
        } else if (!emailRegExp.test(email) || email.length == 0) {
          alert("이메일 형식이 올바르지 않습니다.");
          return false;
        }
        return true;
      }
    </script>
  </th:block>>


</html>