<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{/layouts/loginLayout.html}">

<head>
    <meta charset="utf-8">
    <title>로그인</title>
</head>


    <th:block layout:fragment="content">
        <section id="login">
          <div class="logintWrap container">


            <h5 class="loginTitle">뭐든 다알개</h5>
            <div class="loginContents">


              <form class="loginForm" th:action="@{/login/login}" method="post">
                <div class="loginFormWrap">
                    <input type="text" name="username" id="username" class="username" placeholder="아이디" required/>
                    <input type="password" name="password" id="password" class="password" placeholder="비밀번호" required/>
                    <input type="submit" name="loginBtn" id="loginBtn" value="로그인" />
                </div>
              </form>


            </div>


            <div class="loginFormOther">
                <input type="button" name="OtherRegist" class="OtherRegist" value="회원가입" th:onclick="|location.href='@{/regist/agreeTerms}'|">
                <input type="button" name="OtherFindId" class="OtherFindId" value="아이디 찾기" th:onclick="|location.href='@{/login/loginFindId}'|">
                <input type="button" name="OtherPwd" id="OtherPwd" class="OtherPwd" value="비밀번호 찾기" th:onclick="|location.href='@{/login/loginFindPwd}'|">
            </div>


            <div class="loginBottomInfo">
                <div class="loginBottomInfoWrap">
                    <div class="termsofUse">이용약관</div>
                    <div class="privacyPolicy">개인정보처리방침</div>
                    <div class="inquiry">문의 메일</div>
                </div>

                <div class="copyRight">
                    뭐든다알개 Copyright&copy; 뭐든다알개 Corp.All Rights Reserved.
                </div>
            </div>
          </div>
        </section>
    </th:block>

</html>