<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/loginLayout.html}">
  <head>
    <meta charset="utf-8">
    <title>아이디찾기</title>

  </head>

  <th:block layout:fragment="content">
        <section id="FindId">
          <div class="FindIdWrap container">

            <div class="FindIdContents clearfix">

              <h5 class="FindIdTitle">뭐든 다알개</h5>

              <form class="PutemailAdressForm" th:action="@{/login/loginFindId}" method="post">
                <h5 class="PutemailAdressTitle">아이디 찾기</h5>
                <p>가입시 등록한 이메일 주소와 이름을 입력해주세요.</p>
                <input type="text" name="memEmail" id="putEmailAddress" placeholder="이메일"/>
                <input type="text" name="memName" id="putName" placeholder="이름"/>
                <input type="submit" name="AuthBtn" id="AuthBtn" value="아이디 찾기"/>
              </form>
            </div>
          </div>
        </section>
  </th:block>


 