<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>결제페이지</title>


    <!--styleSheet-->
    <link rel="stylesheet" type="text/css" href="/payment_css/css/Payment.css">

    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!--bootstrap-->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--css-->
    <!--  주석 처리 되어있는 경로는 절대 경로 이며, ../ 으로 되어있는것은 상대 경로이다.
          절대 경로 이용할 경우 NotFound 으로 파일을 찾을수 없음 -->
    <!--<link rel="stylesheet" href="/css/index.css">-->
    <link rel="stylesheet" href="../css/index.css">
    <!--<link rel="stylesheet" href="/css/mobile.css">-->
    <link rel="stylesheet" href="../css/mobile.css">
    <!--<link rel="stylesheet" href="/css/sanitize.css">-->
    <link rel="stylesheet" href="../css/sanitize.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function() {
            $("#headers").load("../Component/header.html");
            $('#headers').css("position", "fixed");
            $('#headers').css("width", "100%");
            $('#headers').css("z-index", "5");
            $("#footers").load("../Component/footer.html");
            $('#footers').css("z-index", "5");
        });
    </script>


    <!--favicon--->
    <!--  주석처리 된 것은 절대 경로 이며, ../ 으로 경로 설정되어있는것은 상대 경로 입니다.-->
    <!--<link href="/favicon.ico" rel="icon">-->
    <link href="../favicon.ico" rel="icon"/>
    <!--<link href="/favicon.ico" rel="apple-touch-icon">-->
    <link href="../favicon.ico" rel="apple-touch-icon">

    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <!--thymeleaf-->
    <script th:src="@{/js/iampoet.payment-1.1.5.js}" type="text/javascript"></script>
</head>
<body>
<div id="headers"></div>
<div id="webtoonBg">
    <img class="mainImg" src="../webtoon/images/mianImg.png" alt="메인일러스트">
    <h3>구매하기</h3>
</div>
<br/><br/><br/>
<div class="container">
    <div class="paymentText1">개껌이 부족해요.</div>
</div>
<div class="container">
    <div class="webtoonBox1">
        <img src="../webtoon/images/doggum.png" alt="개껌이미지">
        <div class="webtonntext1">현재 보유한 개껌</div>
        <div class="webtoonText2">60개</div>
    </div>
</div>
<div id="payment1" class="container">
    <div class="paymentBox1"><img class="paymentImg1" src="../webtoon/images/doggum.png" alt="개껌이미지">
        <div class="paymentText2"> 개껌 10개</div>
    </div>
    <button class="paymentBox2" onclick="location.href=''">
        <div class="paymentText3">1,100원</div>
    </button>
</div>
<hr id="paymentLine1" class="container">

<div id="payment2" class="container">
    <div class="paymentBox1"><img class="paymentImg1" src="../webtoon/images/doggum.png" alt="개껌이미지">
        <span class="paymentText2"> 개껌 20개</span></div>
    <div class="paymentBox2"><span class="paymentText3">2,200원</span>
    </div>
</div>
<hr id="paymentLine2" class="container">

<div id="payment3" class="container">
    <div class="paymentBox1"><img class="paymentImg1" src="../webtoon/images/doggum.png" alt="개껌이미지">
        <span class="paymentText2"> 개껌 50개</span></div>
    <form method="post" action="/Checkout">
        <button class="paymentBox2">
            <div class="paymentText3">5,500원</div>
        </button>
    </form>
</div>
</div>
<hr id="paymentLine3" class="container">

<div id="payment4" class="container">
    <div class="paymentBox1"><img class="paymentImg1" src="../webtoon/images/doggum.png" alt="개껌이미지">
        <span class="paymentText2"> 개껌 100개</span></div>
    <div class="paymentBox2"><span class="paymentText3">11,000원</span>
    </div>
</div>
<hr id="paymentLine4" class="container">

<div id="payment5" class="container">
    <div class="paymentBox1"><img class="paymentImg1" src="../webtoon/images/doggum.png" alt="개껌이미지">
        <span class="paymentText2"> 개껌 300개</span></div>
    <div class="paymentBox2"><span class="paymentText3">33,000원</span>
    </div>
</div>
<hr id="paymentLine5" class="container">

<div class="whiteSpace"></div>

<div id="footers"></div>
</body>

</html>