<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>text</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<h1>결제 API테스트 입니다.</h1>

<button id="kakaoPay">결제하기</button>
<script>
    document.getElementById("kakaoPay").addEventListener("click", function () {
            $.ajax({
                method: "POST",
                url: "https://kapi.kakao.com/v1/payment/ready",
                data: {
                    cid: "TC0ONETIME",
                    partner_order_id: "partner_order_id",
                    partner_user_id: "partner_user_id",
                    item_name: "개껌 10개",
                    quantity: 1,
                    total_amount: 1100,
                    tax_free_amount : 0,
                    approval_url: "http://localhost:8001",
                    fail_url: "http://localhost:8001",
                    cancel_url: "http://localhost:8001"
                },
                headers: {
                    Authorization: "KakaoAK 5721bf5ed6c90b0c31cc8760364d89c1"
                }
            })
                .done(function (msg) {
                    alert("Data Saved : " + msg);
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    alert("요청 실패 : " + textStatus + " - " + errorThrown);
                    console.log(jqXHR);
                });
    });
</script>
</body>
</html>