<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>결제내역</title>

    <!--styleSheet-->
    <link rel="stylesheet" th:href="@{/css/payment.css}">

    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!--bootstrap-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!--css-->
    <!--<link rel="stylesheet" href="/css/index.css">-->
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <!--<link rel="stylesheet" href="/css/mobile.css">-->
    <link rel="stylesheet" th:href="@{/css/mobile.css}">
    <!--<link rel="stylesheet" href="/css/sanitize.css">-->
    <link rel="stylesheet" th:href="@{/css/sanitize.css}">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script type="text/javascript" th:src="@{/js/header.js}"></script>


    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
    <script type="text/javascript" th:src="@{/js/tour.js}"></script>

    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

</head>
<body>
<div id="headers">
    <th:block th:include="component/header.html"></th:block>
</div>
<div class="paymentBg">
    <h3>결제내역</h3>
</div>

<div>
    <div class="container">
        <div class="purchase1">
            <div class="purchase2">
                <div class="payment201">
                    <img th:src="@{/images/denggum.png}" alt="개껌이미지">
                    <span class="payment202">현재 보유한 개껌</span>
                    <span class="payment203" th:text="${member}"></span><span class="payment203"> 개</span>
                </div>
                <div class="purchaseContent1">
                    <form action="/payment/payments" method="post">
                        <button class="purchaseText1">충전하기</button>
                    </form>
                    <div class="purchaseText2">구매취소</div>
                </div>
            </div>
        </div>
        <div class="line">
            <hr id="line1">
        </div>

        <br><br><br><br>

        <div class="purchaseBox1">
            <div class="purchaseBox1-1">
                <div class="purchaseBox1-2">23.09.05</div>
                <br>
                <div class="purchaseBox1-3">오늘도 댕댕하게</div>
                <div class="purchaseBox1-4">1화. 댕댕댕! 귀여운강아지!</div>
                <hr class="purchaseLine1">
                <div class="purchaseBox1-7">
                    <div class="purchaseBox1-5">구매 &nbsp; &nbsp;</div>
                    <div class="purchaseBox1-6">개껌10개</div>
                </div>
            </div>
        </div>

        <br><br><br><br><br>

        <div class="purchaseBox1">
            <div class="purchaseBox1-1">
                <div class="purchaseBox1-2">23.09.05</div>
                <br>
                <div class="purchaseBox1-3">오늘도 댕댕하게</div>
                <div class="purchaseBox1-4">1화. 댕댕댕! 귀여운강아지!</div>
                <hr class="purchaseLine1">
                <div class="purchaseBox1-7">
                    <div class="purchaseBox1-5">구매 &nbsp; &nbsp;</div>
                    <div class="purchaseBox1-6">개껌 10개</div>
                </div>
            </div>
        </div>
    </div>

<br><br><br><br><br><br><br><br>

<table>
    <thead>
    <tr>
        <th>결제 일자</th>
        <th>결제 금액</th>
        <th>개껌 사용량</th>
        <th>결제 아이템</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderPays : ${orderPays}">
        <td th:text="${orderPays.getDogGumPayDate()}"></td>
        <td th:text="${orderPays.getDogGumPay()}"></td>
        <td th:text="${orderPays.getMemDogGum()}"></td>
        <td th:text="${orderPays.getDogItemName()}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
