<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>댕댕정보툰</title>

    <link rel="stylesheet" th:href="@{/css/webtoon.css}">
    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!--bootstrap-->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--css-->
    <!--  주석 처리 되어있는 경로는 절대 경로 이며, ../ 으로 되어있는것은 상대 경로이다.
          절대 경로 이용할 경우 NotFound 으로 파일을 찾을수 없음 -->
    <!--<link rel="stylesheet" href="/css/index.css">-->
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <!--<link rel="stylesheet" href="/css/mobile.css">-->
    <link rel="stylesheet" th:href="@{/css/mobile.css}">
    <!--<link rel="stylesheet" href="/css/sanitize.css">-->
    <link rel="stylesheet" th:href="@{/css/sanitize.css}">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--js-->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script th:src="@{/js/purchase.js}"></script>


    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">

</head>

<body>
<div id="headers">
    <th:block th:include="component/header.html"></th:block>
</div>
<div class="webtoonBg">
    <h3>오늘도 댕댕하개!</h3>
</div>
<div class="container">
    <div class="webtoonBox1">
        <img th:src="@{/images/denggum.png}" alt="개껌이미지">
        <span class="webtoontext1">현재 보유한 개껌&nbsp;</span>
        <span class="webtoonText2" th:text="${member}"></span><span class="webtoonText2">개</span>
    </div>
    <div class="webtoonPage1">
        <img class="webtoonImg1" th:src="@{/images/exampleImg.png}">
        <div class="webtoonBox3">
            <div class="webtoonBox3">
                <div class="webtoonText3">23.09.05</div>
                <div class="webtoonText4">오늘도 댕댕하개</div>
                <div class="webtonnText5">4화. 댕댕댕! 귀여운 강아지!</div>
            </div>
            <div class="webtoonBox4">
                <div class="webtoonText6">구매 &nbsp;</div>
                <div class="webtoonText7">개껌 2 개</div>
            </div>
        </div>
        <div class="webtoonBox5">
            <form>
                <input id="memberValue" th:value="${member}" type="hidden">
            <button id="button4" class="webtoonText9" type="submit">구매하기</button>
            </form>
            <form action="/payment/payments" method="post">
                <button id="payButton3" class="webtoonText8">충전하기</button>
            </form>
        </div>
    </div>

    <div class="webtoonPage1">
        <img class="webtoonImg1" th:src="@{/images/exampleImg.png}">
        <div class="webtoonBox3">
            <div class="webtoonBox3">
                <div class="webtoonText3">23.09.05</div>
                <div class="webtoonText4">오늘도 댕댕하개</div>
                <div class="webtonnText5">3화. 댕댕댕! 귀여운 강아지!</div>
            </div>
            <div class="webtoonBox4">
                <div class="webtoonText6">구매 &nbsp;</div>
                <div class="webtoonText7">개껌 2 개</div>
            </div>
        </div>
        <div class="webtoonBox5">
            <form>
                <input id="memberValue2" th:value="${member}" type="hidden">
            <button id="button3" class="webtoonText9" type="submit" >구매하기</button>
            </form>
            <form action="/payment/payments" method="post">
                <button id="payButton2" class="webtoonText8">충전하기</button>
            </form>
        </div>
    </div>

    <div class="webtoonPage1">
        <img class="webtoonImg1" th:src="@{/images/exampleImg.png}">
        <div class="webtoonBox3">
            <div class="webtoonBox3">
                <div class="webtoonText3">23.09.05</div>
                <div class="webtoonText4">오늘도 댕댕하개</div>
                <div class="webtonnText5">2화. 댕댕댕! 귀여운 강아지!</div>
            </div>
            <div class="webtoonBox4">
                <div class="webtoonText6">구매 &nbsp;</div>
                <div class="webtoonText7">개껌 2 개</div>
            </div>
        </div>
        <div class="webtoonBox5">
            <form onsubmit="return buyGum()">
                <input id="memberValue1" th:value="${member}" type="hidden">
                <button id="button5" class="webtoonText9" type="submit">구매하기</button>
            </form>
            <form action="/payment/payments" method="post">
                <button id="payButton1" class="webtoonText8">충전하기</button>
            </form>
        </div>
    </div>

    <div class="webtoonPage1">
        <img class="webtoonImg1" th:src="@{/images/exampleImg.png}">
        <div class="webtoonBox3">
            <div class="webtoonBox3">
                <div class="webtoonText3">23.09.05</div>
                <div class="webtoonText4">오늘도 댕댕하개</div>
                <div class="webtonnText5">1화. 댕댕댕! 귀여운 강아지!</div>
            </div>
            <div class="webtoonBox4">
            </div>
        </div>
        <div class="webtoonBox5">
            <button id="button1" class="webtoonText9" onclick="location.href='webtoonDetail'">무료보기</button>
        </div>
    </div>

</div>

<br><br><Br><br><br><br><Br><br><br><br><Br><br>
<div id="footers"></div>
<div>
    <th:block th:include="component/footer.html"></th:block>
</div>
</body>
</html>
