<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head id="header≤">
    <meta charset="UTF-8">

    <title>댕댕정보툰</title>
    <link rel="stylesheet" type="text/css" href="css/webtoonStylesheet.css">
    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!--bootstrap-->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--css-->
    <!--  주석 처리 되어있는 경로는 절대 경로 이며, ../ 으로 되어있는것은 상대 경로이다.
          절대 경로 이용할 경우 NotFound 으로 파일을 찾을수 없음 -->
    <!--<link rel="stylesheet" href="/css/index.css">-->
    <link rel="stylesheet" href="../css/index.css">
    <!--<link rel="stylesheet" href="/css/mobile.css">-->
    <link rel="stylesheet" href="../css/mobile.css">
    <!--<link rel="stylesheet" href="/css/sanitize.css">-->
    <link rel="stylesheet" href="../css/sanitize.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


    <!--favicon--->
    <!--  주석처리 된 것은 절대 경로 이며, ../ 으로 경로 설정되어있는것은 상대 경로 입니다.-->
    <!--<link href="/favicon.ico" rel="icon">-->
    <link href="../favicon.ico" rel="icon"/>
    <!--<link href="/favicon.ico" rel="apple-touch-icon">-->
    <link href="../favicon.ico" rel="apple-touch-icon">

</head>
<body>
<div id="webtoonBg">
    <img class="mainImg" src="images/mianImg.png" alt="메인일러스트">
    <h3>오늘도 댕댕하개</h3>
</div>
<div class="container">
    <div class="webtoonBox1">
        <img src="../webtoon/images/doggum.png" alt="개껌이미지">
        <div class="webtonntext1">현재 보유한 개껌</div>
        <div class="webtoonText2">60개</div>
    </div>
    <div class="webtoonPage1">
        <img class="webtoonImg1" src="../webtoon/images/exampleImg.png">
        <div class="webtoonBox3">
            <div class="webtoonBox3">
                <div class="webtoonText3">23.09.05</div>
                <div class="webtoonText4">오늘도 댕댕하개</div>
                <div class="webtonnText5">4화. 댕댕댕! 귀여운 강아지!</div>
            </div>
            <div class="webtoonBox4">
                <div class="webtoonText6">구매 &nbsp;</div>
                <div class="webtoonText7">개껌 2 개</div>
            </div>
        </div>
        <div class="webtoonBox5">
            <button id="button4" class="webtoonText9">구매하기</button>
            <button id="payButton3" class="webtoonText8">충전하기</button>
        </div>
    </div>

    <div class="webtoonPage1">
        <img class="webtoonImg1" src="../webtoon/images/exampleImg.png">
        <div class="webtoonBox3">
            <div class="webtoonBox3">
                <div class="webtoonText3">23.09.05</div>
                <div class="webtoonText4">오늘도 댕댕하개</div>
                <div class="webtonnText5">3화. 댕댕댕! 귀여운 강아지!</div>
            </div>
            <div class="webtoonBox4">
                <div class="webtoonText6">구매 &nbsp;</div>
                <div class="webtoonText7">개껌 2 개</div>
            </div>
        </div>
        <div class="webtoonBox5">
            <button id="button3" class="webtoonText9">구매하기</button>
            <button id="payButton2" class="webtoonText8">충전하기</button>
        </div>
    </div>

    <div class="webtoonPage1">
        <img class="webtoonImg1" src="../webtoon/images/exampleImg.png">
        <div class="webtoonBox3">
            <div class="webtoonBox3">
                <div class="webtoonText3">23.09.05</div>
                <div class="webtoonText4">오늘도 댕댕하개</div>
                <div class="webtonnText5">2화. 댕댕댕! 귀여운 강아지!</div>
            </div>
            <div class="webtoonBox4">
                <div class="webtoonText6">구매 &nbsp;</div>
                <div class="webtoonText7">개껌 2 개</div>
            </div>
        </div>
        <div class="webtoonBox5">
            <button id="button2" class="webtoonText9">구매하기</button>
            <button id="payButton1" class="webtoonText8">충전하기</button>
        </div>
    </div>

    <div class="webtoonPage1">
        <img class="webtoonImg1" src="../webtoon/images/exampleImg.png">
        <div class="webtoonBox3">
            <div class="webtoonBox3">
                <div class="webtoonText3">23.09.05</div>
                <div class="webtoonText4">오늘도 댕댕하개</div>
                <div class="webtonnText5">1화. 댕댕댕! 귀여운 강아지!</div>
            </div>
            <div class="webtoonBox4">
                <div class="webtoonText6">구매 &nbsp;</div>
                <div class="webtoonText7">개껌 2 개</div>
            </div>
        </div>
        <div class="webtoonBox5">
            <button id="button1" class="webtoonText9">무료보기</button>
        </div>
    </div>

</div>
<br><br><Br><br><br><br><Br><br><br><br><Br><br>
</body>

</html>
<script src="../webtoon/WbetoonScript.js"></script>

