<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>웹툰</title>

    <link rel="stylesheet" th:href="@{/css/webtoon.css}">
    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!--bootstrap-->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--css-->
    <!--  주석 처리 되어있는 경로는 절대 경로 이며, ../ 으로 되어있는것은 상대 경로이다.
          절대 경로 이용할 경우 NotFound 으로 파일을 찾을수 없음 -->
    <!--<link rel="stylesheet" href="/css/index.css">-->
    <link rel="stylesheet" href="../css/index.css">
    <!--<link rel="stylesheet" href="/css/mobile.css">-->
    <link rel="stylesheet" href="../css/mobile.css">
    <!--<link rel="stylesheet" href="/css/sanitize.css">-->
    <link rel="stylesheet" href="../css/sanitize.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
    <script type="text/javascript" th:src="@{/js/tour.js}"></script>

</head>
<body>
<div id="headers">
    <th:block th:include="component/header.html"></th:block>
</div>
    <div class="webtoonBg">
        <h3>오늘도 댕댕하개!</h3>
    </div>
<div class="container">
    <div class="webtoonBox1">
        <img th:src="@{/images/denggum.png}" alt="개껌이미지">
        <div class="webtoontext1">현재 보유한 개껌</div>
        <div class="webtoonText2">60개</div>
    </div>
</div>
<br/><br/><br/>
<div id="detailBox" class="container">
    <div class="detailContent">
        <div class="detailText1">휍툰1</div>
    </div>
    <br/>
    <div class="detailContent">
        <div>휍툰2</div>
    </div>
    <br/>
    <div class="detailContent">
        <div>휍툰3</div>
    </div>
    <br>
</div>
<br/><br/><br/><Br/>
<div>
    <th:block th:include="component/footer.html"></th:block>
</div>
</body>

</html>
