<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>


    <!--meta-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="le=edge">

      
      <!--bootstrap-->
      <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
      

      <!--css-->
      <link rel="stylesheet" href="../css/index.css">
      <link rel="stylesheet" href="./css/mobile.css">
      <link rel="stylesheet" href="../css/sanitize.css">
      <link rel="stylesheet" href="css/registEmailAuth.css">
      
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

      <!--js-->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

      
    <!--favicon--->
      <link href="favicon.ico" rel="icon">
      <link href="favicon.ico" rel="apple-touch-icon">
  </head>
  <body>
        <section id="registemailAuth">
          <div class="registemailAuthWrap container">

            <div class="registemailAuthContents clearfix">

              <h5 class="registemailAuthTitle">뭐든 다알개</h5>

              <form class="registemailAuthForm" action="" method="post">

                <div class="putAuthNumWrap">
                    <input type="text" name="putAuthNum" id="putAuthNum" placeholder="인증번호를 입력해주세요."/>
                    <div class="authTime">남은 시간 : <span class="timeRemain">2 : 44</span></div>
                </div>
                <input type="submit" name="reSendAutNum" id="reSendAutNum" value="인증번호 재전송"/>
                <input type="submit" name="AuthComplete" id="AuthComplete" value="인증확인"/>
              </form>

            </div>
          </div>
        </section>
  </body>


 