<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/registLayout.html}">
  <head>
    <meta charset="utf-8">
    <title>이메일인증</title>



  </head>
  <th:block layout:fragment="content">
        <section id="registemailAuthFail">
          <div class="registemailAuthFailWrap container">

            <div class="registemailAuthFailContents clearfix">

              <h5 class="registemailAuthFailTitle">뭐든 다알개</h5>

              <form class="registemailAuthFailForm" action="" method="post">

                <div class="putAuthNumWrap">
                    <input type="text" name="putAuthNum" id="putAuthNum" placeholder="인증번호를 입력해주세요."/>
                    <div class="authTime">남은 시간 : <span class="timeRemain">2 : 44</span></div>
                    <div class="authNumNotFound">잘못된 인증번호입니다. 다시 입력해주세요.</div>
                </div>
                <input type="submit" name="reSendAutNum" id="reSendAutNum" value="인증번호 재전송"/>
                <input type="submit" name="AuthComplete" id="AuthComplete" value="인증확인"/>
              </form>

            </div>
          </div>
        </section>
  </th:block>

</html>

 