<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/registLayout.html}">
  <head>
    <meta charset="utf-8">
    <title>이메일인증</title>

    <script type="text/javascript">
      function sendNumber(){
        $("#mail_number").css("display","block");
        $.ajax({
          url:"/mail",
          type:"post",
          dataType:"json",
          data:{"mail" : $("#mail").val()},
          success: function(data){
            alert("인증번호 발송");
            $("#Confirm").attr("value",data);
          }
        })
      };



      function confirmNumber(){
        var number1 = $("#reSendAutNum").val();
        var number2 = $("#AuthComplete").val();

        if(number1 == number2){
          alert("인증되었습니다.");
        }else{
          alert("번호가 다릅니다.");
        }
      }
    </script>

  </head>
  <th:block layout:fragment="content">
        <section id="registemailAuth">
          <div class="registemailAuthWrap container">

            <div class="registemailAuthContents clearfix">

              <h5 class="registemailAuthTitle">뭐든 다알개</h5>

              <form class="registemailAuthForm" th:action="@{/regist/registEmailAuth}" method="post">

                <div class="putAuthNumWrap">
                    <input type="text" name="putAuthNum" id="putAuthNum" placeholder="인증번호를 입력해주세요."/>
                    <div class="authTime">남은 시간 : <span class="timeRemain">2 : 44</span></div>
                </div>
                <input type="submit" name="reSendAutNum" id="reSendAutNum" value="인증번호 재전송"/>
                <input type="submit" name="AuthComplete" id="AuthComplete" value="인증확인"/>
              </form>

            </div>
          </div>
        </section>
  </th:block>

</html>


 