<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/registLayout.html}">
  <head>
    <meta charset="utf-8">
    <title>회원가입</title>


  </head>
  <th:block layout:fragment="content">
        <section id="regist">
          <div class="registWrap container">

            <div class="registContents">

              <h5 class="registTitle">뭐든 다알개</h5>

              <form class="registForm" action="" method="post">
                
                <label id="realNameId">
                    <input type="checkbox" name="realName" value="실명 인증된 아이디로 가입" id="realName" required/>
                    <div class="showCheckbox"></div>
                    <span>실명 인증된 아이디로 가입</span>
                </label>
                <input type="text" name="username" id="username" placeholder="아이디" required/>
                <input type="password" name="password" id="password" placeholder="비밀번호" required/>
                <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="비밀번호 재확인" required/>
                <input type="text" name="putEmailAddress" id="putEmailAddress" placeholder="이메일" required/>
                <div class="cantUseId">
                    사용할 수 없는 아이디입니다. 다시 입력해주세요.
                </div>
                <input type="text" name="nameUser" id="nameUser" placeholder="이름" required/>
                <label id="birthday">
                    <div class="birthTitle"><span><img src="../regist/images/birth.png" alt="birth"></span> 생년월일</div>
                    <input type="date" name="birth" class="birthday" value="생년월일" required/>
                </label>
                <div class="addressBox">
                    <input type="text" name="address" id="address" placeholder="주소지" required/>
                    <div class="searchAddress">주소 검색</div>
                </div>
                <label id="termCheck" onclick="location.href='agreeTerms.html'">
                    <input type="checkbox" name="termsCheck" id="termsCheck" value="인증 약관 전체동의" required/>
                    <div class="showCheckbox"></div>
                    <span class="agreeAll1"><span class="agreeAll2">&nbsp;[필수]</span>&nbsp;인증 약관 전체동의</span>
                </label>
                <input type="submit" name="AuthBtn" id="AuthBtn" value="인증요청" required/>
              </form>
            </div>
          </div>
        </section>
  </th:block>

</html>
 