<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/registLayout.html}">
  <head>
    <meta charset="utf-8">
    <title>회원가입</title>
  </head>




  <th:block layout:fragment="content">



        <section id="regist">
          <div class="registWrap container">

            <div class="registContents">

              <h5 class="registTitle">뭐든 다알개</h5>

              <form class="registForm" th:action="@{/regist/regist}" method="post">


                <input type="text" name="username" id="username" placeholder="아이디 8~20자의 영문 소문자와 숫자를 사용하세요." required/>
                  <div id="idCheckMsg" class="validmsg" value="N"></div>
                  <input type="button" value="중복확인" class="btn btn-bs" id="duplicationCheck">

                <input type="password" name="password" id="password" placeholder="비밀번호 8~20자의 영문 대소문자+숫자+특수문자를 사용하세요." required/>
                  <div id="passCheckMsg" class="validmsg" value="N"></div>
                  <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="비밀번호 재확인" required/>
                  <div id="passCheckMsg2" class="validmsg" value="N"></div>


                  <input type="text" name="putEmailAddress" id="putEmailAddress" placeholder="이메일" required/>
                  <div id="emailCheckMsg" class="validmsg" value="N"></div>

                <input type="text" name="nameUser" id="nameUser" placeholder="이름" required/>
                  <div id="nameCheckMsg" class="validmsg" value="N"></div>

                  <label id="birth">
                    <div class="birthTitle"><span><img th:src="@{/images/birth.png}" alt="birth"></span> 생년월일</div>
                    <input type="date" name="birth" class="birth" value="yyyy-MM-dd" required/>
                </label>
                <div class="addressBox">
                    <input type="text" name="address1" id="address1" class="address" placeholder="주소지" required readonly/>
                    <button class="searchAddress" id="searchAddress">주소 검색</button>
                </div>
                  <div class="addressBox">
                      <input type="text" name="address2" id="address2" class="address" placeholder="주소지"/>
                  </div>
                <label id="termCheck">
                    <input type="checkbox" name="termsCheck" id="termsCheck" value="인증 약관 전체동의" required/>
                    <div class="showCheckbox"></div>
                    <span class="agreeAll1"><span class="agreeAll2">&nbsp;[필수]</span>&nbsp;인증 약관 전체동의</span>
                </label>
                <input type="submit" name="AuthBtn" id="AuthBtn" value="인증요청" onclick="testFunction()"/>

                  <script type="text/javascript">
                      function testFunction() {
                          if($("#termsCheck").is(":checked") == false){
                              alert("약관에 동의 하셔야 다음 단계로 진행 가능합니다.🥱");
                          }else{
                              $(".registForm").submit();
                          }
                      }
                  </script>

              </form>
            </div>
          </div>
        </section>


  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script th:inline="javascript">

    const $searchAddress = document.getElementById("searchAddress");

    $searchAddress.onclick = function() {

        new daum.Postcode ({
            oncomplete: function (data){
                document.getElementById("address1").value = data.address;
                document.getElementById("address2").focus();
            }
        }).open();
    }

  </script>
  </th:block>


</html>


 