input:focus{
    outline: none !important;
}

#FindPwd{
    width: 100%;
    padding: 230px 0;
}

#FindPwd .FindPwdWrap{
    width: 100%;
}

#FindPwd .FindPwdWrap .FindPwdContents{ 
    width: 45%;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    padding: 3% 5%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#FindPwd .FindPwdWrap .FindPwdContents h5.FindPwdTitle{
    width: 100%;
    position: absolute;
    left: 0;
    top: -30px;
    text-align: left;
}


#FindPwd .FindPwdWrap .FindPwdContents h5.PutInfoFormforPwdTitle{
    font-weight: 400;
    font-size: 1.2em;
}

#FindPwd .FindPwdWrap .FindPwdContents .PutInfoFormforPwdForm input#putId{
    background: url(../images/id.png) no-repeat 13px center;
    text-indent: 30px;
    padding: 3% 2%;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background-color: #DAECFF;
    margin: .5% 0;
}

#FindPwd .FindPwdWrap .FindPwdContents .PutInfoFormforPwdForm input#putEmailAddress{
    background: url(../images/email.png) no-repeat 13px center;
    text-indent: 30px;
    padding: 3% 2%;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background-color: #DAECFF;
}

#FindPwd .FindPwdWrap .FindPwdContents .PutInfoFormforPwdForm input#putId::placeholder{
    color: #929292;
}

#FindPwd .FindPwdWrap .FindPwdContents .PutInfoFormforPwdForm input#putEmailAddress::placeholder{
    color: #929292;
}

#FindPwd .FindPwdWrap .FindPwdContents .PutInfoFormforPwdForm p{
    font-weight: 300;
}

#FindPwd .FindPwdWrap .FindPwdContents .PutInfoFormforPwdForm input#AuthBtn{
    background-color: #9DC4E7;
    color: #fff;
    border:none;
    padding: 2%;
    width: 30%;
    margin-top: 6%;
    text-align: center;
    float: right;
    font-size: 0.9em;
    border-radius: 2px;
}


.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    clear: both;
}