.board-free-banner {
    width: 100%;
    height: 500px;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: #A6CEF7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#headers {
    z-index: 1;
}

.board-banner-image {
    position: absolute;
    top: 46%;
    left: 77%;
    width: 300px;
}

.board-button-back-image {
    position: absolute;
    top: 10%;
    left: 1%;
}

.board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.board-free-searchBar {
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.search-buttons {
    width: 100%;
    height: 130px;
    right: 10%;
    text-align: center;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
}

.board-write-buttons {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.search-by-text {
    background-color: #F6F6F6;
    width: 250px;
    height: 60px;
    border: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-by-text img {
    position: relative;
    right: 5%;
}

.search-by-text input {
    background-color: #F6F6F6;
    width: 60%;
    height: 60px;
    border: 0;
    border-radius: 5px;
}

.submit-button {
    background-color: #A6CEF7;
    width: 100px;
    height: 60px;
    border: 0;
    border-radius: 5px;
}

.submit-button button {
    width: 100%;
    height: 100%;
    background-color: #A6CEF7;
    border: 0;
    border-radius: 5px;
}

button[type="submit"]:hover {
    cursor: pointer;
}

button[type="button"]:hover {
    cursor: pointer;
}

.board-free-content-select-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board-select-header-buttons {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}

#like-button {
    border: 0;
    width: 54px;
    height: 54px;
    background-color: rgba(255, 255, 255, 0.5);
}

#report-button {
    border: 0;
    width: 54px;
    height: 54px;
    background-color: rgba(255, 255, 255, 0.5);
}

.board-free-content-title {
    width: 100%;
    height: 90px;
    border-top: 2px solid #787878;
    border-bottom: 1px solid #DBDBDB;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    white-space: nowrap;
}

#postNo {
    width: 5%;
    display: block;
}

#postTitle {
    width: 40%;
    display: block;
}

#postUser {
    width: 10%;
    display: block;
}

#postDate {
    width: 13%;
    display: block;
}

.board-select-content {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 50px;
}

.board-select-footer {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.board-select-footer > div > h6 {
    margin: 0;
}

.comment-section-title {
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid #DBDBDB;
    margin: 5px;
}

.comment {
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    margin: 5px;
}

.comment button {
    border: 0;
}

#comment-date {
    font-weight: lighter;
}

.comment img {
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
}

.comment-content {
    display: flex;
    justify-content: flex-start;
    width: 80%;
}

.comment-delete-button {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    bottom: 11%;
}

.comment-delete-button button {
    width: 90px;
    height: 50px;
    background-color: #EFEFEF;
    border-radius: 5px;
    border: 0;
}

.write-comment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100px;
    gap: 20px;
}

.write-comment-info {
    border: 0;
    background-color: #DBDBDB;
    width: 280px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.write-comment-content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.write-comment-content textarea{
    width: 100%;
    height: 100px;
    resize: none;
}

.write-comment-button {
    border: 0;
    background-color: #434343;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.write-comment-button button {
    border: 0;
    background-color: #434343;
    width: 150px;
    height: 100px;
    color: white;
    font-size: 16px;
}

.back-to-free-list {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px;
}

.back-to-free-list a {
    width: 120px;
    height: 60px;
    border: 0;
    border-radius: 5px;
    background-color: #A6CEF7;
    display: flex;
    justify-content: center;
    align-items: center;
}