.board-abandoned-banner {
    width: 100%;
    height: 500px;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: #A6CEF7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-banner-image {
    position: absolute;
    top: 46%;
    left: 77%;
    width: 300px;
}

.board-button-back-image {
    position: absolute;
    top: 10%;
    left: 1%;
}

.board-abandoned-header-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #639DD7;
}

.board-abandoned-header-menu div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #DBDBDB;
}

#abandoned-pickupInfo {
    border-right: 0;
}

.board-abandoned-header-menu div > a {
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.board-abandoned-searchBar {
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    position: relative;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.search-buttons {
    width: 100%;
    height: 130px;
    right: 10%;
    text-align: center;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
}

.board-write-buttons {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.abandoned-search-category {
    background-color: #F6F6F6;
    width: 120px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abandoned-search-category select {
    background-color: #F6F6F6;
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 5px;
}

.search-by-text {
    background-color: #F6F6F6;
    width: 250px;
    height: 60px;
    border: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-by-text img {
    position: relative;
    right: 5%;
}

.search-by-text input {
    background-color: #F6F6F6;
    width: 60%;
    height: 60px;
    border: 0;
    border-radius: 5px;
}

.abandoned-write-button button {
    position: relative;
    all : inherit;
}

.submit-button {
    background-color: #A6CEF7;
    width: 100px;
    height: 60px;
    border: 0;
    border-radius: 5px;
}

.submit-button button {
    width: 100%;
    height: 100%;
    background-color: #A6CEF7;
    border: 0;
    border-radius: 5px;
}

button[type="submit"]:hover {
    cursor: pointer;
}

.board-abandoned-center-content-container {
    width: 80%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.center-table {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.center-table div div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 1px;
    width: 100%;
    height: 60px;
}

.center-table div div div:first-child{
    font-size: 20px;
    font-weight: bold;
}

.jurisdiction-area {
    width: 20%;
}

.shelter-name {
    width: 20%;
}

.phone-number {
    width: 20%;
}

.shelter-address {
    width: 40%;
}

.board-paging-button {
    display: flex;
    width: 80%;
    height: 120px;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.board-paging-button button {
    border: 0;
}

#postPage1 {
    width: 40px;
    height: 40px;
    justify-content: center;
    text-align: center;
    position: relative;
}

#postPage1 h4 {
    position: absolute;
    left: 40%;
    top: 27%;
    color: #FFFFFF;
}

#postPage1 div {
    background-color: #787878;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

button[type="button"]:hover {
    cursor: pointer;
}