<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/matchingTestLayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block layout:fragment="content">
        <section id="MatchingTest4">
            <div class="MatchingTest4Wrap container">
                <h4>나에게 맞는 강아지 찾기</h4>

                <div class="MatchingTest4Content">
                    <h4 class="testQuestion">가족이 집을 비우는 경우는...</h4>
                    <div class="test4Img">
                        <img src="../matchingTest/images/TestImg4.png" alt="TestImg4">
                    </div>
                    <div class="testBtn">
                        <div class="selectBtn1"><a href="test5.html">집에 항상 사람이 있다.</a></div>
                        <div class="selectBtn1"><a href="test5.html">때때로 반려견이 혼자 있는다.</a></div>
                    </div>
                </div>
            </div>
        </section>
</th:block>


