<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/matchingTestLayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block layout:fragment="content">
        <section id="MatchingTest7">
            <div class="MatchingTest7Wrap container">
                <h4>나에게 맞는 강아지 찾기</h4>

                <div class="MatchingTest7Content">
                    <h4 class="testQuestion">반려견 양육 경험이 있는가...?</h4>
                    <div class="test7Img">
                        <img src="../matchingTest/images/TestImg7.png" alt="TestImg7">
                    </div>
                    <div class="testBtn">
                        <div class="selectBtn1"><a href="test8.html">예</a></div>
                        <div class="selectBtn1"><a href="test8.html">아니오</a></div>
                    </div>
                </div>
            </div>
        </section>
</th:block>


