/*
@media (max-width: 767px) {
    .wtBoxInsideText2-5 {
        position: relative;
        top: 100px;
    }
    .wtBoxInsideText2-7 {
        position: relative;
        top: 0;
    }
}

@media (min-width: 768px) {
    .wtBoxInsideText2-5 {
    }
    .wtBoxInsideText2-7 {
    }
}
*/

#webtoonBg {
    background-color: #a6cef7;
    border: 1px solid #dbdbdbdb;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    height: 500px;
    color: #ffffff;
    font-weight: bold;
    font-size: 50pt;
    position: relative;
}
.mainImg {
    content: "";
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 250px;
    height: 250px;
    background-size: contain;
}

.line {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
#line1 {
    border: 2px solid #78787878;
    width: 100%;
}

.line2 {
    width: 50%;
}
.webtoonBox1 {
    margin-top: 50px;
    border-bottom: 2px solid#787878;
    display: flex;
    align-items: center;
}
.webtonntext1 {
    color: #222222;
    font-size: 30px;
}
.webtoonText2 {
    font-size: 30px;
    color: #ffba68;
}
.webtoonPage1 {
    border: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 150px auto;
    width: 1400px;
    height: 460px;
}
.webtoonImg1 {
    width: 350px;
    height: 340px;
}
.webtoonBox3 {
    display: inline-block;
    margin-right: 50px;
}
.webtoonText3 {
    color: #b1b1b1;
    font-size: 30px;
    margin-bottom: 20px;
}
.webtoonText4 {
    color: #222222;
    font-size: 35px;
}
.webtonnText5 {
    color: #777777;
    font-size: 30px;
}

.webtoonText6 {
    font-size: 30px;
    color: #777777;
}
.webtoonText7{
    font-size: 30px;
    color: #ffba68;
}
.webtoonBox4 {
    display: flex;
}

.webtoonBox5 {
    display: block;
    margin-left: 40px;
    text-align: center;
}
.webtoonBox5 button {
    display: block;
}
.webtoonText8{
    width: 210px;
    height: 80px;
    font-size: 30px;
    background-color: #9dc4e7;
    color: #ffffff;
    margin-top: 40px;
    vertical-align: middle;
    text-align: center;
    border: none;
}
.webtoonText9{
    width: 210px;
    height: 80px;
    font-size: 30px;
    background-color: #9dc4e7;
    color: #ffffff;
    margin-top: 40px;
    vertical-align: middle;
    text-align: center;
    border: none;
}




