<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>


    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">


    <!--bootstrap-->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <div class=""></div>
    <!--css-->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <link rel="stylesheet" href="../css/sanitize.css">
    <link rel="stylesheet" href="../daaalgeEncyclopedia/css/encyclopediaMain.css">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
    <script type="text/javascript">
        $(document).ready( function() {
            $("#headers").load("../Component/header.html");
            $('#headers').css("position", "fixed");
            $('#headers').css("width", "100%");
            $('#headers').css("z-index", "5");
            $("#footers").load("../Component/footer.html");
            $('#footers').css("z-index", "5");
        });
    </script>
</head>
<body>
<div id="headers"></div>
    <div class="encycleTitle">
        <h3>다알개사전</h3>
    </div>


    <div class="encycleMain">
        <div class="encycleDesc">더 올바른 방법으로 사랑하는 방법</div>
        <div class="infoImageBox">
            <div class="infoImageAndDesc1">
                <a href="knowBeforeAdopt" class="infoImage1"><img src="../daaalgeEncyclopedia/images/encycleInfoImage1.png" width="286px" height="286px"></a>
                <div class="infoImageDesc1"><a href="knowBeforeAdopt">입양 전 필수 지식</a></div>
            </div>
            <div class="infoImageAndDesc2">
                <a href="knowAfterAdopt" class="infoImage2"><img src="../daaalgeEncyclopedia/images/encycleInfoImage2.png" width="286px" height="286px"></a>
                <div class="infoImageDesc1"><a href="knowAfterAdopt">양육시 필수 지식</a></div>
            </div>
            <div class="infoImageAndDesc3">
                <a href="knowEmergency" class="infoImage3"><img src="../daaalgeEncyclopedia/images/encycleInfoImage3.png" width="286px" height="286px"></a>
                <div class="infoImageDesc1"><a href="knowEmergency">응급 상황 대처 방법</a></div>
            </div>
            <div class="infoImageAndDesc4">
                <a href="petiket" class="infoImage4"><img src="../daaalgeEncyclopedia/images/encycleInfoImage4.png" width="286px" height="286px"></a>
                <div class="infoImageDesc1"><a href="petiket">함께 실천하는 펫티켓</a></div>
            </div>
        </div>
    </div>
    <div class="whiteSpaceEncycle">
        <div class="logoInPage"></div>
    </div>
    <div id="footers"></div>
</body>


