<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>양육시 필수 지식</title>


    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">


    <!--bootstrap-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    
    
    <!--css-->
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/mobile.css}" rel="stylesheet" />
    <link th:href="@{/css/sanitize.css}" rel="stylesheet" />
    <link th:href="@{/css/knowAfterAdopt.css}" rel="stylesheet" />
    
    <link th:href="@{https://unpkg.com/aos@2.3.1/dist/aos.css}" rel="stylesheet" />
    <link th:href="@{http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css}" rel="stylesheet" />
    <link th:href="@{https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css}" rel="stylesheet" />
    
    <!--js-->
    <script type="text/javascript" th:src="@{http://code.jquery.com/jquery-latest.min.js}"></script>
    <script type="text/javascript" th:src="@{https://unpkg.com/aos@2.3.1/dist/aos.js}"></script>
    <script type="text/javascript" th:src="@{https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/header.js}"></script>

    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
</head>
<body>
<div id="headers">
    <th:block th:include="component/header.html"></th:block>
</div>
<div class="tourBg">
    <h3>우리 아이와 함께<br>펫티켓을 만들어 나가요</h3>
</div>
<div class="knowAfterAdopt">

    <!-- 1페이지-->
    <img class="AfterAdopt1" height="260px" th:src="@{/images/knowAfterAdopt1.png}" />
    <div class="SubHeading1">반려인</div>
    <div class="Afterdesc1">📌일반적으로 강아지의 성장기는 1세까지입니다. 단, 대형견은 1.5~2세까지 성장해요. 강아지 성장기의 가장 중요한 시점은
        바로 생후 2~4개월인데요. 이때 한 경험,으로 성격이 형성되기 때문이에요. 이 시기를 사회화 시기라고 합니다.<br>
        따라서 이 시기에는 다양한 사람, 동물, 소리, 환경 등의 자극을 긍정적으로 생각할 수 있도록 훈련하는 게 매우 중요합니다.</div>
    </div>
    <div class="AfterText1">
        <img th:src="@{/images/knowAfterAdopt2.png}" />
        <div class="AfterTextSubstring1">작고 약한 이빨</div>
        <div class="AfterTextContent1">
            <br>
            💬강아지 유치는 생후 2주~10주 사이에 모두 자라게 됩니다. 그리고 생후 4~6개월에 유치가 빠지며 이갈이를 하게 됩니다.<br>
            유치는 매우 약하기 때문에, 이 시기에는 너무 딱딱한 간식이나 장난감은 주지 않는 게 좋습니다.<br><br>
            
            💬강아지는 총 28개의 유치를 가지고 있습니다. 유치는 앞니, 송곳니 그리고 어금니 순서대로 빠지게 되는데요.<br>
            유치가 모두 빠지면 총 42개의 영구치를 가지게 됩니다. 단, 턱 크기나 유전적 이유 등으로 42개가 모두 나지 않는 강아지도 있어요.<br><br>
            
            💬강아지 유치가 빠질 때, 강아지는 잇몸에 통증과 간지러움을 느껴요. 그래서 소파, 의자 다리, 옷 등을 물어 뜯게 될 수 있습니다.<br>
            이를 방지하기 위해 강아지가 이갈이를 시작했다면, 너무 딱딱하지 않은 라텍스같이 튼튼하면서도 말랑한 재질의 장난감을 주면 좋습니다.<br>
            💬강아지 유치가 제대로 빠지는지 확인해 보는 것도 중요해요. 유치가 자연스럽게 빠지지 않는 경우 병원에서 발치를 해 영구치가 제대로 나올 수 있게 도와줘야 합니다.<br><br><br>
        </div>
        <img th:src="@{/images/knowAfterAdopt3.png}" />
        <div class="AfterTextSubstring1">첫 건강 관리</div>
        <div class="AfterTextContent1">
            <br>
            💬강아지가 성장기일 땐 특별히 아프지 않다고 하더라도 동물병원에 자주 가야 합니다. 여러 차례에 걸쳐 강아지 예방접종을 해야 하며, 중성화 수술을 할 수도 있기 때문이에요.<br><br>
            
            💬특히, 이 시기에 선천적 질병이나 유전병이 있지 않은지도 꼭 확인합시다.<br><br>
            
            💬강아지 중성화 수술에는 장단점이 분명히 있어요. 중성화 수술을 하면 수컷은 고환암, 전립선 질병 그리고 암컷은 유선 종양, 자궁축농증 등의 질병을 예방할 수 있습니다. 반대로 살이 쉽게 찔 수 있고 정형외과 질병 위험이 높아질 위험도 있습니다.<br>
            중성화 수술의 장단점에 대해 알아보고, 수술을 할지 말지 충분히 고민해 보세요.<br><br>
            
            💬강아지 예방접종은 약 6회에 걸쳐 접종을 마칩니다. 2주 간격으로, 한 번에 2~3가지의 백신을 맞게 돼요. 접종을 모두 마친 뒤에는 1년 주기로 재접종을 하면 됩니다. 참고로 필수 백신의 경우 종합백신, 코로나 장염, 켄넬코프, 관견병이 있어요. 인플루엔자는 선택 사항입니다.<br><br>
            
            💬선천적으로 질병을 가지고 태어나는 경우도 있어요. 그중, 빠르게 발견하고 치료하면 완치가 가능한 질병도 있습니다.<br>
            예를 들어, 선천성 심장 기형인 동맥관개종증(PDA)는 생후 1년 이내에 발견하면 대부분 치료가 가능한데요.<br>
            치료하지 않으면 생후 2~3년 이내에 사망할 확률이 약 70%나 됩니다.<br>
        </div>
    </div>
    <div class="gapBox"></div>

    <!-- 2페이지 -->
    <img class="AfterAdopt2" height="260px" th:src="@{/images/knowAfterAdopt4.png}" />

    <div class="gapBox2"></div>

    <div class="SubHeading2">성인기 (1세~7세)</div>
    <div class="gapBox3"></div>
    <div class="Afterdesc1">📌강아지는 1년간의 폭풍 성장을 마치면 성견이 되는데요. 성견이 되었다고 해서 갑자기 의젓해지는 것은 아닙니다.</div>
    </div>

    <div class="AfterText1">
        <img th:src="@{/images/knowAfterAdopt5.png}" />
        <div class="AfterTextSubstring1">개춘기</div>
        <div class="AfterTextContent1">
            <br>
            💬성견이 되었어도, 강아지 생후 2세까지는 강아지 사춘기(개춘기)라고 불리는 시기입니다. 이 시기에는 강아지가 에너지가 넘쳐서 각종 사고를 칠 수 있어요.<br><br>

            💬따라서, 강아지가 에너지를 모두 발산할 수 있도록 산책과 놀이를 충분히 시켜주는 게 매우 중요합니다. 또한, 앉아, 기다려, 켄넬 훈련 같은 기본 훈련을 시키는 게 좋은데요.<br>
            이런 훈련들은 강아지의 흥분, 습관성 짖음 그리고 공격성 같은 행동을 고치는 데 도움이 됩니다.<br><br>

            💬사춘기에 물건을 마구 물어뜯는 강아지도 많아요. 이 시기에도 이갈이 시기와 마찬가지로 씹기 좋은 장난감을 주는 게 좋습니다.<br>
            단, 영구치가 난 상태이기 때문에 조금 더 튼튼한 장난감을 주는 게 좋습니다.<br><br>

            💬사춘기 강아지는 에너지가 넘치기 때문에 활동량을 늘려줘야 하는데요. 하지만, 아직 골격이 완벽한 상태는 아니라 너무 강도 높은 격한 운동을 할 경우 관절에 무리가 갈 수 있습니다.<br>
            따라서, 노즈워크 같은 머리를 써야 하는 놀이를 해주면 좋습니다.<br><br><br>
        </div>
        
        <img th:src="@{/images/knowAfterAdopt6.png}" />
        <div class="AfterTextSubstring1">마음 여린 어른</div>
        <div class="AfterTextContent1">
            <br>
            💬사춘기가 지나 강아지가 생후 2~3세가 되면 주변 환경에 적응을 해서 정서적으로 안정되고 차분해집니다.<br>
            하지만 차분해졌다고 해서 충분히 강아지를 놀아주지 않거나 혼자 두는 시간이 늘어나게 되면 우울증이나 분리불안이 올 수 있으니 주의가 필요합니다.<br>
            💬동물행동학자들에 의하면, 성견의 경우 하루에 4~6시간 정도 혼자 있어도 괜찮다고 합니다. 최대한 강아지와 오랜 시간 함께 하려고 노력하는 게 좋습니다.<br>
            긴 외출을 할 경우, 외출 전에 미리 시간을 내 산책을 해주는 게 좋습니다.<br><br><br>
        </div>
        
        <img th:src="@{/images/knowAfterAdopt6-1.png}" />
        <div class="AfterTextSubstring1">꾸준한 관리</div>
        <div class="AfterTextContent1">
            <br>
            💬성견이 되면 성장기 때와 달리 자주 동물병원에 갈 일이 없습니다. 건강에 큰 이상이 생기는 경우도 드물기 때문에 예방접종을 할 때 정도만 데려갑니다.<br>
            그런 만큼, 성장기 강아지의 건강을 위해서는 보호자의 세심한 관찰이 중요합니다.<br> 평소 활동량, 식욕, 대소변 상태 등을 잘 확인하고 1년에 1~2회 정도 정기검진을 받으면 좋습니다.<br>
            💬강아지 건강에 특별한 문제가 없더라도, 증상이 잘 발현되지 않는 질병도 있어 1년에 1회 정도는 건강 검진을 해주는 게 좋습니다.<br>
            이 시기에는 가장 기본적인 건강검진 항목만 해보는 것도 방법이에요. 이 시기에는 건강을 위해 꾸준한 운동,<br>
            균형 잡힌 식사 급여 그리고 양치질을 잘 해주는 정도의 관리를 해주면 좋습니다.
        </div>
    </div>

    <!-- 3페이지-->
    <div class="gapBox"></div>
    <img class="AfterAdopt1" height="260px" th:src="@{/images/knowAfterAdopt7.png}" />
    <div class="SubHeading1">노년기 (8세~)</div>
    <div class="Afterdesc1">
        📌강아지 노년기는 보통 7~8세 이후를 의미하는데요. 이 시기에는 서서히, 많은 변화가 나타납니다.<br>
        예를 들어, 예전처럼 에너지가 넘치지 않고 행동이 느려지게 됩니다. 피부에는 검버섯이 생기기도 하며, 시력과 청력이 떨어지고 이빨도 많이 약해집니다.
    </div>
    </div>
    <div class="AfterText1">
        <img th:src="@{/images/knowAfterAdopt8.png}" />
        <div class="AfterTextSubstring1">노년기 (8세~)</div>
        <div class="AfterTextContent1">
            <br>
            💬노견 가족의 일상은 조금 달라집니다. 어릴 때는 신나게 뛰며 산책을 했다면 이제는 느리게 여유 있는 산책을 해야 합니다.<br>
            치아와 잇몸이 약해진 경우 먹는 것도 신경 써야 하는데요. 치아와 잇몸에 무리를 주지 않는 부드러운 사료와 간식을 주는 게 좋습니다.<br><br>

            💬만약 시력 저하로 인해 앞을 잘 보지 못한다면 가구에 완충재를 붙이고 갑잡기 큰소리를 내지 않는 등의 배려가 필요합니다.<br><br>

            💬노견의 경우 체력이 떨어지고 관절도 약해지는 등 건강 상태가 나빠지는 경우가 많습니다.<br>
            그래서 너무 격한 운동은 하지 않는 게 좋습니다. 특히, 강아지에게 질병이 있는 경우 격한 운동을 하다가 쓰러지는 경우도 있으니 주의해 주세요.<br><br><br>
        </div>
        
        <img th:src="@{/images/knowAfterAdopt9.png}" />
        <div class="AfterTextSubstring1">건강 체크 필수</div>
        <div class="AfterTextContent1">
            <br>
            💬노견을 키운다면 건강 상태를 더 열심히 확인해야 합니다. 눈이 탁해지지 않았는지, 눈곱 및 눈물량 증가 여부, 혀 색깔, 피부 등 강아지의 외관은 물론이고 대소변, 식욕, 활력 등도 잘 살펴봅시다.<br><br>
            
            💬노견의 경우 건강해 보일 수 있지만 면역력도 많이 약해집니다.<br>
            그래서 스트레스를 받거나 작은 질병에 노출되어도 건강이 빠르게 악화될 수 있습니다. 따라서, 반드시 1년에 1~2회 정기 검진을 받아야 할 필요가 있습니다.<br>
            노견이 되면 신장, 심장 등 각종 신체 기관의 기능도 떨어지며 이로 인해 질병이 발생할 수 있다는 걸 알아둡시다.<br><br>
            
            💬강아지 눈이 탁해졌다면, 크게는 백내장 그리고 핵경화증 두 가지를 의심해 볼 수 있습니다. 핵경화증은 단순히 노화로 인한 증상으로 시력에는 큰 문제가 없습니다. 다만, 백내장의 경우 실명이나 다른 안과 질환으로 이어질 수 있습니다.<br>
            이 두 가지 질병은 전문가가 아니라면 구분이 어렵습니다. 그러니 눈이 탁해 보인다면 우선 병원에서 확인해 보는 게 좋습니다.
        </div>
    </div>
    <div class="whiteSpaceEncycle">
        <div class="logoInPage"></div>
    </div>
    <div>
        <th:block th:include="component/footer.html"></th:block>
    </div>
</body>


