<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>응급상황 대처 방법</title>


    <!--meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="le=edge">
    
    
    <!--bootstrap-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    
    
    <!--css-->
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/mobile.css}" rel="stylesheet" />
    <link th:href="@{/css/sanitize.css}" rel="stylesheet" />
    <link th:href="@{/css/knowAfterAdopt.css}" rel="stylesheet" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" rel="stylesheet" />

    <!--js-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/header.js}"></script>
    <script type="text/javascript" th:src="@{/js/encyclopedia.js}"></script>

    <!--favicon--->
    <link href="favicon.ico" rel="icon">
    <link href="favicon.ico" rel="apple-touch-icon">
</head>
<body>
<div id="headers">
    <th:block th:include="component/header.html"></th:block>
</div>
<div class="tourBg">
    <h3>응급 상황 발생!<br>어떡해요?</h3>
</div>
<input type="hidden" name="getUrl" th:value="${getUrl}">
<div class="knowAfterAdopt"></div>

    <!-- 1페이지-->
    <img class="AfterAdopt1" height="260px" th:src="@{/images/emergency1.png}" />
    <div class="SubHeading3">병원이 우선이지만<br> 응급상황에서는<br> 응급처치가 필요합니다.</div>
    <div class="Afterdesc1">📌내 강아지가 숨을 못쉬거나 발작을 일으키는 경우 갑작스러운 응급상황이 살면서 단 한번은 올수가 있습니다.<br>
        그때 순간적인 대처를 잘 하느냐 못하느냐에 따라 강아지의 생명이 달려 있는데요<br>
        만약 응급처치 방벙을 모른다면 내 강아지의 소중한 생명을 지키지 못하는 경우가 올수 있으니 알아두는 것이 좋습니다!</div>
    
    <!--<div class="AfterText1">
        <img th:src="@{/images/emergency2.png}" />
        <div class="AfterTextSubstring1">잘못먹었을때,</div>
        <div class="AfterTextContent1">
            <br>
            💬간식을 먹거나 이물질을 먹어 기도가 막혔을 때는 먼저 해주셔야 할 것은 첫번째 거꾸로 들기 입니다.<br>
            뒷다리를 잡고 위로 들어 물구나무서기 하는 자세를 취해 주고 여러번 강아하게 움직여 줍니다.<br>
            대형견의 경우는 앞다리가 땅에 딛게 해도 됩니다.<br>
            다음은 어깨 사이를 강하게 쳐주기 입니다.<br>
            어깨뼈 사이의 등 부분을 4~5회 강하게 쳐줍니다.<br>
            마지막으로 하임리히 방법 을 이용합니다.<br>
            마지막 갈비뼈 아래에 주먹이나 손가락을 대고 다른 손으로 강하게 눌러 압박 합니다. 갈비뼈가 부러지지 않게 조심합니다.<br><br>
        </div>

        <div class="AfterTextSubstring1">먹지 말아야할것을 이미 먹었을 때</div>
        <div class="AfterTextContent1">
            <br>
            💬그리고 강아지가 먹지 말아야 할 (초코릿, 커피, 카페인, 알코올, 아보카도, 마카다미아, 포도, 건포도, 양파, 마늘, 파) 이미 먹고 먹은 상태가 얼마 안됐다면 토하게 해주는 것이 중요합니다.<br>
            여기서 먹은지 2시간 이상이라면 바로 병원에 가시길 바라며병원에 가서 처치 받길 바랍니다.
            <br><br><br>
        </div>
        
        
        <img th:src="@{/images/emergency3.png}" />
        <div class="AfterTextSubstring1">숨을 못쉴때(인공호흡법)</div>
        <div class="AfterTextContent1">
            <br>
            💬사람처럼 동물들도 인공호흡을 할 수 있습니다. 먼저 숨을 쉬는지 확인 해주시고 숨을 체크 하는 방법은 안경 또는 거울로 코 앞에 대면 김이 서리는지 안서리는지 체크 해보시면 됩니다.<br>
            숨을 쉬지 않는 것이 확인 된다면 입을 막은 상태에서 강아지 코에 입을 대고 바람을 불어 넣어 주시면 됩니다.<br>
            (이때는 강아지의 목이 펴진 상태에서 해줘야 합니다.) 제대로 인공호흡이 된다면 가슴이 부풀어 오릅니다.<br>
            인공 호흡하는 횟수는 1분에 12~15회가 적당 합니다. (3초~5초에 1회) 입니다.<br><br>
            여기서 중요한 것은<br> 입을 다물고 코에 인공호흡을 해주셔야 합니다.<br><br><br>
        </div>
        
        <img th:src="@{/images/emergency4.png}" />
        <div class="AfterTextSubstring1">심장이 안뛸때(심장마비)</div>
        <div class="AfterTextContent1">
            <br>
            💬심장이 멎었는지 가슴 부위에 귀나 손을 대봤을 때 박동이 느껴지지 않거나, 대퇴부 안쪽 을 손가락으로 눌렸을때 맥박이 느껴지지 않는 것이 확인 된다면 심장마사지를 해주셔야 합니다.
            심장마사지는 소형견과 대형견의 차이가 있습니다.<br><br>
            먼저 평평한 곳에 눕힙니다.<br>
            10kg이하의 소형견은 한 손을 심장 부위 (어깨 뒤, 와 배 쪽 가슴) 양쪽 가슴을 감싸듯이 쥐고 가슴의 1/3정도가 눌리도록 압박해 줍니다.<br>
            1분당 100회를 실시 합니다.<br><br>
            10kg이상 중대형견은 손을 심장 부위 한쪽 가슴에 놓고, 가슴의 1/3 정도가 눌리도록 압박합니다. 압박할 때 는 팔굽치가 구부려지지 않아야 제대로 눌러줄수 있습니다. 분당 80회 정도 실시 합니다.<br><br>
            심장 마사지와 함꼐 인공호흡을 실시 합니다. 인공호흡은 바로 알려 드리겠습니다.<br>
            너무 세게 압박하면 늑골이 부러지거나 폐출혈이 발생 할수 있으니 주의하시기 바랍니다. 10분이상 했는데 돌아오지 않으면 가망이 없습니다.<br><br><br>
        </div>
        
        <img th:src="@{/images/emergency5.png}" />
        <div class="AfterTextSubstring1">발작할 때</div>
        <div class="AfterTextContent1">
            <br>
            💬갑작게 발작을 이르킨다면 호흡을 유지할 수 있도록 고개를 들어 기도를 확보합니다.<br>
            혀가 말려들어가 기도가 막히는 경우가 있기 때문에 손가락으로 혀를 잡아 기도 확보를 해주셔야 안전합니다.<br>
            머리가 부딪히지 않도록 감싸줍니다.<br>
            발작을 일으키는 동영상을 확보해서 동물병원에 보여주면 보다 정확한 원인을 알 수 있으므로, 가능하다면 동영상을 찍어두는 것도 방법입니다.<br>
            어느정도 발작이 멎었으면 병원에 가서 꼭 진찰을 받으시길 바랍니다.<br>
        </div>
    </div>-->
    <div class="whiteSpaceEncycle">
        <div class="logoInPage"></div>
    </div>
    <div>
        <th:block th:include="component/footer.html"></th:block>
    </div>
</body>


